[2015-05-13 22:07] stacy-hunt commented on #1234
See what you think of this:

![image](https://cloud.githubusercontent.com/assets/1924932/7622165/b7cf6c8c-f981-11e4-8722-a258c50a6554.png)

[2015-05-13 22:41] ijroth commented on #1234
I like, FWIW

[2015-05-13 22:48] altsang commented on #1234
+1, looks good to me, can we have some proposals on guidelines of what would go in the hamburger menu versus being a first class citizen (e.g. app controller - for now, and docs)

[2015-05-13 22:49] rmg commented on #1234
It doesn't make me think "if I press this to see what it does it will probably kill my app", so :+1: from me

[2015-05-14 01:47] stacy-hunt commented on #1235
I'm not sure I'm really sold on any of these - but see what you guys think. If there isn't one that really nails it I'll keep trying.

![image](https://cloud.githubusercontent.com/assets/1924932/7624610/8a130ad2-f9a0-11e4-96f8-ff00a1ddde31.png)

[2015-05-14 01:54] stacy-hunt commented on #1210
OK, image has been updated with rem as the units instead of pts

[2015-05-14 01:59] stacy-hunt commented on #1211
Updated the spec

[2015-05-14 02:00] stacy-hunt commented on #1212
Spec updated with relative dimensions

[2015-05-14 02:04] stacy-hunt commented on #1213
Spec updated

[2015-05-14 02:10] altsang commented on #1235
#4, and then #1?

[2015-05-14 02:13] stacy-hunt commented on #1209
I think that Joe has already built this and added it to the style guide, hasn't he?

![image](https://cloud.githubusercontent.com/assets/1924932/7624858/19089e5c-f9a4-11e4-8ed3-97aef54a8f48.png)

[2015-05-14 02:36] stacy-hunt commented on #1215
Anyone have further cases to add to this?

[2015-05-14 02:41] chandadharap commented on #1235
They all look like Cloud deployments. Not sure thats the right icon.

On Wednesday, May 13, 2015, Al Tsang <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps ca

[2015-05-14 04:42] altsang commented on #1212
@seanbrookes, @jtary, @anthonyettinger - are we good here?  if so  I'll put to TOB to be assigned for implementation

[2015-05-14 04:48] altsang commented on #1234
@anthonyettinger, @jtary, @seanbrookes - feedback before I created story for implementation?

[2015-05-14 05:29] altsang commented on #1213
@seanbrookes, @jtary, @anthonyettinger - feedback? all good?

[2015-05-14 05:30] altsang commented on #1214
@seanbrookes, @jtary, @anthonyettinger - feedback?

[2015-05-14 05:31] altsang commented on #1210
@seanbrookes, @jtary, @anthonyettinger - feedback? all good?

[2015-05-14 05:31] altsang commented on #1209
@jtary - this is already added?

[2015-05-14 05:32] altsang commented on #1210
@seanbrookes, @jtary, @anthonyettinger - feedback? all good?

[2015-05-14 15:46] seanbrookes commented on #1210
LGTM

[2015-05-14 16:05] jtary commented on #1209
@altsang yes, it's complete in the branch.

[2015-05-14 17:19] jtary commented on #1213
looks good to me

[2015-05-14 17:19] jtary commented on #1214
Looks good to me

[2015-05-14 17:36] #1067 closed

[2015-05-14 17:38] altsang opened #1241 "Arc: Spike on Visual Composite Model - backend piece"
As a SL developer using Arc, I would want a way to visually compose course grain APIs that client views would directly consume that is made up of microservices models, so that I can service clients more efficiently.

two parts: back end and front end
- [ ] need to augment workspace API so that LB models can be "mixed" into a composite model
- [ ] composite model will only runnable on the StrongLoo

[2015-05-14 17:45] altsang opened #1242 "Arc: Spike on Visual Composition - front end piece"
As a SL developer using Arc, I would want a way to visually compose course grain APIs that client views would directly consume that is made up of microservices models, so that I can service clients more efficiently.

two parts: back end and front end
- [ ] need to explore D3 for early UX exploration from our studio discussion:
** https://drive.google.com/open?id=0B1FTzkB7697GZnByamFQZzhHV0k&authus

[2015-05-14 18:04] altsang opened #1243 "Arc: new module for gateway policy config of pre-canned policies - backend"
As a SL gateway admin, I would want an Arc module to be able to configure pre-bulit policies, so that I can easily configure the gateway without having to modify JSON or use CLI tooling to populate values and parameters.

- [ ] need workspace API (even if temporary) to modify the pre-built policies - note that this is NON rules based policy composition

[2015-05-14 18:25] altsang commented on #1209
fantastic - verified on master, looks great

[2015-05-14 18:26] #1209 closed

[2015-05-14 18:27] altsang commented on #1210
next step - implementation - putting back into TOB

[2015-05-14 18:29] altsang commented on #1211
@anthonyettinger, @seanbrookes, @jtary - all good?

[2015-05-14 19:00] altsang commented on #1214
putting to TOB for implementation

[2015-05-14 19:03] altsang commented on #1213
moving back to TOB

[2015-05-14 21:54] altsang commented on #1232
@seanbrookes, @jtary, @anthonyettinger - thoughts?  LGTM
FWIW - I actually like this more because it's lighterweight

[2015-05-14 22:06] altsang commented on #1210
ready for review - nvm

[2015-05-14 22:08] altsang commented on #1232
NVM again - I'll verify on master

[2015-05-14 22:09] altsang commented on #1234
assigning to @anthonyettinger

[2015-05-14 22:21] altsang commented on #1211
@anthonyettinger  - to implement, @seanbrookes to use on Tracing for invalid app messaging when trying host

[2015-05-14 23:27] altsang commented on #1235
@stacy-hunt to noodle on this more, for now, @anthonyettinger is going to use one of them as a placeholder

[2015-05-14 23:30] altsang commented on #1210
reviewed on master, all good :+1:

[2015-05-14 23:30] #1210 closed

[2015-05-14 23:31] altsang commented on #1232
verified on master, looks good :+1:

[2015-05-14 23:31] #1232 closed

[2015-05-14 23:33] altsang opened #1244 "apply breadcrumb style: Tracing"
As a SL developer, I would want to use a component for breadcrumb navigation so that I can have a consistent experience between Arc modules

- [x] retrofit breadcrumb style to Tracing

connected to #1367

[2015-05-14 23:34] altsang opened #1245 "apply breadcrumb style: API Analytics"
As a SL developer, I would want to use a component for breadcrumb navigation so that I can have a consistent experience between Arc modules

- [ ] apply breadcrumb style from guide to API Analytics module

[2015-05-14 23:36] seanbrookes commented on #1234
LGTM

On Thu, May 14, 2015 at 3:09 PM, Al Tsang <notifications@github.com> wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/> like monitoring,
debugging and clustering**.*

[2015-05-14 23:54] altsang commented on #1144
@stacy-hunt this is in the style guide now, assigning to you to verify...

per @jtary

[2015-05-15 15:27] stacy-hunt commented on #1235
Here's a link to the placeholder svg icon. The 2 files are called "API_analytics_over" and "API_analytics_out":
https://drive.google.com/open?id=0B1FTzkB7697GdTY5Nm1UaHJQZHc&authuser=0

[2015-05-15 20:02] anthonyettinger commented on #1187
added icon to landing page.

[2015-05-17 05:28] chandadharap commented on #1187
I'm creating a separate story for QA with details on the spec @altsang created which outlines expected behavior. @anthonyettinger I'll tag you in it so you can be informed.

This is merged, so I'll close after demo.

[2015-05-18 03:33] kvslee commented on #933
It would be awesome to add a feature that chooses a schema other than public.

[2015-05-18 18:55] chandadharap commented on #1187
Closing, as VD comps are integrated into functional code.

[2015-05-18 18:55] #1187 closed

[2015-05-18 19:06] chandadharap commented on #1144
@stacy-hunt Can we please close?

[2015-05-18 19:17] chandadharap commented on #1212
@altsang Can we close this and I'm sure you have a new story for implementation thats not titled "adding to style guide".

[2015-05-18 21:29] #1144 closed

[2015-05-18 21:30] stacy-hunt commented on #1144
Yep, just made a few tweaks to it with Anthony and checked consistency with the other dialogs. It's good to go now.

[2015-05-19 06:24] altsang opened #1250 "Styleguide: Context Notification Message to be implemented in Styleguide"
As a SL developer utilizing the styleguide I would like the context notification message implemented so I can standardize my messaging UX.

please see #1214

[2015-05-19 06:25] #1214 closed

[2015-05-19 06:25] altsang opened #1251 "Styleguide: Context Information Message implementation"
As a SL developer utilizing the styleguide I would like the context information message implemented so I can standardize my messaging UX.

please see #1213

[2015-05-19 06:27] altsang opened #1252 "Styleguide: context defcon message implementaiton"
As a SL developer utilizing the styleguide I would like the context defcon message implemented so I can standardize my messaging UX.

please see #1215

[2015-05-19 06:28] altsang commented on #1212
implementation in #1252

[2015-05-19 06:28] #1212 closed

[2015-05-19 06:29] altsang opened #1253 "Styleguide: context defcon message implementation"
As a SL developer utilizing the styleguide I would like the context defcon message implemented so I can standardize my messaging UX.

please see #1215

[2015-05-19 06:30] altsang commented on #1215
no further comments - closing
implementation in #1253

[2015-05-19 06:32] altsang opened #1254 "Styleguide: system information message implementation"
As a SL developer utilizing the styleguide I would like the system information message implemented so I can standardize my messaging UX.

please see #1211

[2015-05-19 06:32] altsang commented on #1211
implementation into styleguide #1254

[2015-05-19 16:30] chandadharap commented on #1245
done.

[2015-05-19 16:30] #1245 closed

[2015-05-19 17:37] anthonyettinger commented on #1211
looks good. I assume this is for the growl style? It would be helpful to show a screenshot of it on the page.

[2015-05-19 17:37] anthonyettinger commented on #1211
@stacy-hunt ^

[2015-05-19 17:42] anthonyettinger commented on #1212
looks good.

[2015-05-19 17:43] anthonyettinger commented on #1213
@stacy-hunt Can you specify drop-shadow?

[2015-05-19 19:04] #651 closed

[2015-05-20 04:09] Acaspita opened #1256 "slc arc --> TypeError: undefined is not a function at C:\...\strong-mesh-client\proxy\boot\manager-host.js:43:16"
After running slc arc in the folder of a loopback app, I get this: (Under Windows 8.1)
[code]

[2015-05-20 18:21] crandmck opened #1257 "Add module-level contextual help for API Analytics"
The API Analytics Arc module does not have contextual-help as all the other modules do:
![missing analytics help](https://cloud.githubusercontent.com/assets/2925364/7733133/119b3498-fee2-11e4-9d1d-786368020d8f.png)

I added a placeholder Confluence article: http://docs.strongloop.com/display/SLC/API+Analytics
The ID is 6719905
It just needs to be hooked up the UI.

[2015-05-20 19:03] seanbrookes opened #1258 "browserify Arc vendor libraries"

[2015-05-20 19:04] seanbrookes opened #1259 "spike on converting Arc to AMD (require) dependency injection"

[2015-05-20 22:07] anthonyettinger commented on #1257
ok, thanks. Will get to it before next release. @chandadharap

[2015-05-20 22:17] #1181 closed

[2015-05-20 23:01] anthonyettinger opened #1261 "remove browserify `d3` and `jquery` references in tracing packages"
ongoing conversation about this approach is happening in one of the PRs: https://github.com/strongloop/cxviz-eventloop/pull/3

connected to https://github.com/strongloop/strong-arc/pull/1361

[2015-05-21 20:02] anthonyettinger opened #1266 "Remove page heading from analytics"

[2015-05-22 05:18] chandadharap commented on #1261
Please comment on why this is pulled into current Sprint? Is this urgent to bring in mid-sprint? Usually please check with me before bringing into Sprint.

[2015-05-22 05:36] anthonyettinger commented on #1261
this is a fix that needs to happen for this release.

part of the d3 conflict error we were having when we introduced browserify

[2015-05-22 18:58] altsang commented on #1266
@anthonyettinger - looks good, please left align like in profiler and metrics

[2015-05-26 17:55] #1266 closed

[2015-05-26 22:20] anthonyettinger commented on #939
upstream repo has a fix for this. We should only have to update our package.

[2015-05-26 23:10] anthonyettinger commented on #1197
@stacy-hunt can you link the SVG icon here?

[2015-05-27 05:20] stacy-hunt commented on #1197
https://drive.google.com/folderview?id=0B1FTzkB7697GaFl6QnlFUDh3Z2c&usp=sharing
I replaced the old appController SVG assets with the new ones.
Note that this folder also contains SVG assets for the new menu button (replaces the power button)

[2015-05-27 18:45] altsang commented on #1197
looks sweet, verified on master

[2015-05-27 18:45] #1197 closed

[2015-05-27 18:46] altsang commented on #1234
looks great, verified on master

[2015-05-27 18:46] #1234 closed

[2015-05-27 19:40] crandmck opened #1283 "Unhelpful error message when connecting to PM with no deployed app"
1. Start PM with `slc pm`
1. In Arc, go to "Process Manager".
1. Enter the PM URL, e.g. `http://localhost:8701`. **App Status** shows "Problem" in red.
1. Click on the red question mark.

![](http://content.screencast.com/users/RandMck/folders/Jing/media/9761af39-3734-45b6-a367-dfd64cfad429/00000266.png)

The error message is not helpful.

Suggestion: "No application found.  You must deploy an app

[2015-05-27 20:35] seanbrookes commented on #1283
yeah this is new - my guess is it is a result of  multi-app pm.
we already have a message for 'no app found' will take a look to make sure it is the same use case

[2015-05-27 20:58] #1109 closed

[2015-05-28 16:11] #1283 closed

[2015-05-28 21:13] chandadharap commented on #1221
done.

[2015-05-28 21:13] #1221 closed

[2015-05-28 21:20] crandmck opened #1288 "Improve readability of contextual help"
There are a few issues with the display of contextual help.  A bit of TLC would go a long way to improve its readability and usefulness.

1. The help "box" should be a bit wider, so that the user doesn't have to scroll down as much.  Particularly for Tracing, which has more detailed help content, having such a narrow display makes it difficult to read.
1. Bullet lists are not displayed properly.

[2015-05-28 21:28] ijroth commented on #1288
This is awkward… should we be allowing two windows to be open at once? It’s not actually useful since you can’t read them both. And it looks like a bug not intentional.

![help1](https://cloud.githubusercontent.com/assets/3821533/7871607/d02b0852-0545-11e5-915f-5cc51ceac2e2.png)

It’s also awkward that the size of the scrolling window is larger than my browser window. It looks unclean and buggy th

[2015-05-28 22:44] chandadharap commented on #1288
@altsang Can we fix this in the immediate?

[2015-05-28 23:02] altsang commented on #1288
would love to fix it, we slammed in contextual help as a component to be re-used but didn't have much of a chance to harden it at all

[2015-05-28 23:28] anthonyettinger commented on #1288
We can make wider. We also would need to attach an event to the document to hide all open help modules when you open one. As far as the content box appearing to go below the fold, that's not something we have much control over. As long as you can scroll the page window to reveal it, I wouldn't consider it a "bug".  This will be better if the module is wider and not as tall. But there's nothing sto

[2015-05-29 16:35] crandmck commented on #1288
+1 ... The help boxes should be "modal" i.e. when you open one, all others are automatically closed.

[2015-05-29 17:27] chandadharap commented on #1288
@anthonyettinger I'll add it to Planning for Tuesday's sprint planning. Will be nice to fix!

[2015-05-29 17:36] crandmck commented on #1288
OK, please note that there are three distinct issues here:
- Help boxes are too narrow.
- Help doesn't display bullet lists correctly.
- Help boxes should be modal.

[2015-05-29 19:02] altsang opened #1290 "Arc: implement in-app messaging"
As an Arc user I would want the ability to send and receive messages within Arc itself so that I don't have to go to another client to communicate back to SL.

- [x] using Intercom  in-app messaging
- [x] conduct UX on insertion point to invoke functionality - we we use a separate button/widget or menu item on the hamburger icon?
- [x] Intercom  messaging widget needs to be stylzed for Arc - see h

[2015-06-01 14:24] chandadharap commented on #176
Anthony already did the work in this story, Im not sure now is the best time for feedback and pulling back.

I believe this is also in wait state? If so please add a label.

[2015-06-01 20:42] crandmck opened #1295 "Arc PM host field should be more forgiving"
When trying to connect to a PM instance, if user mistakenly enters `http://` in front of the host name (e.g. "http://localhost") since that's how you do it with the CLI (e.g. `slc ctl -C http://localhost`), Arc will not connect to the running PM instance.

![locahost thing2](https://cloud.githubusercontent.com/assets/2925364/7922835/ba96741a-0863-11e5-8a16-d7f42e53918e.png)

The error message just

[2015-06-02 03:09] altsang opened #1300 "SL Gateway: need to break out strong-gateway-demo into tutorial"
As a SL LB user, I want to be able to download the new SL Gateway and use it with my LB backend.

strong-gateway-demo needs to be broken up into its parts

@superkhau - please append outline of tutorial

[2015-06-02 07:24] superkhau commented on #1300
1. create api server (notes)
2. spin up the client app and show it using the api server
3. introduce gateway, hook up client app with gateway reverse proxy to api server
  - proxy without protection
  - enforce protection
    - register client and users
      - describe sample-data.json as a precanned for our demo purpose only
    - tweak client to exercise oauth 2 flow
      - fetch access token

[2015-06-02 16:06] #1300 closed

[2015-06-02 16:51] altsang opened #1304 "Licensing: next iteration of licensing page with renewal buttons"
As a SL arc user, I will initially receive a 30 day license and then the feature will expire, I would like a renew button at the feature level only that I can request a renewal of the license.

- [ ] remove product level checkboxes
- [ ] renewal button
- [ ] remove auto renew logic

Updated visual design:

![image](https://cloud.githubusercontent.com/assets/1924932/8012296/2d218efc-0b75-11e5-979e-

[2015-06-02 17:00] chandadharap opened #1305 "Annoucement video blog for Smart Profiling"

[2015-06-02 17:02] chandadharap opened #1306 "Standalone example app for Smart Profiling"
Please create an example app, something small to demonstrate the Watchdog use case.

The app should be "smartprofiling-example-app", Artistic/SL license. and publicly available on github. (This is not intended to be a continuously running app on demo.)

@sam-github for FYI.

[2015-06-02 21:25] chandadharap opened #1309 "Add contextual help to Smart Profiling"
- [x] Identify areas where help is needed (@crandmck)
- [x] Create these on UX (@jtary)
- [x] Create the help text (@crandmck)

[2015-06-02 21:26] chandadharap commented on #1309
Rand created a placeholder article: http://docs.strongloop.com/display/SLC/Smart+profiling.  The ID is 6720103.

[2015-06-02 21:28] seanbrookes opened #1310 "Composer model view doesn't pluraize the model name in the Plural field"

[2015-06-02 21:35] chandadharap commented on #1222
@raymond Please get together with @altsang  on approach for data structure and database migration. @raymond I'd like you to create eng stories that break this up and estimate before I move into Sprint.

[2015-06-02 21:37] chandadharap commented on #1222
@altsang This is an epic level story and needs breaking down, I'll do  that.

[2015-06-02 21:38] altsang opened #1311 "PID selector - [Object : object] in drop down selector"
Go to the PID selector in API Analytics or other Arc module.

to reproduce:

1. override local application with a another host - "localhost" , port : 8701
2. now type to try to get back to "local application"
3. upon complete - [object Object] : ----

![image](https://cloud.githubusercontent.com/assets/2261105/7948264/86e2405c-0937-11e5-8bc2-8cc47e2e8454.png)

[2015-06-02 21:46] altsang commented on #1222
we discussed with @anthonyettinger this afternoon, @raymondfeng putting together a dev blog plan

[2015-06-02 21:49] chandadharap commented on #1222
I'd rather call this a Spike with output in Spikes. This will never officially make it into a dev blog. The concept of dev blog has shifted recently in Eng.. Same principle but in the Spike area of the wiki.

[2015-06-02 21:51] altsang commented on #1222
i'm fine with whatever you want to call it.  I think when she "spike" on a feature or task, that one of the deliverables is a blog spec/dev blog/Google doc ((whatever you want to call it too))  - something that can be read and reviewed  that is review _before_ we about spending significant time toward implementation.

[2015-06-02 21:55] chandadharap commented on #1222
Taking over as Requirements. Breaking into stories with dev.

[2015-06-04 19:25] anthonyettinger opened #1317 "broken integration test on arc"
Need to talk to @bajtos to find out why this test isn't passing. See also #1316.

[2015-06-04 19:26] anthonyettinger opened #1318 "update bower.json when package.json version changes"
Need to sync bower.json version with package.json when version is updated for arc.

[2015-06-04 22:21] anthonyettinger commented on #1317
@bajtos this test won't pass for me. Not sure why.

We upgraded vendor package manage to use bower.

https://github.com/strongloop/strong-arc/blob/master/client/test/integration/spec/property/property.services.ispec.js

[2015-06-05 11:02] bajtos commented on #1317
So what's the error message you are seeing? Is there anything special reported to console log?

[2015-06-05 15:50] anthonyettinger commented on #1317
[code]

[2015-06-05 16:06] #176 closed

[2015-06-05 16:25] bajtos commented on #1317
The error log points to https://github.com/strongloop/strong-arc/blob/db08ddd9e1a8242056de0125a1127bd729d60253/client/www/scripts/modules/property/property.services.js#L110. It looks like the result of `ModelProperty.getAvailableTypes()` is no longer an array of objects. Could it be a consequence of upgrading angular from 1.2 to 1.3?

[2015-06-05 17:13] anthonyettinger opened #1322 "dropdown doesn't work in navbar"
angular upgrade broke the dropdown.

[2015-06-05 17:45] anthonyettinger commented on #1317
Most likely, I guess the question is what should it be? I log it out and I get undefined.

[2015-06-05 18:19] anthonyettinger commented on #1304
@stacy-hunt need design mock

[2015-06-05 18:24] stacy-hunt commented on #1304
Done

On 5 June 2015 at 11:19, Anthony Ettinger <notifications@github.com> wrote:

[2015-06-05 20:56] anthonyettinger commented on #939
@cgole can you still reproduce?

[2015-06-05 22:32] anthonyettinger opened #1325 "add api-analytics help id"

[2015-06-08 06:04] bajtos commented on #1317
It should be an array of strings, see https://github.com/strongloop/loopback-workspace/blob/master/models/model-property.js#L14-L37.

Remember that `ModelProperty.getAvailableTypes()` is an ngResource method, it returns an array that is populated later after the server responded back. I think you need to call `ModelProperty.getAvailableTypes().$promise.then(console.log.bind(console))` instead of `

[2015-06-08 16:33] anthonyettinger commented on #1290
@stacy-hunt do we have a mock?

[2015-06-08 17:06] altsang opened #1329 "version check: inform user that a new version of Arc is out"
As a SL developer, it would be good to have functionality that informs the user that a new version of Arc is out as well as force the user to upgrade when necessary so that we can insure migration and compatibility.

Example use case:
we are upgrading the licensing to separate products and features into separate records on the auth service.  In order to accelerate the migration of all old user rec

[2015-06-08 17:27] altsang commented on #1290
on the agenda to discuss today

[2015-06-09 09:12] loulin opened #1332 "Unknown "DataSourceDefinition" id if Model Data source is not set"
Create a new model and save, switch to other tab and then back, you will find that the new model tab can't be selected again.
[code]
So you have to set the dataSource in model-config.json manually if you forget to set it from the GUI.

[2015-06-10 07:27] altsang opened #1337 "Arc: validation block red in Process Manager"
When doing field validation, getting a red block cell.

![image](https://cloud.githubusercontent.com/assets/2261105/8077090/86f169e4-0f07-11e5-8a23-90d180f70f3e.png)

steps to reproduce:

1. run arc
2. go to Process Manager module
3. add first entry into table

[2015-06-10 07:30] altsang commented on #1020
related - pls see #1198 - Composer needs to be retrofitted as well

[2015-06-10 17:17] cgwic opened #1340 "slc arc throws error 'Cannot find module 'minkelite'', but seems working after this error"
D:\work\tuts\node-stuff\loopback-example-passport>slc arc
Loading workspace D:\work\tuts\node-stuff\loopback-example-passport
Embedded Process Manager [(none)]:  starting
StrongLoop Arc is running here: http://localhost:61750/#/
module.js:339
    throw err;
    ^
Error: Cannot find module 'minkelite'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js

[2015-06-10 23:30] crandmck commented on #1146
This is done and ready for review.

[2015-06-10 23:34] #922 closed

[2015-06-10 23:37] crandmck commented on #705
I think we can close this, as we have help in many places and multiple specific open issues for adding more.  In any case, this is too vague to be useful.

[2015-06-10 23:37] #705 closed

[2015-06-10 23:39] crandmck commented on #1309
My part is done.

[2015-06-10 23:42] crandmck commented on #591
Every Arc module has a "page level" help now.

[2015-06-10 23:42] #591 closed

[2015-06-11 05:05] seanbrookes opened #1342 "users need to re-auth after certain updates"
It seems some license related udpates should trigger a re-authentication of the user to ensure modules and api's are working off the most recent user data.

[2015-06-11 06:31] cgwic commented on #1340
sorry missed ```npm WARN optional dep failed, continuing minkelite@1.1.1``` in output

[2015-06-11 06:31] #1340 closed

[2015-06-11 16:01] altsang opened #1344 "Tracing Demo: need public facing demo to show CPU and Memory leak"
As a Arc user newly introduced to Tracing, I want to understand the new module and an example app showing me what it's capabilities are will help me get started.

- [x] `tracing-example-app` - new repo
- [x] intended to be `slc start` within SL PM
- [x] on a set interval - i.e. 30 seconds, a CPU spike occurs
- [x] on an set interval _not_ coinciding with the CPU spike, a memory leak happens - very

[2015-06-11 22:34] anthonyettinger commented on #1317
I tried this, but its just an empty array:
[code]

[2015-06-11 22:34] anthonyettinger commented on #1317
@bajtos

[2015-06-12 01:20] anthonyettinger commented on #1020
as per @altsang, make the default icon the same icon as the hover.

[2015-06-12 07:23] bajtos commented on #1317
See https://docs.angularjs.org/api/ngMock/function/angular.mock.inject#resolving-references-underscore-wrapping-

I'll run the tests myself to see if I can fix the problem.

[2015-06-12 07:37] bajtos commented on #1317
Well, the test is passing for me on the current master. Can you try to clean `client/www/scripts/vendor`, run `bower install && gulp build` and then try to run the test again?

[2015-06-15 15:50] altsang commented on #1322
verified on master

[2015-06-15 15:50] #1322 closed

[2015-06-15 15:55] altsang commented on #1257
verified on master as TBD placeholder

[2015-06-15 15:55] altsang commented on #1325
verified on master

[2015-06-15 15:55] #1325 closed

[2015-06-15 15:55] #1257 closed

[2015-06-15 16:28] altsang opened #1358 "Arc: need new icon for Arc"
The current icon for Arc was done as a bit of a scramble, as a SL Arc user, I would want an icon that is more bold and iconic of SL's flagship product.

- [ ] SL marketing site icon
- [ ] mini-version for favicon

[2015-06-15 16:34] altsang opened #1359 "Process Manager: multi-app support"
As SL user, I have the ability to run multiple apps as difference services with the SL Process Manager and would like to be able to manage and use it in the Arc Process Manager.

[Multi-app Process Manager wireframes and comps](https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GWk9p

[2015-06-15 16:43] altsang opened #1360 "Host and App Selector: overhaul PID selector to use Process Manager as single source of truth"
As a SL Arc user, I would want a consistent experience when in an Arc module to switch my context.

All SL PMs are to be entered into Process Manager, the PID selector will have a dropdown that references what is in the Process Manager and a add new link for convenience to take you there.

 [visual comps](https://drive.google.com/open?id=0B1FTzkB7697GZ015b0daSklrU0U&authuser=0)

@stacy-hunt: comps

[2015-06-15 21:44] chandadharap commented on #1304
This is on a feature branch and needs to merge to master.

[2015-06-15 21:46] jtary commented on #1304
@chandadharap Not super up to date with the most recent stuff, but can dig in to it if need be.

[2015-06-16 16:16] sam-github commented on #1261
can you link all the PRs to this issue?

[2015-06-16 16:24] chandadharap commented on #1136
redundant. closing.

[2015-06-16 16:24] #1136 closed

[2015-06-16 16:38] seanbrookes opened #1362 "context popover content doesn't respect browser borders"
The contextual modal dialog will bleed over the edge of the browser if it is close to it.  It should respect the viewport boundaries.
![screenshot](https://cloud.githubusercontent.com/assets/1751524/8188536/67c4dc46-140b-11e5-8e91-2c6203c2bd48.png)

[2015-06-16 17:04] superkhau commented on #1344
- [ ] Aim for 30 second interval
- [ ] Extended peaks and troughs
- [ ] Raw node (no Express/LoopBack)
- [ ] Make the functions easy to recognize (explainable)
- [ ]  Has to be run in PM

---

# Instructions to get tracing up an running in Arc

1. git clone this - https://github.com/strongloop/tracing-example-app/tree/mem_leak
2. npm install; slc start (auto runs "main" in package.json"
3. run `sl

[2015-06-16 17:20] seanbrookes commented on #1360
port existing components (profiler/build-deploy/metrics) to Mesh host source of truth (PM View)
- add support for modal 'add new' form

[2015-06-16 17:22] seanbrookes commented on #1359
#MultiApp

[2015-06-16 19:21] kraman commented on #1146
Description of how smart profiling works looks fine.

[2015-06-16 20:15] rmg commented on #1261
An alternative that doesn't require modifying any of those modules: strongloop/strong-arc#1363

[2015-06-17 04:11] sam-github commented on #582
This is because there is no way to set the size until there is an instance, and there isn't an instance until there is a deploy. Once there is an instance, the size is persistent.

See https://github.com/strongloop-internal/scrum-cs/issues/260

The fix is that strong-deploy should take a size argument, and set the size before doing the deploy, so it all happens at once. This would help arc, becaus

[2015-06-17 16:51] denisbetsi opened #1365 "Composer does not display any Models under Models"
Data sources show up fine, but model list is always empty. even if I add a new model in the arc, the Models section always shows 1 option " + Add New Model"

slc run functions properly and all models are in fact functional.

[2015-06-17 22:59] cgole commented on #1203
blocked on https://github.com/strongloop-internal/scrum-loopback/issues/330

[2015-06-17 23:18] cgole commented on #1145
Tested this once and it did work.
To test this
run the trace memory leak app
Run load - for ((i=1;i<=10000000;i++)); do   curl -v --header "Connection: keep-alive" -d "content"="Test" http://localhost:3001/api/Documents/content;done

install statsd
start pm and write metrics to statsd
Observer the loop count max for serveral loops as the data comes in to statsd
lets say, the loop count is over 20

[2015-06-18 01:33] superkhau commented on #1344
Connects https://github.com/strongloop/tracing-example-app/pull/1

[2015-06-18 16:15] #1244 closed

[2015-06-18 16:43] chandadharap commented on #1261
PRs not necessary to be merged anymore.

[2015-06-18 18:16] #1261 closed

[2015-06-19 03:32] ijameelkhan opened #1372 "Relationships via Arc"
For some unknown reason , i can create relationships via command line but when i try to make a relationship via Arc my model.json file is not updated. Though it works for normal properties.

[2015-06-19 15:42] chandadharap commented on #1306
Sam's input: Capture difference between Smart profiling versus Full profiling with example. Small refactor.

[2015-06-20 01:34] sam-github commented on #582
The reason this isn't trivial, is the size is on the instance model, and no instance exists until a deploy or create-instance has happened. I am pretty sure we'd have to upgrade the mesh models to fix it, and the new mesh models won't work with the old pm inside arc.

[2015-06-20 02:48] FastandBulbous opened #1375 "Uncaught exception in mysql connector"
Data model property type is 'Array'
Database content is 'string'
JSON.parse fails
Exception not caught
Untrappable error in loopback-connector-mysql/lib/mysql.js:371:22

[2015-06-20 21:09] jgcoding opened #1376 "MS SQL: Owner is alway "dbo""
How does one get anything other than a "dbo" "owner" object to be included in the results (see image attached)
I have tried:
1) "owner": "scada"
2) "schema": "scada"
3) "options": {
      "all": true
}
4) "owner": "dbo" --(which in SSMS shows all schema")

![strongloop arc issue](https://cloud.githubusercontent.com/assets/1755616/8269220/8f8b50d2-176e-11e5-8b8c-5631e7c3cb9f.jpg)

[2015-06-22 15:10] chandadharap commented on #1145
Will need Rand's help to QA.

[2015-06-22 15:11] chandadharap commented on #1309
@jtary Is it done on the UI, if so, go ahead and close it.

[2015-06-22 15:14] #1146 closed

[2015-06-22 15:17] jtary commented on #1309
@chandadharap it's already in the UI. Closing out.

[2015-06-22 15:17] #1309 closed

[2015-06-22 16:22] chandadharap commented on #1238
status? @altsang?

[2015-06-22 17:17] altsang commented on #1238
Done.  Jimmy just needs to add whatever CTAs he wants at the end

[2015-06-22 17:36] #1238 closed

[2015-06-22 23:30] chandadharap commented on #1222
This has been broken down, only a placeholder.

[2015-06-23 15:51] chandadharap commented on #1151
@seanbrookes I have no comments to know if this was completed and closed or is there work still ongoing? Please add a comment before closing.

[2015-06-23 16:08] #1151 closed

[2015-06-23 16:19] seanbrookes commented on #1151
Tracing was released using primarily components from the styleguide.  Not sure how much effor we want to spend working out what is 'one off' vs. what needs to be brought back into the styleguide from the ui

[2015-06-23 17:56] anthonyettinger commented on #1317
still failing for me:

[code]

[2015-06-23 18:40] anthonyettinger commented on #1020
this has been fixed

[2015-06-23 18:47] stacy-hunt commented on #1235
This is the icon we're currently using:
![image](https://cloud.githubusercontent.com/assets/1924932/8314314/975d2ba6-199d-11e5-9726-b00e8f570f44.png)

[2015-06-23 18:47] #1235 closed

[2015-06-23 18:48] #1194 closed

[2015-06-23 18:52] stacy-hunt commented on #1358
This doesn't require feedback as I know they're not what we need - just posting so you know I'm working on it:

![image](https://cloud.githubusercontent.com/assets/1924932/8314426/4f459da2-199e-11e5-9ab7-0839276fbfee.png)

[2015-06-23 23:43] altsang commented on #1020
verified on master, looks good

[2015-06-23 23:43] #1020 closed

[2015-06-24 19:26] anthonyettinger commented on #1198
@altsang is this done? Seem to recall having a couple of tickets on this.

[2015-06-24 20:06] seanbrookes commented on #1198
I think PM view has been updated (the delete icon is darker than before)
but not sure about model properties

On Wed, Jun 24, 2015 at 12:26 PM, Anthony Ettinger <notifications@github.com

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-pe

[2015-06-24 23:15] altsang opened #1380 "Arc: Composer discovery flow, select all control not working"
Steps to reproduce:
1. run Arc
2. go to Composer
3. define data source pointing to MySQL
4. run discovery
5. try clicking `Select All` button - does not select all records

[2015-06-24 23:17] altsang commented on #1198
model properties is good, verified on master

[2015-06-24 23:17] #1198 closed

[2015-06-25 00:23] altsang commented on #1344
this is good, reviewed with @superkhau

[2015-06-25 00:23] #1344 closed

[2015-06-25 15:46] altsang opened #1381 "API Analytics: units of measure are missing from all charts"
As a SL Arc user, we need units of measure for all charts so that I can interpret the data on each of the levels

[2015-06-25 15:54] altsang opened #1382 "Entitlement Phase 2: initial license not pulled down"
As an SL user using Arc for the new licensing page, the initial license is not being pulled down because the auto renew logic has been removed, I would want...

- [x] initial 30 day trial period automatically pulled down for all existing AND new products AND features
- [ ] manual renewal of features for features marked renewable

/cc: @raymondfeng,needs to be worked out between you and @anthonyett

[2015-06-25 16:02] altsang opened #1383 "Epic: back end APIs for gateway mapping and policy config"
As an Arc user utilizing the "Gateway Manager" (TBD), I have three views: 1. mapping view, 2. policy config view, 3. policy builder view
I need back end APIs to support  #1 and #2 for MVP

work to be broken down and divided between Ritchie and Raymond

[2015-06-25 16:21] altsang opened #1384 "Epic: Gateway Arc Implementation"
As a SL Arc user, we want a GW module with the first view to handle the GW mapping use case, so that I can minimally configure my gateway with the built in policies for MVP.

UX specs folder: https://drive.google.com/drive/folders/0B1FTzkB7697GQWlPTDhfSFkyMnM
/cc: @stacy-hunt to update with the final UX export

## General Stories break up by Sean
- [x] wrap up prototype and story estimation

proto

[2015-06-25 16:34] altsang opened #1385 "Gateway policy config implementation"
As a SL Arc user, we want a GW module with the second view to handle the GW policy config use case, so that I have a dedicated view to see all policies and configure them in detail.

UX specs folder: https://drive.google.com/drive/folders/0B1FTzkB7697GQWlPTDhfSFkyMnM

/cc: @stacy-hunt to update with the final UX export

[2015-06-25 16:37] altsang commented on #1242
@jtary -changing this to be spike and going into prototype for the canvas portion until Raymond has a better handle on composite models

[2015-06-25 17:17] altsang opened #1386 "Cisco PoC: knowledge transfer OpenAM"
Raymond to knowledge transfer Cisco PoC with OpenAM to take over further customization

[2015-06-25 20:42] seanbrookes commented on #1360
duplicate / overlap with https://github.com/strongloop-internal/scrum-nodeops/issues/737

[2015-06-25 20:51] seanbrookes commented on #1360
copied info over to other story and closing

[2015-06-25 20:55] seanbrookes commented on #1384
First child - initial ui prototype https://github.com/strongloop-internal/scrum-nodeops/issues/751

[2015-06-26 03:28] chandadharap commented on #1360
Reopening because this is the story Im tracking in Rally. Please don't create duplicates and then close originals, it messes up Sprint tracking.

[2015-06-26 03:39] chandadharap commented on #1317
Why is this at all assigned to @altsang?!

[2015-06-26 14:51] bajtos commented on #1317
I have troubleshooted this with @anthonyettinger via ScreenHero. The test is passing in Chrome, but failing in PhantomJS. We found a fix, I assume @anthonyettinger will eventually land it.

Let's reassign back to @anthonyettinger.

[2015-06-26 17:26] chovy commented on #1317
Merged here: https://github.com/strongloop/strong-arc/pull/1379

[2015-06-28 12:10] donratta opened #1389 "Unable to discover models from data source via strong arc"
Hey Guys,
New to loopback here and was trying to generate models from an already existing DB via strong arc. Problem is the toolbar beside the datasource does not function and I ger the following console error. Looking into it i found out that none of the menus there actually work. Anything I may be doing wrong?
![screen shot 2015-06-28 at 8 08 31 am](https://cloud.githubusercontent.com/assets/189

[2015-06-28 15:40] donratta commented on #1389
an Npm update of strongloop did the trick thanks!

[2015-06-28 15:40] #1389 closed

[2015-06-29 05:16] raymondfeng commented on #1382
See https://github.com/strongloop/strong-arc/commit/1ac96ce3ecdd93a5abeea38c153023f8cda24a0e

[2015-06-29 15:42] chandadharap commented on #1382
Add to Chandrika's test cases (Chanda)

[2015-06-29 15:47] #1317 closed

[2015-06-29 15:50] chandadharap commented on #1290
@altsang Anthony is blocked.

[2015-06-29 16:01] seanbrookes commented on #1360
A couple of notes on this story so we're clear on what has been done and what is still to do:
Done:
- update the deploy form to use the same source of truth as the pm view so the user can select from a list of possible pm's
- update PM view to add 'Service' column to display the app name running on a particular host
- update the 'action'm menu ont he PM View to improve the UX

What has not been do

[2015-06-29 16:03] seanbrookes commented on #1360
Another note regarding the description of this issue.  I don't think we are looking for 'app selection' at the host level at this point.  I think that is hold over from the target UX for multi-app support.  Currently Arc is only supporting single app per pm host so the need to pivot on app is not needed.

[2015-06-29 16:06] #1203 closed

[2015-06-29 16:15] chandadharap commented on #1360
@altsang @seanbrookes Can we close this? and split off the internal-pm work in another story? i;d liketo close work, rather than ongoing long stories.

[2015-06-29 17:22] altsang commented on #1360
I don't know if this work is captured elsewhere, if not, we can't close until the work is complete.  It's not an on-going long story

@seanbrookes
yes we don't need to make this app-centric anymore with putting multi-app process manager on the backburner - I'm just interested in making the "PID selector" consistent:
- you go to Process Manager to add to the list
- you'll have a drop down to show w

[2015-06-29 18:35] stacy-hunt commented on #1290
Proposed Design: Intercom icon is slightly customised to use Strongloop colours. Note that it has a subtle dropshadow:

![image](https://cloud.githubusercontent.com/assets/1924932/8415232/30fe85b2-1e52-11e5-9018-d4ab140b3971.png)

https://drive.google.com/open?id=0B1FTzkB7697GX2NKZWFGdUJMMEU

Link to usage examples: https://drive.google.com/open?id=0B1FTzkB7697GdV9TWlVicWNzUW8

Link to svg for ico

[2015-06-29 18:41] altsang commented on #1290
thank @stacy-hunt - can we use the above as a last resort?  we thikn we don't need to use the Intercom default icon - Waffle uses their own (?) icon.  @anthonyettinger is currently looking at adding a menu item in the hamburger icon and also see if we can create our own icon that invokes their widget - the messaging widget is the piece where they'll offer limited customization through CSS

[2015-06-29 18:42] altsang commented on #1290
unblocked Anthony on getting started with segment and intercom

[2015-06-29 19:35] stacy-hunt commented on #1290
Yeah, if Anthony's unblocked then we can discuss further requirements and
iterate on it if necessary in the UX meeting.

On 29 June 2015 at 11:42, Al Tsang <notifications@github.com> wrote:

[2015-06-29 22:22] chandadharap commented on #1304
merged. will move to done. Verification is a separate story next Sprint.

[2015-06-29 22:22] #1304 closed

[2015-06-29 22:22] chandadharap commented on #1382
Added test case, moving to done. Verificiation is off of test case,

[2015-06-29 22:23] #1382 closed

[2015-06-29 22:53] chandadharap commented on #1311
need not be in TBR if its verified. Its assumed for this case.

[2015-06-29 22:54] #1311 closed

[2015-06-29 23:29] crandmck commented on #1145
Here is a summary of the QA procedure I followed: https://strongloop.atlassian.net/wiki/display/SL/Smart+Profiling+QA+procedure

At this point, it seems to generate profiles inconsistently, which may be due to   https://github.com/strongloop-internal/scrum-nodeops/issues/753.  Currently, verification of this feature is blocked by that.

[2015-06-30 00:21] altsang opened #1393 "Licensing: better messaging needed if you are denied a renewal license"
As a SL Arc user, there should be two different message displayed to the user so that they know the different licensing issues that may encounter.

1. if you navigate to a module that requires a license and you are missing that license the below message is fine...
![image](https://cloud.githubusercontent.com/assets/2261105/8421430/621d519c-1e83-11e5-95a5-14236e0418c8.png)

2. if you click "Renew"

[2015-06-30 04:35] chandadharap commented on #1393
minor nit: removing bug label. This is a feature spec.

[2015-06-30 04:40] chandadharap commented on #1329
@altsang About the third point, you want to  force an upgrade by automatically and gracefully shut down Arc while it is in use by a user? Why not just message as in your second point, and leave the upgrade to the user?

[2015-06-30 05:21] chandadharap commented on #1383
I don't see any break down under this Epic. @raymondfeng @ritch

[2015-06-30 05:22] chandadharap commented on #1385
@altsang Is this ready to start implementation for Sprint 74?

[2015-06-30 05:26] chandadharap commented on #1384
Is the prototype to be continued in Sprint 74? Or does Stacy take it from here?
Or does this need to be broken down into separate implementation stories for Gateway mapping implementation?

[2015-06-30 07:03] seanbrookes commented on #1384
we should continue the prototype work until everyone agrees that the UX/UI works as expected.
some notes about the work as it falls out
- stacy and I should continue to cycle on the prototype/wireframes until the ux is hammered out (shouldn't take mre than a couple more cycles)
- we should be able to take a pretty confident inventory of ui components by tomorrow which should give us a good startin

[2015-06-30 07:55] seanbrookes commented on #1384
High level list of views and components:

### mapping list
- table cols:
- name (editabled inline)
- verb (select)
- endpoint pattern (text)
- scopes (if pipeline has auth policy with scopes)
- pipeline (context modal)
- endpoint ( if pipeling has proxy policy

### mapping form
- name - input
- verb - select dropdown (single)
- endpoint - input single value (could use some context help)
- pipeline

[2015-06-30 15:12] seanbrookes commented on #1385
to my knowledge none of the ui work for gateway has started yet

[2015-06-30 15:35] jtary opened #1394 "README for smart profiling example app"
Update the README for the smart profiling. The README should include information for how to configure smart profiling and the Arc and PM side.

[2015-06-30 15:43] jtary opened #1395 "Extend API Composer with visual composition capabilities (or Add module for API composer)"
Create a new module for the visual composer, with layout spaces for the side panels and workspace area. Module should check for appropriate license, and display correct warning if the user does not have a license for visual-comp.

[2015-06-30 15:45] seanbrookes commented on #1360
this was more work than thought given the comlications of the existing ui logic around the old internal pm plus the rework Joe did for the smart profiler implementation.

I would estimate the amount of work remaining is around 3 points

[2015-06-30 15:57] seanbrookes opened #1396 "Gateway View: Mapping List"
table cols:
name (editabled inline)
verb (select)
endpoint pattern (text)
scopes (if pipeline has auth policy with scopes)
pipeline (context modal)
endpoint ( if pipeling has proxy policy

Notes:
- scopes and endpoint values are only shown if and auth policy(with scopes) and a proxy policy are found respectively in the chosen pipeline

- [x] functionality (components / api )
- [x]  visual treatmen

[2015-06-30 15:58] seanbrookes opened #1397 "Gateway View: Mapping Form"
- Add New
- modal

name - input
verb - select dropdown (single)
endpoint - input single value (could use some context help)
pipeline -- select from list -- link to add new (clone options)

- [x] functionality (components / api)
- [ ] visual treatement/polish

[2015-06-30 15:58] seanbrookes opened #1398 "Gateway UI Comp: Mapping Pipeline Chooser"
select list of available pipelines
button to create a new one (take you to pipeline editor view

[2015-06-30 15:59] jtary opened #1399 "Add canvas component"
Add a canvas component to the API composer, with the ability to add new components and rearrange them on the canvas.

[2015-06-30 15:59] seanbrookes opened #1400 "Gateway View: Mapping Detail View"
blow out the details
similar to ‘add new’ form
base page
mostly pipeline details

[2015-06-30 16:00] seanbrookes opened #1401 "Gateway UI Comp: Pipeline Context Modal"
button to trigger the view
slide out with table list of pipelines

[2015-06-30 16:00] jtary opened #1402 "Add properties editor"
Add properties editor to the API compositor, and the ability to show and edit the properties of object that are displayed on the canvas.

[2015-06-30 16:02] seanbrookes opened #1403 "Gateway View: Pipeline List View"
list of existing pipelines
show policy summary cell

[2015-06-30 16:03] seanbrookes opened #1404 "Gateway UI comp: Pipeline Policy Summary 'cell'"
list of associated policies
context modal to show policy details
order is important
‘edit’ command (warning will cause issues - do you want?

[2015-06-30 16:04] seanbrookes opened #1405 "Gateway View: New Pipeline Modal Form"
name
policy editor

[2015-06-30 16:04] seanbrookes opened #1406 "Gateway UI Comp: Tree Nav"
top level entities
child instances

![annotated-tree-nav](https://cloud.githubusercontent.com/assets/1751524/8460402/3f67a150-1fd9-11e5-8e34-21ff5a7316a8.png)

[2015-06-30 16:05] seanbrookes opened #1407 "Gateway View: Pipeline Detail View"
- [x] create new
- [x] edit (except renaming)
- [x] clone

e2e tests

- [x] create new
- [ ] edit (except renaming)
- [x] clone

[2015-06-30 16:06] seanbrookes opened #1408 "Gateway UI Comp: Pipeline Policy Sequence List"
read only list of pipeline policies
in order
with details for each type
and icons
command link to modify a policy (would trigger ‘new’ derivative pipeline) - see pipeline editor view

[2015-06-30 16:06] seanbrookes opened #1409 "Gateway View: Policy List View"
list of policies

![annotated-policy-list](https://cloud.githubusercontent.com/assets/1751524/8466718/8db1887c-200a-11e5-8527-b45095298ec9.png)

[2015-06-30 16:07] seanbrookes opened #1410 "Gateway View: New Policy Form"
Properties:
- name of policy
- type (Rate Limit, Proxy, Authentication, Logging/Metrics)
- the type selection will dynamically render the relevant input form elements
Rate Limit:
- 2 numbers:
 - rate  free form numerical input, how many requests
- interval - time interval to allow the rate value (need to help users with unit of time)
- possibly provide options for different interval scales

![anno

[2015-06-30 16:08] seanbrookes opened #1411 "Gateway UI Comp: Pipeline Policy Detail Modal"
Gateway map:

- [ ] policy name
- [ ] policy type
- [ ] show the relevant name/value pairs for policy

Look at visual design.

[2015-06-30 16:08] seanbrookes opened #1412 "Gateway UI Comp: Pipeline Policy Editor"
- [x] add remove policies
- [x] links to modify/clone
- [x] Modal warning

e2e tests
- [x] modify
- [x] clone

connected to #1385

[2015-06-30 16:16] altsang commented on #1329
we need two modes:

1. force the upgrade by exiting
2. inform only with the message

[2015-06-30 16:20] chandadharap commented on #1329
@anthonyettinger suggests doing this in a boot script at startup as opposed to forcibly shutting down.

[2015-06-30 16:33] chandadharap commented on #1384
Just to be clear, this story is about spiking on the Epic using the UX prototype approach.

[2015-06-30 16:40] chandadharap commented on #1385
redundant. closing.

[2015-06-30 16:40] #1385 closed

[2015-06-30 17:53] #743 closed

[2015-06-30 17:55] altsang opened #1413 "finalize UX for Gateway Manager"
As a SL product manager, we've explored the different models for UX around the Gateway MVP and would like to finalize the UX for the first iteration so we can build V1.

[2015-06-30 17:56] altsang commented on #1413
UX design:
https://drive.google.com/drive/folders/0B1FTzkB7697GQWlPTDhfSFkyMnM

[2015-06-30 17:58] altsang commented on #1395
@jtary - please check with @sean this isn't suppose to be a brand new module, there are a set of slider panels that we've built into Composer, we can discuss in UX meeting

[2015-06-30 18:00] jtary commented on #1395
@altsang: There is already a lot of interface for the API composer. From a navigation point of view, we can make it look like part of the composer module. But from an implementation point of view, it would be a complete mess to try and shoe-horn that much new code into the existing composer code base.

[2015-06-30 18:03] altsang commented on #1395
the issue is that the canvas view and properties editor work in tandem - we heard this when we did our user focus studies before building Arc (Studio back then), they're like two sides of the coin, from a code perspective - may we can separate out as a separate module but having the interface unified in its view

[2015-06-30 18:06] chandadharap commented on #1183
should we close? seems too far out of bounds. @ijroth?

[2015-06-30 18:16] jtary commented on #1395
@altsang if we keep a unified data layer, we can switch between the two modules seamlessly. And if we keep some components (like the properties editor) consistent between the two views, that should help anchor the user so they don't feel like they are being bounced between unrelated interfaces. This will also make it much easier to put a license-wall around the visual composition.

[2015-06-30 18:23] altsang commented on #1395
let's discuss in the UX meeting when we get there, I strongly prefer to have to build toward what we spent weeks and months on already worked out, but never completed in implementation, not only was it received well by our focus groups but it's also the interaction model by which we built Composer in the first place with the assumptions baked into the design

I'm not sure how switching between the

[2015-06-30 18:37] altsang commented on #1329
I'm fine with that - but that requires printing to console when running `slc arc`. that the upgrade needs to happen and to make it easier for them we an have `slc upgrade` pre-canned

again two modes apply:
1. on the console - you MUST upgrade, press any key to continue to proceed with upgrading (force them to upgrade)
2. on the console - new version is out, message on console but keep loading Arc

[2015-06-30 21:06] raymondfeng opened #1414 "Logout fails the api call as it doesn't pass in access_token"
Here is the error response from the api call:
[code]

[2015-07-01 15:51] seanbrookes opened #1416 "wrap up gateway ui prototype - finish estimates"

[2015-07-01 15:52] seanbrookes opened #1417 "create Gateway Arc module"
- [x]  port relevant gateway prototype code to Arc branch
- [x] add feature flag

[2015-07-01 15:57] seanbrookes opened #1418 "integrate with Gateway API on one branch"
Dependencies

https://github.com/strongloop/loopback-workspace/issues/208
https://github.com/strongloop/loopback-workspace/issues/209
https://github.com/strongloop/loopback-workspace/issues/210

[2015-07-01 15:58] seanbrookes opened #1419 "Gateway UI e2e tests"
CRUD:
- [x] policy
- [x] piplene
- [x]  map

[2015-07-01 16:16] seanbrookes commented on #1417
Epic: https://github.com/strongloop/strong-arc/issues/1384

[2015-07-01 16:16] seanbrookes commented on #1416
Epic: https://github.com/strongloop/strong-arc/issues/1384

[2015-07-01 16:17] seanbrookes commented on #1406
Epic: https://github.com/strongloop/strong-arc/issues/1384

[2015-07-01 16:17] seanbrookes commented on #1419
https://github.com/strongloop/strong-arc/issues/1384

[2015-07-01 17:13] seanbrookes commented on #1406
currently written as a react component (copied from Composer side nav)
- small amount of work to clean up the unused code from the prototype
- more work if we want to rewrite it as an Angular directive.

[2015-07-01 18:01] altsang opened #1420 "Xamarin SDK: TodoApp readme.md needs more explicit instructions"
As a SL developer that is new to Node and mobile development using Xamarin, we need more explicit instructions on how to get the TodoApp (to be renamed to `loopback-example-xamarin`) up and running.

user has a choice to build and run item on Mac  OS X and see iOS app against our pre-canned backend - (xamarindemo.strongloop.com)  note - they do NOT need to know this LB backend

OR

user can run th

[2015-07-01 18:03] altsang opened #1421 "Xamarin SDK: need review of Announcement Blog for Xamarin"
As a SL developer, I would want to be aware of the new Xamarin SDK with the proper announcment information including where to find the SDK, and example app, perfectedTech intro etc.

copy - https://docs.google.com/document/d/19nPl1IPYShKz1Cg7Iimvw0KMGd-qXqUJ3xn_dSGCBh4/edit#

Shubhra to post to WP when ready

[2015-07-01 19:20] ritch commented on #1414
I've added a better error message to loopback. We still need to fix the case where it is not passed in from the original call though (in the browser).

[2015-07-01 21:48] crandmck commented on #1421
I edited it, and had one question/comment in the Gdoc.

[2015-07-01 22:26] crandmck commented on #1420
@altsang I don't have commit access to that repo yet.  I know they are going to move the repo into our org, so maybe I should just wait for that.  In the meantime, I could open a PR, but of course it would be easier just to edit the README.md.

[2015-07-01 23:25] altsang commented on #1420
ahh yes that makes sense, probably would be good if you just get an idea of what edits you want to make so that when the repo is transferred you can just implement the changes

[2015-07-01 23:48] seanbrookes opened #1422 "Gateway UI Comp: Save Instance Warning"
when a user makes changes to an existing saved instance of an entity (map, pipeline, policy)
- we will create a 'dirty' version of it
- and warn them when they try to save that there may be unitended consequences
- present choices:
- yes - save changes
- no- cancel
- oops - make a copy so I can apply my changes with messing anything else up

![annotated-entity-save-warning](https://cloud.githubuse

[2015-07-02 05:55] altsang opened #1423 "API Analytics: need pagination of records"
As a SL developer using Arc, you could have lots of detail records in Level 3 of API Analytics, and would want pagination of records. The page load for all records could take a long time.

- [ ] on level 3 of individual requests - display 50 at a time

[2015-07-02 16:46] altsang commented on #1421
looks good, thx @crandmck

[2015-07-02 16:46] #1421 closed

[2015-07-02 17:02] seanbrookes commented on #1384
this is the true 'Epic' for the Arc v1 implementation of Gateway.  All the child stories roll up to this one.
The 'spike' you refer to is: https://github.com/strongloop/strong-arc/issues/1416

[2015-07-02 17:31] crandmck commented on #1306
Joe created https://github.com/strongloop/smartprofiling-demo.  I'll work on README when he's done on his end.

[2015-07-02 20:47] crandmck commented on #1420
OK now we have https://github.com/strongloop/loopback-example-xamarin.  I'll work there.

[2015-07-03 17:57] altsang commented on #1413
@seanbrookes and @stacy-hunt

I'll be away for this coming Monday review, please update this issue with the final export and move to done.  @stacy-hunt please check with @sean on which cards he's created for VD comps, he's broken out the GW Manager epic into a bunch of stories, thx

/cc: @chandadharap

[2015-07-06 16:39] anthonyettinger opened #1427 "license-v2 tracing bug"
Fix failing access check on tracing

connected to #1429

duplicate https://github.com/strongloop-internal/scrum-loopback/issues/372

[2015-07-07 16:01] #1427 closed

[2015-07-07 16:22] sam-github commented on #1145
passing back to @cgole

[2015-07-07 16:25] seanbrookes commented on #1416
the heroku hosted prototype for reference: http://gateway1proto.herokuapp.com/#/

[2015-07-07 17:44] anthonyettinger commented on #1290
@stacy-hunt -- you were going to update the SVG icon to use in the navbar.

[2015-07-07 18:40] cgole commented on #1393
verified

[2015-07-07 20:47] cgole opened #1433 "column for service id missing for second host in process manager"
![screen shot 2015-07-07 at 1 30 58 pm](https://cloud.githubusercontent.com/assets/991632/8556880/ac4847e6-24ae-11e5-9f50-2f7585f4ad89.png)

[2015-07-07 20:47] cgole opened #1434 "cannot add port to Arc process manager"
![screen shot 2015-07-07 at 1 39 59 pm](https://cloud.githubusercontent.com/assets/991632/8556895/c63da0ec-24ae-11e5-85d4-11abb41f24b1.png)

[2015-07-07 21:11] patrickaroo commented on #1365
noticed this problem as well.

[2015-07-07 21:43] cgole opened #1435 "Arc build creates tar inside app directory"
build tar using Arc build. tar got created inside app directory and not one level outside ie ../

[2015-07-07 21:51] seanbrookes commented on #1365
I haven't seen this issue and can't reproduce locally with my setup.

Can you provide more details:
- what OS / browser?
- were you ever able to see model definitions in the nav?
- were the models created using: slc loopback model, Arc discovery, or by hand?
- do you see any errors in the browser console?
- what version of Arc are you running? (upper right of the header)

[2015-07-07 22:15] seanbrookes commented on #1417
Git branch:  https://github.com/strongloop/strong-arc/tree/feature/initial-gateway-module-create

[2015-07-07 22:27] cgole commented on #1434
verified

[2015-07-07 22:27] #1434 closed

[2015-07-07 22:28] cgole commented on #1433
verified

[2015-07-07 22:28] #1433 closed

[2015-07-07 22:31] sam-github commented on #1435
I cannot reproduce. I suspect that you didn't reinstall arc. Using npm ls, verify that the strong-build version that arc depends on is 2.0.3

[2015-07-07 23:49] superkhau commented on #1386
@raymondfeng Do you want to schedule a meeting to do this?

[2015-07-07 23:49] stacy-hunt commented on #1290
Here's a link to the folder that contains the navbar icons:

https://drive.google.com/folderview?id=0B1FTzkB7697GaFl6QnlFUDh3Z2c&usp=sharing

Here's a screenshot of what the new icon should look like in context:
![image](https://cloud.githubusercontent.com/assets/1924932/8559967/2e9636e6-2567-11e5-8f78-0b5654d40c3d.png)

[2015-07-08 05:30] #1393 closed

[2015-07-08 05:31] chandadharap commented on #1222
old epic story. done.

[2015-07-08 05:31] #1222 closed

[2015-07-08 18:52] cgole commented on #1435
cannot repro

[2015-07-08 18:52] cgole commented on #1435
cannot repro

[2015-07-08 18:52] #1435 closed

[2015-07-08 20:19] cgole commented on #1360
verified this for arc deploy.  From the UI side, this seems to work for metrics as well. Metrics has a dropdown for host/port and I thought, it gets this from Arc PM.  Not sure how the backend is implemented.
Is there another story for profiler and API analytics?

[2015-07-08 21:21] cgole commented on #1042
not an issue anymore

[2015-07-08 21:22] #1042 closed

[2015-07-08 21:23] cgole commented on #925
not an issue anymore. App controller is going away.

[2015-07-08 21:25] cgole commented on #702
@chandadharap

[2015-07-08 21:26] cgole commented on #346
@raymondfeng, is this still an issue?

[2015-07-08 21:26] cgole commented on #1207
not an issue anymore

[2015-07-08 21:26] #1207 closed

[2015-07-08 21:28] cgole commented on #598
not an issue for now

[2015-07-08 21:28] #598 closed

[2015-07-08 21:29] cgole commented on #1196
dup for strongloop-internal/scrum-nodeops#400

[2015-07-08 21:30] #1196 closed

[2015-07-08 21:30] cgole commented on #1125
not seeing this anymore.

[2015-07-08 21:30] #1125 closed

[2015-07-08 21:31] cgole commented on #1026
cannot fix. details in #1183

[2015-07-08 21:31] #1026 closed

[2015-07-08 21:32] #662 closed

[2015-07-08 21:33] cgole commented on #34
@bajtos,@altsang, is this still an issue?

[2015-07-08 21:37] cgole commented on #856
e2e plan is ready. Will break out into individual stories once polling is fixed.

[2015-07-08 21:39] cgole opened #1437 "Fix polling for arc e2e tests"

[2015-07-08 21:39] #856 closed

[2015-07-08 21:43] cgole commented on #939
I could still repro this. The data points box is not where it should it.

[2015-07-08 22:23] cgole commented on #1360
verified

[2015-07-08 23:01] seanbrookes commented on #1360
not sure what the expectation is here going forward.

The latest on this is that the PM Host selectetor has been replaced across the app to a dropdown select list with an 'add PM Host' link in the list.  Clicking that will take the user to the PM View.

Anthony is looking into the API Analytics view as there may be a wrinkle there.

One other gotcha I just thought of is that the 'internal' pm will

[2015-07-08 23:45] chandadharap commented on #1360
That is vali @seanbrookes . Also now since you HAVE to add the pm via Process Manager page, that should probably be the first thing you do before even getting to Metrics, profiling, Tracing etc

Maybe you can discuss in the UX meetings.

[2015-07-08 23:51] cgole commented on #1380
verified

[2015-07-08 23:55] cgole commented on #1306
verified the app works.

[2015-07-08 23:56] cgole commented on #1145
verified this works, but keeping this story open  for full QA for smart profiling.

[2015-07-09 00:02] anthonyettinger commented on #939
I upgraded the library, but there is new problem associated with d3 tip that is blocking us:

https://github.com/krispo/angular-nvd3/issues/102

[2015-07-09 01:06] chandadharap commented on #1306
@jtary Sorry I didn't spot this earlier, thought I had mentioned, we have a naming convention. Please rename app to smartprofiling-example-app

[2015-07-09 05:07] seanbrookes commented on #925
wait, I don't thnk App Controller is going away.  the internal pm is going away but he the ui control will still map to the slc start pm (8701)

[2015-07-09 07:22] denisbetsi commented on #1365
Q) what OS / browser?
- Mac Os Yosemite / Browser : Chrome 43.0.2357.132 (64bit)
- Safari browser won't even get past the login, generates an error from angular

    Error: Requested keys of a value that is not an object.
    keys@[native code]
    http://localhost:56676/scripts/modules/property/property.services.js:110:34
    forEach@[native code]
    http://localhost:56676/scripts/modules/proper

[2015-07-09 07:35] denisbetsi commented on #1365
This error I pointed out was on line
if (instance.config.dataSource) {  <-- if instance  has no config then it errors out. So it seems like I had a model in the common folder, which lacked config, so somehow it was deleted but not fully.

That took care of that issue. So removing stale .json files out of the common/models folder fixes that.

Safari is having an issue though. Not sure if you guys t

[2015-07-09 13:29] jakerella commented on #1026
sad :panda_face:

[2015-07-09 15:25] bajtos commented on #34
Since there is no pull request linked to this issue, I think it's safe to assume this is still an issue. I don't have time to investigate this in Arc myself, sorry for that.

[2015-07-09 16:29] chandadharap commented on #1026
@jakerella, hope you read the comments on #1183

[2015-07-09 16:33] jakerella commented on #1026
I did... but seems like Windows in particular takes much longer than my Linux machine.

[2015-07-09 17:12] chandadharap commented on #1242
Document approach, tech design on wiki under Spikes. Break up into stories.

[2015-07-09 17:42] crandmck commented on #925
Based on Sean's comment, I'll go ahead and re-open this so it doesn't get dropped.

[2015-07-09 18:03] cgole commented on #925
@chandadharap ^^

[2015-07-09 19:40] ritch commented on #1241
@altsang +1 for the way this story is written!

Here is a brief outline of the tasks I'd expect it would take to complete this feature.

**loopback-gateway**

 - add a new type of model: `CompositeModel`

This ensures the feature is only supported by loopback-gateway and not loopback core. The downside is that you **must** use a gateway in order to do composite API.

**loopback-workspace**

 - We

[2015-07-09 20:56] cgole opened #1439 "Add link to Add host:port in the dropdown for build and deploy"
Also, selecting the host:port should not trigger the deploy action. They should be separate.

connected to #1459

[2015-07-09 20:57] cgole opened #1440 "Cannot select 2nd host:port from the dropdown for profiler, metrics, tracing"
connected to #1459
connected to #1464

[2015-07-09 21:08] cgole opened #1441 "Hide section for Profile types supported in File view for profiler"
When i am in the file view for profiler, can I hide “Profile Types supported”, since the selection is not used when loading files..

[2015-07-09 22:06] seanbrookes commented on #1256
This may have been resolved.  What version of Arc are you running?

[2015-07-10 00:02] #1417 closed

[2015-07-10 00:13] seanbrookes commented on #1418
A couple of notes about integration architecture

- need to confirm 'Arc backend' structure.  I thought it would be a stand-alone api backend similar to 'build-deploy' 'process-manager', etc but currently implemented as part of the 'workspace' api.  It's pretty transparent to the front end, just want to confirm.

- need to confirm the data model relationship between pipelines, policies and phases.

[2015-07-10 16:20] arcreative opened #1442 "slc arc only working in Safari on OSX"
Chrome console output:

[code]

I've installed fresh versions of everything (with `npm cache clean`) on node `0.12.6`.  Help?

[2015-07-10 17:54] anthonyettinger commented on #1290
@altsang you can verify it on this branch. I will hold off merging to master until you give the OK. We will need to flip a few switches when that happens.

https://github.com/strongloop/strong-arc/tree/feature/intercom-integration

switch to this branch then run `gulp build`

[2015-07-10 18:54] cgole opened #1443 "Load button should be activated if hostname field is not empty."
This applies to all tabs in general. Even when my hostname has a valid host:port, I am required to select it from the drop down and only then it gets activated. This might lead to confusion. @crandmck   and me both ran into it.

connected to #1459

[2015-07-10 22:00] anthonyettinger commented on #1381
@altsang -- i added axis labels. but i don't have good data set to test with. can you let me know if there are any issues (ie: text overlapping)?

branch is https://github.com/strongloop/strong-arc/tree/feature/api-analytics-units

[2015-07-10 22:12] crandmck commented on #1394
This is done AFAIC: https://github.com/strongloop/smartprofiling-example-app/blob/master/README.md

[2015-07-10 22:13] #1394 closed

[2015-07-10 22:19] chandadharap commented on #1384
I consider this done. So I'll close. Not sure how that affects your own tracking of the list? perhaps clone and add into backlog with an estimate of zero if you want to view in waffle, else you can continue to use the closed issue on github.

I'll look for these stories under Waffle Milestone for gateway.

[2015-07-10 22:20] #1416 closed

[2015-07-10 23:11] sam-github commented on #702
I think sl-deploy gives useful feedback on stderr, but arc has no way to display that info.

[2015-07-10 23:50] arcreative commented on #358
FWIW, I think you can actually do an automigration by using the files in `./node_modules/loopback/common/models/`, going to experiment with this later

[2015-07-11 00:24] seanbrookes commented on #1365
that's a new factory so will take a look

[2015-07-11 01:23] #1386 closed

[2015-07-13 08:57] stacy-hunt commented on #1172
Discussed in UX meeting, updated design to consolidate with product dropdown.

[2015-07-13 15:57] chandadharap commented on #1413
Whats the status on this? Do we have a finalized version?

[2015-07-13 20:48] stacy-hunt commented on #1413
We do: the final wireframe is at:

 https://drive.google.com/open?id=0B1FTzkB7697GbnhvLTFOSTVtcXM

The visual comp is at:

 https://drive.google.com/open?id=0B1FTzkB7697GWXliZkFNaVlobVU

On 14 July 2015 at 03:57, chandadharap <notifications@github.com> wrote:

[2015-07-13 22:46] crandmck commented on #1420
The [README](https://github.com/strongloop/loopback-example-xamarin/blob/master/README.md) is done, except:
- Need to make repo public for images to show up properly.
- Would like to add a section demonstrating how when you use the app in the iOS simulator, data is persisted to LoopBack backend (either locally at http://localhost:3000/explorer/ or at http://xamarindemo.strongloop.com/explorer/).

[2015-07-13 23:27] cgole commented on #1414
verified

[2015-07-14 05:16] chandadharap commented on #1147
@jtary Is this ready? i don't  have a link. Please add here.

[2015-07-14 05:22] chandadharap commented on #1174
will revive if needed.

[2015-07-14 05:23] #1174 closed

[2015-07-14 05:25] chandadharap commented on #1140
obsolete

[2015-07-14 05:25] #1140 closed

[2015-07-14 16:33] jtary commented on #1147
https://docs.google.com/document/d/1MHLEJBTaA_9QQ8d8NqeyDzdfXRYSjC6DeArwsz1ajC8/edit#heading=h.qbgc9wxdgn0o

[2015-07-14 16:34] crandmck commented on #1420
The repo is now public.    Still sorting out the ACLs.

[2015-07-14 16:34] #1395 closed

[2015-07-14 17:50] jtary opened #1447 "Visual Canvas: Instance explorer"
Add a component to show a list of instances in the workspace, and highlight them on the canvas when selected.

[2015-07-14 17:51] jtary opened #1448 "Component toolbox"
Add a component that list out available components, and allows drag-and-drop to canvas. Also duplicate functionally using context menu.

[2015-07-14 17:52] jtary opened #1449 "Visual Canvas: Add link property behaviour."
Add options for links for changing association behaviour.

[2015-07-14 17:53] jtary opened #1450 "Integrate visual composer"
Make the transition between visual, and explicit composer as seamless as possible and hide the visual composer from the main arc landing page.

[2015-07-14 17:55] jtary opened #1451 "Ability to join models"
Add the ability to drag connections between models to define relationships between different objects

[2015-07-14 18:06] #1306 closed

[2015-07-14 18:07] chandadharap commented on #1360
release with Smart Profiling.

[2015-07-14 18:21] chandadharap commented on #1404
dup.

[2015-07-14 18:29] sam-github commented on #582
would fix https://github.com/strongloop-internal/scrum-cs/issues/260#issuecomment-119269118

[2015-07-14 21:05] chandadharap commented on #1420
okay, illlclose.

[2015-07-15 04:52] sam-github commented on #582
also close to fixing https://github.com/strongloop/strong-pm/issues/261, which is another variant of "want to deploy and set something about the same app in one-shot"

[2015-07-16 23:47] seanbrookes commented on #1418
Main integration is done and the prototype backend code has been replaced with workspace api.
Notes:
- currently working off a branch of workspace api until it is merged so npm link is required
- GatewayMaps.getAuthScopes() doesn't seem to be returning a list of scopes so may not be fully implemented
- Pipelines and Maps have not been verified yet

[2015-07-17 15:32] #1399 closed

[2015-07-17 16:49] sam-github commented on #582
Fix is that:

- [ ] sl-deploy should accept a `--size` option, and set the service to that size (if provided) before deploying, so after serviceFindOrCreate(), but before the deploy
- [ ] deploy api should be changed to `require('strong-deploy').deploy(options, callback)`, where the current positional parameters become properties in an options object
- [ ] sl-deploy API in index.js should have a s

[2015-07-17 17:53] seanbrookes commented on #1409
ui is functionally complete
- remainign api integrtation here:  https://github.com/strongloop/strong-arc/issues/1418

[2015-07-17 17:53] #1409 closed

[2015-07-17 17:54] seanbrookes commented on #1410
ui is functionally complete
- remainign api integrtation here:  https://github.com/strongloop/strong-arc/issues/1418

[2015-07-17 17:54] #1410 closed

[2015-07-17 18:00] seanbrookes commented on #1406
issues to be addressed before release:
-  https://github.com/strongloop-internal/scrum-loopback/issues/383
- https://github.com/strongloop-internal/scrum-loopback/issues/389
- https://github.com/strongloop-internal/scrum-loopback/issues/391

[2015-07-17 18:00] #1406 closed

[2015-07-17 18:49] #1420 closed

[2015-07-17 18:51] chandadharap commented on #1147
Jimmy has queued it up for 8/4. we can close. (and we can release code when we are ready)

[2015-07-17 18:51] #1147 closed

[2015-07-18 14:43] nimran commented on #358
What is the apt solution for this issue ?

[2015-07-18 19:21] leifwells commented on #425
Re: Disappearing Models

I tripped over this bug today, 5 hours after signing for StrongLoop.

Thank goodness for Google or I would have totally walked away from the service thinking it was flaky.

[2015-07-20 15:01] #1418 closed

[2015-07-20 15:03] seanbrookes commented on #1418
still some work to be done on the sidbar nav but captured in other stories.  Pipelines and Maps still to be implemented (captured in other stories) but the api is available now

[2015-07-20 15:46] Sequoia commented on #1440
+1

[2015-07-21 04:46] crandmck commented on #1442
What OS?

[2015-07-21 04:52] arcreative commented on #1442
Yosemite

[2015-07-21 16:38] crandmck commented on #1442
I am unable to reproduce with Chrome 43.0.2357.132 on Yosemite with StrongLoop v4.0.5 (node v0.12.6).

[2015-07-21 18:32] sam-github commented on #1442
@arcreative can you make sure you are completely up to date `npm install -g strongloop`, and confirm?

Also, can you try in a new app? And what do you mean by "not work"? Did arc UI load? Did you try to do something specific? At what point does it "not work"?

[2015-07-22 15:32] #1451 closed

[2015-07-22 18:59] sam-github commented on #1256
@Acaspita still an issue, or can we close this?

[2015-07-22 19:07] #704 closed

[2015-07-22 21:49] chandadharap commented on #702
@altsang @seanbrookes @jtary @stacy-hunt FYI, is there a plan to display feedback from sl-deploy? If not whats our plan to handle error messages from backend?

[2015-07-22 22:11] seanbrookes commented on #702
there's 2 parts to this:
1) short term we need some better message from the current api as to status and errors
2) longer term what we really need is a channel to pipe stdout messages through the api so we can display them in the browser for the users ( might be a good job for the Change Stream)
- I have done some research into this and it seems technically feasible
- would def. streamline some of

[2015-07-22 22:23] cgole opened #1460 "Tracing page doesnt load pids"
connected to #1459
I have an app running with a valid tracing license, but pids dont load - http://www.screencast.com/t/EefAd6QDwIO (1KB)

[2015-07-22 23:19] sam-github commented on #702
The stderr/out is available right now from the API for build: https://github.com/strongloop/strong-arc/blob/master/build-deploy/common/models/build.js#L30

But its unused.

I could add something similar for deploy pretty readily.

In terms of what strong-deploy knows and can ensure is in the err message, I'll check.

[2015-07-22 23:31] seanbrookes commented on #1460
I think this is the wrong screencast - do you have a different one?

[2015-07-22 23:31] seanbrookes commented on #1460
or just outline the steps to reproduce

[2015-07-23 00:34] Acaspita commented on #1256
I lost track of this. If I encounter with something akin again, report will I do. Close it please.

[2015-07-23 15:33] #1256 closed

[2015-07-23 17:06] altsang commented on #1337
verified on master

[2015-07-23 17:06] #1337 closed

[2015-07-23 17:09] altsang commented on #1413
LGTM - done

[2015-07-23 17:18] cgole opened #1461 "Broken line in Process Manager UI"
http://screencast.com/t/9nYGuBXU

[2015-07-24 16:23] sam-github commented on #582
@crandmck need doc: `slc deploy` has a --size option now

[2015-07-24 17:16] cgole commented on #1460
verified

[2015-07-24 17:20] cgole commented on #1443
verified

[2015-07-24 17:33] cgole commented on #1440
I am able to select the host:port but pids dont load

[2015-07-24 17:40] cgole commented on #1165
Follow up story next sprint.

[2015-07-24 17:53] crandmck commented on #582
Updated http://docs.strongloop.com/display/NODE/slc+deploy, with new option currently hidden from external view.  Will make it visible when the change is published to npm.

[2015-07-24 17:54] cgole commented on #1439
verified

[2015-07-24 20:31] seanbrookes commented on #1440
should be good now.  was referencing the wrong host status

[2015-07-24 23:23] #574 closed

[2015-07-24 23:24] sam-github commented on #537
@uhrohraggy is this still true?

[2015-07-28 15:19] seanbrookes commented on #1397
visual treatment still needed: https://github.com/strongloop-internal/scrum-loopback/issues/398

[2015-07-28 15:19] seanbrookes commented on #1396
visual treatment still needed

[2015-07-28 15:21] chandadharap commented on #1397
@seanbrookes Its not clear to me that visual treatment was "missing" in Stacy's spec or that it just didn't get done in this story? Please clarify. I'd have expected visual treatment to be nominal and based on Style Guideline and not custom visual?

[2015-07-28 15:23] seanbrookes commented on #1397
I mean apply visual treatment / layout as per spec.  Stacy just published the latest (last) visual spec yesterday.  The UI is functionally complete.

[2015-07-28 16:23] altsang commented on #1423
verified on staging

[2015-07-28 16:23] #1423 closed

[2015-07-28 16:23] altsang commented on #1381
verified on master and staging

[2015-07-28 16:23] #1381 closed

[2015-07-28 16:25] altsang commented on #1172
assumed to be ok per comment above with @anthonyettinger, @seanbrookes, @jtary - if no additional comments, assigning back to @anthonyettinger to implement into styleguide

[2015-07-28 16:42] chandadharap commented on #1405
Needs Comp from Stacy

[2015-07-28 16:51] chandadharap commented on #1401
dup

[2015-07-28 16:51] #1401 closed

[2015-07-29 16:08] #1440 closed

[2015-07-29 16:09] #1439 closed

[2015-07-29 16:09] #1165 closed

[2015-07-29 16:09] #1460 closed

[2015-07-29 16:09] #1443 closed

[2015-07-29 16:09] #1414 closed

[2015-07-29 16:09] #1145 closed

[2015-07-29 16:09] #1380 closed

[2015-07-29 22:40] jtary opened #1466 "Arc visual clean-up"
Go through Arc and improve as many minor padding and alignment issues as can be done within a limited timebox.

[2015-07-30 16:48] altsang opened #1468 "remove zeroclipboard to minimize security risk"
As a outside vendor doing security scan, I've encountered Flash components as a possible vector for infiltration, for now to minimize exposure would like to remove zeroclipboard library from the license manager license key pop up page.

- [ ] remove library
- [ ] hide copy button

[2015-07-30 17:45] cgole opened #1470 "Windows - host:port entry disappears from PM, on clicking activate button"
Steps
Add host-port to PM in Arc.
Click activate.
The entry disappears

[2015-07-30 17:45] cgole commented on #1470
dup of #1470

[2015-07-30 18:12] cgole opened #1471 "Arc returns blank page"
latest from staging -

![screen shot 2015-07-30 at 11 12 00 am](https://cloud.githubusercontent.com/assets/991632/8991192/e30c6fc8-36ab-11e5-9e50-b2cf1b6c2957.png)

[2015-07-30 20:25] seanbrookes commented on #1470
I'm having trouble reproducing this problem.  the PM activate seems to be working ok on the windows VM I tested it on.
I did see the setStatus error when starting the app from App Controller but that is a known, unrelated issue.

[2015-07-30 23:27] rmg commented on #1471
What version of loopback-workspace was installed? If it is higher than 3.15.1 then a cached copy of a bad version was installed.

[2015-07-31 15:40] chandadharap commented on #1402
blocked on Stacy

[2015-07-31 16:31] altsang opened #1472 "Styleguide: add more flexible table grid option"
As a SL developer building Arc modules, I would want to be able to display components aligned into a table like structure that isn't constrained to having single rows to each "record" so that I can show categories and groupings more easily that span more than one row.

Per @seanbrookes:

[2015-07-31 23:18] sam-github commented on #582
https://github.com/strongloop-internal/scrum-nodeops/issues/854 doesn't appear to effect strong-pm, but @cgole, you should make very sure!

[2015-08-03 18:14] crandmck commented on #582
The doc is updated with `--size` option

[2015-08-03 19:04] cgole opened #1475 "Smart profiling on mac returns empty profiles"

[2015-08-03 19:04] cgole commented on #1475
![screen shot 2015-08-03 at 12 02 41 pm](https://cloud.githubusercontent.com/assets/991632/9045402/c164fbb8-39d7-11e5-8e02-29a73f4ac6cc.png)

[2015-08-03 21:42] cgole commented on #1475
I can see data when I run this through command line

[2015-08-03 21:48] cgole opened #1476 "Load button in load fro file page is grayed out"
![screen shot 2015-08-03 at 2 47 58 pm](https://cloud.githubusercontent.com/assets/991632/9048535/bdf01672-39ee-11e5-9f37-1f04c9c15d10.png)

[2015-08-03 21:55] cgole commented on #1475
sample profiles that I got from the command line - https://gist.github.com/cgole/4793a5833e66bc83908d

[2015-08-03 22:28] altsang opened #1477 "UX: need to flesh out cardinality UX"
As a SL developer using the canvas within the Composer, I would need to be able to specify all of the supported relationships between models - http://docs.strongloop.com/display/public/LB/Creating+model+relations, in order to do so we need UX details on how they are specified especially the `hasManyThrough`.

[2015-08-04 19:29] bnoordhuis commented on #1475
I'll take a look tomorrow, maybe the issue is with the agent.  Self-assigning.

[2015-08-04 19:30] shaununderwood commented on #1471
I've the exact same issue and can't move any further cos of it.
after executing npm install -g strongloop the above writer's scenario occurs.

➜  ~  slc version
strongloop v4.1.1 (node v2.2.1)
├── strong-arc@1.7.1 (9bb91bb)
├── strong-build@2.0.3 (b66d030)
├── strong-deploy@3.0.0 (bee617c)
├── strong-pm@5.0.0 (dbaa1a5)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.0 (3862a1f)
├─┬ strong

[2015-08-04 19:36] shaununderwood commented on #1471
okay, i've resolved this. Chrome has AdBlock recently installed, deactivating AdBlock extension allows the Metrics files to be loaded.

[2015-08-04 22:00] stacy-hunt commented on #1477
Basic Cardinality:

https://drive.google.com/open?id=0B1FTzkB7697GVGRFYmFsMllXQ0U

[2015-08-05 03:33] chandadharap commented on #1468
Removing bug tag. @anthony please add an estimate so I can throw something out of current Sprint if needed. This one is clearly priority.

[2015-08-05 16:45] #1471 closed

[2015-08-05 17:26] cgole commented on #1475
@bnoordhuis I assumed this is an issue with Arc, since I do get data when I run it through cli?

[2015-08-05 17:29] bnoordhuis commented on #1475
It's possible the new CPU profiler doesn't send all the necessary fields, I'll check that.

[2015-08-06 17:56] cgole commented on #1470
cannot repro

[2015-08-06 21:02] #1402 closed

[2015-08-06 21:08] chandadharap commented on #1447
Underestimated. More complex than originally estimated?

[2015-08-06 21:10] chandadharap commented on #1448
Not in mockups, not needed.

[2015-08-06 21:10] #1448 closed

[2015-08-06 22:05] altsang commented on #1290
reviewed on `feature/intercom-integration`, can be merged to master, but please hide behind a feature flag, I will coordinate with Sumitha on customer communication

[2015-08-06 22:08] stacy-hunt commented on #1405
I'll anticipate a description of what the comp needs to illustrate in the UX meeting.

[2015-08-06 22:14] anthonyettinger commented on #1290
@altsang we still need to switch it out of test environment before we merge to master. re-opening.

[2015-08-06 22:33] altsang commented on #1290
ahh yes - good catch

[2015-08-06 22:44] stacy-hunt commented on #1403
Having trouble getting the branch to work. I'll review this once I can get help to fix it.

[2015-08-06 22:53] anthonyettinger commented on #1290
can we get a ticket for putting behind a feature flag and changing to production env?

[2015-08-06 23:25] anthonyettinger opened #1479 "Add feature flag for intercom and enable production env"

[2015-08-07 00:37] altsang commented on #1290
oops - I created a duplicate - https://github.com/strongloop-internal/scrum-loopback/issues/421, do you want to #1479? I have an action item I'll check off for Sumitha coordination, thx!

[2015-08-07 04:08] chandadharap commented on #1396
I'm moving this back into InProgress. Its not a review is it?

[2015-08-07 04:11] chandadharap commented on #1397
This comment was at start of Sprint, when the spec was available. This has suddenly landed on Anthony's plate?

[2015-08-07 04:22] #1404 closed

[2015-08-07 04:23] #1360 closed

[2015-08-07 15:32] jtary opened #1480 "Enable slider behaviour for layout"
Allow the user to dynamically resize the size of the canvas and object properties panel. Users should be able to:
  - [ ] resize columns by dragging divider
  - [ ]  double click to fully collapse/expand section
  - [ ] auto-scroll panels to create the appearance of covering adjacent panels.

[2015-08-07 17:20] seanbrookes commented on #925
The actual change is to keep the App Controller but to wire it up to a more basic  node start type command, bypassing the pm altogether.
So technically the app controller 'should' work on projects outside LB as long as we can make sense of the 'start path/file'

[2015-08-07 22:23] anthonyettinger commented on #1290
#1479 is good. I put it in Planning

[2015-08-10 22:58] #1480 closed

[2015-08-11 06:12] seanbrookes commented on #1419
main crud flow is in place.  remaining tests listed in this story: https://github.com/strongloop-internal/scrum-loopback/issues/434

[2015-08-11 06:12] #1419 closed

[2015-08-11 15:57] #1398 closed

[2015-08-11 16:09] chandadharap commented on #925
This fixes it for the immediate. Replacing Controller behavior is a medium/long term.

[2015-08-11 16:10] chandadharap commented on #925
@rmg this seems to be a CI issue. @sean to follow up.

[2015-08-11 16:13] chandadharap commented on #1396
Create a visual polish story and we can close this.

[2015-08-11 16:14] #1396 closed

[2015-08-11 16:14] chandadharap commented on #1400
e2e and functional done.

[2015-08-11 16:14] #1400 closed

[2015-08-11 16:15] chandadharap commented on #1397
e2e test and functioanlity complete. separate story for final visual treatment.

[2015-08-11 16:16] #1397 closed

[2015-08-11 16:18] chandadharap commented on #1449
scope re-negotiated at UX meeting

[2015-08-11 16:19] chandadharap commented on #1407
needs functionality and e2e tests.

[2015-08-11 16:20] chandadharap commented on #1407
Please add detail to the description. @anthony

[2015-08-11 16:28] chandadharap commented on #1408
Redundant. close.

[2015-08-11 16:29] #1408 closed

[2015-08-11 17:17] chandadharap commented on #1411
done.

[2015-08-11 17:18] #1411 closed

[2015-08-12 21:35] altsang opened #1484 "Arc: remove internal pm - we have process manager now"
As an Arc developer I would like to be able to run my app to preview it, run API explorer and other runtime information without having to worry about strong-pm.

- confusing to have an app controller and process manager trying to interact with strong-pm (internally vs. externally)

/cc: @jtary

connected to: #1539
connected to: strongloop/loopback-workspace#229

[2015-08-12 23:23] chandadharap commented on #1484
Al's note: - App controller could just run the app as a child Node process  ( `node .`)

[2015-08-13 15:29] #1449 closed

[2015-08-14 14:58] raymondfeng opened #1485 "Property types are not shown when a model definition view is opened first time"
Start Arc, go to Composer, open a model definition.

![image](https://cloud.githubusercontent.com/assets/540892/9276635/0eab5c5c-425a-11e5-9bbf-92639e42b8e6.png)

If the model definition view is opened again, the property type starts to show up.

[2015-08-14 14:59] raymondfeng opened #1486 "No way to delete an existing property from model definitions in Arc"
I don't see a `delete` button to remove an existing property.

[2015-08-14 15:01] raymondfeng opened #1487 "The model property comments column should be description"
Model property doesn't have the `comments` attribute but it honors `description` all the way to API/Model spec.I think we should use `description` instead of `comments`.

[2015-08-14 17:27] seanbrookes commented on #1485
some clarification on how to reproduce:
- are you saying the 'Type' dropdown isn't populated the first time you open a model editor view?

[2015-08-14 17:28] raymondfeng commented on #1485
No, the initial value is empty.

[2015-08-14 18:18] seanbrookes commented on #1485
the Type value should display 'String' as default value  - gotit

[2015-08-14 18:19] seanbrookes commented on #1486
The UX design calls for the delete button to only show up when a user hovers over the relevant 'row'

[2015-08-14 20:01] anthonyettinger commented on #1407
test is in place, but there is an issue with running multiple tests.
added 2 points to account for e2e testing.

[2015-08-14 20:06] anthonyettinger commented on #1412
adding 2 points for e2e tests.

[2015-08-14 21:08] rmg opened #1488 "Find alternative to express-jsxtransform"
We should find an alternative to express-jsxtransform as used by Arc now that jstransform and react-tools, which express-jsxtransform wraps) have been deprecated.

https://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

The claim is that babel now does the job. A quick search turns up https://github.com/babel/babel-connect which seems to perform a similar rol

[2015-08-14 23:00] stacy-hunt commented on #1403
Discussed with the group, we're going to do this review verbally on Wednesday as part of an overall review of Gateway

[2015-08-14 23:23] cgole opened #1489 "Api Analytics performance issue - takes very long to load when app is subjected to high loads"
- takes very long to load when app is subjected to high loads
- to reproduce, subject app to high load.
- Can reproduce with strong-gateway-demo app

https://github.com/strongloop/strong-gateway-demo

connected to #1522

[2015-08-14 23:31] cgole opened #1490 "API analytics charts- axis labels inaccurate"
I am seeing this often. Should be easy to reproduce
![1](https://cloud.githubusercontent.com/assets/991632/9286081/d34ea90a-42a1-11e5-84bc-be56275ee95b.png)

connected to #1522

[2015-08-14 23:31] cgole opened #1491 "API analytics chart labels overlapping each other"
![screen shot 2015-08-14 at 4 08 31 pm](https://cloud.githubusercontent.com/assets/991632/9286087/f6d3b8de-42a1-11e5-8051-03b425d5bce2.png)

connected to #1522
connected to #1526

[2015-08-17 14:24] #1422 closed

[2015-08-17 16:06] #1470 closed

[2015-08-17 22:42] altsang opened #1494 "strong-pm not running an application needs softer messaging"
As a SL arc user, I'm now use to adding strong-pms first entered into the Arc Process Manager because of the UX change to centralize drive users to using Arc PM as the master data table.

When I add a new strong-pm that is not running an app the messaging that something is wrong is quite strong and lumped into the same category as `Problem`.

![image](https://cloud.githubusercontent.com/assets/226

[2015-08-18 16:25] Bergur1 opened #1495 "strongloop fails to install globally on Ubuntu 14.04 x64 Digital Ocean Droplet"
Create a droplet, install nodejs using package manager, then try to install strongloop globally. The installation succeeds but the strongloop binary is nowhere to be found.

[2015-08-18 17:28] cgole commented on #1494
we might have introduced a regression. now, when a pm has no app deployed to it, the status shows as Inactive

[2015-08-18 17:32] cgole commented on #1494
Start a pm, dont deploy an app to it yes. add it to Arc PM.
Status is inactive

[2015-08-18 18:22] cgole commented on #1494
verified

[2015-08-18 18:42] chandadharap commented on #1494
Published in 1.8.1
Closing.

[2015-08-18 18:42] #1494 closed

[2015-08-19 21:41] stacy-hunt commented on #1358
Here's a version that I think has merit. Thoughts?

![image](https://cloud.githubusercontent.com/assets/1924932/9369799/709fc89c-4680-11e5-8f81-50ac4b8dc1cd.png)

[2015-08-20 04:00] stacy-hunt commented on #1358
Al like 2 and 5

[2015-08-20 04:46] #1477 closed

[2015-08-20 04:47] #1403 closed

[2015-08-20 16:15] sam-github commented on #925
@jtary why did you assign to @crandmck ? Does it need docs? Did you mean Ryan, or @cgole ?

[2015-08-20 16:27] jtary commented on #925
@sam-github I think it was a mistake, should have gone to @cgole.

[2015-08-20 17:32] chandadharap commented on #1490
@cgole What is inaccurate?  What do you think it should be? and how to reproduce?

[2015-08-20 17:49] anthonyettinger commented on #1491
@cgole Can I get specific steps to reproduce?

[2015-08-20 17:49] anthonyettinger commented on #1489
@cgole can I get detailed/specific steps to reproduce?

And a description calling out what exactly is slow? Which graph?

[2015-08-21 16:07] cgole commented on #925
verified

[2015-08-21 16:09] sam-github commented on #1475
@bnoordhuis strong-agent master is unreleasable until this bug is fixed. If you can fix it in the next week or so, we can block any agent releases and wait for cpu profiling to work again.

If its going to take a while, can you back out the the older version that worked on Linux? Or perhaps both can co-exist, and be switchable at runtime?

[2015-08-24 15:30] jtary commented on #1447
Yes

[2015-08-24 15:32] altsang commented on #1358
I ran this by JCS, unfortunately none of them really stood out.  The last one possibly but the Arc looked more like a semi-circle curve

the issue with the electrodes is that there isn't an immediate association of what they are without help from the photo we used on the website.  At first I thought they were actually insect antennas

maybe we can take #5 and evolve it?

[2015-08-24 15:34] altsang commented on #1479
ended up not using feature flag, applies to all versions
Sumitha is waiting and testing to see what responses are like.

[2015-08-24 15:34] #1479 closed

[2015-08-24 16:07] altsang commented on #1468
verified on master

[2015-08-24 16:07] #1468 closed

[2015-08-24 16:09] altsang commented on #1383
this work eventually was assigned to Raymond and we created LB models for each of the entities listed above, I have no idea which stories ended up being mapped to this epic

[2015-08-24 17:09] seanbrookes commented on #1358
Why not point the electrodes inwards to help form an 'A' shape.  I proposed something earlier as a rough sketch:
![proposed-logo](https://cloud.githubusercontent.com/assets/1751524/9446774/41ff7304-4a48-11e5-8b90-171476cfe631.png)

[2015-08-24 17:23] altsang commented on #1358
electrodes and an electrical arc just aren't common every day things software devs discuss, if we were EEs than might be a different story, I think we should just drop trying to get the electrodes and get something that looks like an arc (as in the shape)

[2015-08-24 21:25] anthonyettinger opened #1498 "Styleguide - misc"
- [x] Borderless Button:  #7dbd33 should be the color for .ui-bnt.accessory
- [x] Add medium modal dialog to style guide (see Policy edit confirmation dialog)
- [x] Add pillbox to Styleguide (#375)

[2015-08-24 21:26] anthonyettinger opened #1499 "Style guide - forms"
- [x] Form field labels should be uppercase,
- [x] Review all form fields / labels

[2015-08-24 21:26] anthonyettinger opened #1500 "Styleguide - table"
- [ ] Header should be less tall and the headings should be capitalised (see comp)
- [ ] Row heights are too tall
- [ ] Blue border should outline selected cell (input 100% height)
- [ ] Mousing over a row, the top border is not turning blue

[2015-08-24 21:26] anthonyettinger opened #1501 "Styleguide - treenav"
- [ ] Make a new project to review and add to Styleguide
- [ ] Discuss order of mapping / pipelines / policies in UX meeting

[2015-08-24 21:27] anthonyettinger opened #1502 "Style guide - headings"
- [ ] Specify style for page heading

[2015-08-24 21:27] anthonyettinger opened #1503 "Styleguide - misc"
- [x] Modal dialog corners sb square

[2015-08-24 21:28] anthonyettinger opened #1504 "Gateway-specific design fixes"
- [x] Modals have extra borders that shouldn’t be there
- [x] Make sure all forms / inputs match style guide
- [x] Check label of “Revert” buttons (some currently say “cancel”
- [x] No left margin on buttons

[2015-08-24 21:28] anthonyettinger opened #1505 "Policies design fixes"
- [x] Policy form - use same components as Pipeline form
- [x] Policy List: Add New Policy button: use the borderles button  from the Styleguide
- [x] New Policy Dialog - make a visual comp
- [x] modal-md styling is off, should like large modal on styelguide but smaller
- [x] Hide “Revert” and “Save” buttons until form is dirty, and place them at the bottom left (see pipeline edit)
- [x] Add “Reve

[2015-08-24 21:28] anthonyettinger opened #1506 "Pipelines design fixes"
- [x] Add “Revert” button to Policy form
- [x]  Add Help to heading
- [x] Form fields / labels don’t match style guide (markup is wrong)
- [x] Remove form border? (see visual comp - not essential but preferable)

[2015-08-24 21:29] anthonyettinger opened #1507 "Mappings design fixes"
- [x] New Mapping Dialog check vertical margins between form groups against comp
- [x] Remove form border
- [x] Validation when adding a new mapping
- [x] Same improvements as Pipeline view: vertical margins, remove form border, position save button

[2015-08-24 22:17] altsang opened #1508 "smart profiler: not returning samples"
steps to reproduce (walked through with Joe to verify already)

1. run `smartprofiler-example-app` in strong-pm
2. make sure license is pushed to strong-pm
3. point browser to example app and set timeout to 150ms
4. run arc
5. add strong-pm in Arc Process Manager
5. go to Profiler module, select strong-pm instance
6. goto profiler settings, and set to smart profile, threshold 20ms, 1500 sample
7.

[2015-08-24 23:37] cgole commented on #1489
1. Unzip this file. - https://drive.google.com/open?id=0B4n1rGzq6syFfldZcDFXMEdZMXpTOTVZMkNWQS1LSWF4NFUxLWE0Skc0c0dDYkc0THk3UFU
2. Start arc with --feature api-analytics
3. Add localhost:8701 in PM
4. cd into the app (from 1)
5. cd auth-server
6. slc start
7. slc ctl set-size 1 1
8. cd resource-server
9. slc start
10. slc ctl set-size 2 1
11. cd ..
12. node client
13. Copy this into a file  - http

[2015-08-24 23:47] anthonyettinger commented on #1172
@stacy-hunt I thought we did this already. I put 4 dropdown version in the styleguide. Did I miss one?

Also, this design doesn't depict the closed state if we build it.

[2015-08-25 00:05] anthonyettinger commented on #1502
@stacy-hunt we should do a design comp for headings across the site and add to styleguide. If you have one, please post headings comp here.

[2015-08-25 00:06] anthonyettinger commented on #1501
need mock

[2015-08-25 05:22] anthonyettinger opened #1509 "modify policy e2e test"

[2015-08-25 05:23] anthonyettinger commented on #1412
moved modify e2e test to its own ticket.

[2015-08-25 05:23] anthonyettinger opened #1510 "modify pipeline e2e test"

[2015-08-25 05:24] anthonyettinger opened #1511 "modify mapping e2e test"

[2015-08-25 05:25] anthonyettinger commented on #1407
blockers have all been resolved on writing e2e tests. I created a new ticket for the `edit` e2e test.

[2015-08-25 06:44] altsang opened #1513 "metrics: cpu chart disappears and comes back as a singular point"
steps to reproduce:

1. run strong-pm with the smartprofiling-example-app
2. run the example app and set the threshold to 150ms
3. go to metrics, view the CPU chart
4. wait for the next data point to arrive

CPU chart disappears entirely...

[2015-08-25 12:52] haovn577 commented on #1365
+1

[2015-08-25 12:58] haovn577 commented on #1365
Got this error in 1.6.0 also

[2015-08-25 15:29] jtary opened #1514 "E2E tests for visual canvas"
Add end to end tests to verify minimum functionality for visual canvas

[2015-08-25 15:30] jtary opened #1515 "Bug fixes for visual canvas"

[2015-08-25 15:35] jtary opened #1516 "Dev portal prototype -- basic project structure"
Setup a basic project structure with the layout for the dev portal prototype

[2015-08-25 15:36] jtary opened #1517 "Dev portal mock registery"
Mock service for dev portal prototype that will act as a stand-in for the normal app registry.

[2015-08-25 15:37] jtary opened #1518 "Dev portal basic layout template"
Basic bootstrap layout for the dev portal based on the wireframes

[2015-08-25 15:38] jtary opened #1519 "Dev portal submenu component"
Build out component for submenu used for docs and api portions of the dev portal prototype

[2015-08-25 15:54] jtary opened #1520 "Dev portal user menu component"
component that shows user current login state and allows for access to user settings/logout

[2015-08-25 15:59] jtary commented on #1515
- [ ] cannot create relations after new model is added
  - [ ] changes to relationship types are not persisted
  - [ ] visual canvas stops responding when datasources are added
  - [ ] deleting relationships does not work
  - [ ] routing sometimes results in very odd relationship lines
  - [ ] canvas drag offsets are modified after resizing the panel
  - [ ] composer panel looks odd on very wide s

[2015-08-25 16:15] altsang opened #1521 "Metrics: data points are being squashed"
steps to reproduce:

1. run tracing-example-app in strong-pm with proper license
2. let Metrics run for extended amount of time to collect at least a number of data points to span at least 5 hours

[2015-08-25 16:22] chandadharap commented on #1516
demoware. (with no real backend)

[2015-08-25 16:23] #1447 closed

[2015-08-25 17:45] stacy-hunt commented on #1502
I think this is a duplicate for card #1132 right?

[2015-08-26 02:10] haovn577 commented on #1365
I have created new project by 'slc newProject', it's ok.
But when i use loopback-angular-admin (https://github.com/beeman/loopback-angular-admin), can't see Models in Arc.
Still get stuck with this.

Best Regards,

[2015-08-26 15:42] anthonyettinger commented on #1502
#1132 looks like a review ticket, this one here is implementation.

[2015-08-26 18:53] stacy-hunt commented on #1132
This card is superceded by #1502, so I'll close it

[2015-08-26 18:53] #1132 closed

[2015-08-26 18:54] stacy-hunt commented on #1502
OK, I closed #1132

[2015-08-26 22:23] anthonyettinger commented on #1502
@stacy-hunt did we do a summary of all header versions in use yet? I think that's what #1132 is for.

[2015-08-27 00:13] seanbrookes commented on #1490
I'm unable to reproduce this. Anthony suggested he had fixed it at one point.  Are there steps to consistently repro?

[2015-08-27 00:40] seanbrookes commented on #1490
I am seeing intermittent misordering of the times.  Looks to be a sort issue based on the value as opposed to respecting the time order first.
- will keep looking.

[2015-08-27 18:27] chandadharap commented on #1508
Hi, Is this still unverified? Its sitting assigned to you, am assuming it got fixed? please let me know.

[2015-08-27 18:37] altsang commented on #1508
:+1: verified on master and on feature/initial-gateway-module

[2015-08-27 18:37] #1508 closed

[2015-08-27 23:55] seanbrookes commented on #1490
this looks to be a result of the initial getData method getting called twice during initialization and a user clicking on one of the bars inbetween loads causing a duplication in the breadcrumbs and causing the chart depth  index to become 'corrupt'

fix is to ensure the getData method only gets called once during initialization

[2015-08-27 23:57] seanbrookes commented on #1489
the main fix was to add loading indicator to the view between clicks on the chart.  The main culprit appears to be the api work needed to compile the summary data to push to the chart.

There may be some improvements we can make to the ui to tune it up a bit.

There were a few ux tweaks contained in this PR as well but a number of follow on stories have been created in the backlog

[2015-09-01 21:36] altsang opened #1523 "Profiler: select all PIDs pushes down PID selector"
steps to reproduce:

1. go to process manager and add a strong-pm with appropriate licensing for watchdog
2. increase processes to at least 2
3. go to Profiler
4. set smart profile in `Profile Settings`
5. click `Select All` button

before clicking `Select All` button
![image](https://cloud.githubusercontent.com/assets/2261105/9617481/e995e156-50b6-11e5-9300-5004feacbd03.png)

after click `Select

[2015-09-01 22:11] cgole commented on #1490
verified

[2015-09-01 22:12] cgole commented on #1489
much better than before. verified

[2015-09-01 22:16] cgole commented on #1491
I still see the number of very close to each other making it difficult to read. http://screencast.com/t/p04Cy3KJ9W

[2015-09-02 03:09] altsang opened #1524 "Gateway: can't easily click on scopes"
steps to reproduce:

1. define new policy
2. click on `auth` as `Type`
3. try to enter `Scope(s)` field, must click at the very beginning of field to enter input mode

![image](https://cloud.githubusercontent.com/assets/2261105/9622258/7081a58c-50e5-11e5-94df-c7f9299be6a4.png)

[2015-09-02 03:17] altsang opened #1525 "Gateway: added Oauth2 policy to pipeline cannot see scope details"
1. create Oauth2 policy
2. create PIpeline
3. add Oauth2 policy to Pipeline
4. `Scopes:` detail field shows no helpful information

![image](https://cloud.githubusercontent.com/assets/2261105/9622508/b5392274-50e8-11e5-8b20-6c6f26700944.png)

[2015-09-02 15:23] jtary commented on #1515
Some things that need to be fixed after recovering the repo:
  - [ ] relationship lines do not show cardinality
  - [ ] changes to relationships not being persisted
  - [ ] relationship lines cannot be modified

[2015-09-02 20:49] stacy-hunt commented on #1405
![image](https://cloud.githubusercontent.com/assets/1924932/9643915/5093f812-5179-11e5-8838-d3e56d16d320.png)

[2015-09-02 21:08] stacy-hunt commented on #1358
Try this one out:

![image](https://cloud.githubusercontent.com/assets/1924932/9644626/0ba9947a-517c-11e5-9555-a2107baa8cc6.png)

[2015-09-02 21:11] seanbrookes commented on #1405
Pipelines don't have a type field

[2015-09-02 22:43] stacy-hunt commented on #1405
D'oh! Thanks for the catch Sean. Corrected.

[2015-09-03 17:11] chandadharap commented on #1505
@stacy-hunt Please verify all except e2e tests before end of Friday if possible.

[2015-09-03 17:11] #1383 closed

[2015-09-03 17:12] #1407 closed

[2015-09-03 17:12] #1412 closed

[2015-09-03 22:33] altsang opened #1527 "Gateway: can't edit and then save"
1. create a default Oauth2 policy
2. save policy
3. re-click saved policy on the tree nav
4. click on `Scope(s)`
5. add a new scope
6. try saving (`Save` button is grayed out)

![image](https://cloud.githubusercontent.com/assets/2261105/9672633/29ccd8d8-5251-11e5-9b72-557ed1863126.png)

[2015-09-03 22:37] altsang opened #1528 "Gateway: initial save is triggering replace dialog"
steps to reproduce:

1. create a policy
2. create a pipeline
3. add policy to pipeline
4. create new mapping
5. choose pipeline in new mapping
6. click `Save`

![image](https://cloud.githubusercontent.com/assets/2261105/9672702/a706140e-5251-11e5-9bfb-929ad2a9cebe.png)

7. click mapping and hit `Save` button again - dialog is always triggered

[2015-09-04 15:46] chandadharap commented on #1509
Based on history, this was not verified by Chandrika? @cgole please confirm and reopen if so.

[2015-09-04 15:55] #1489 closed

[2015-09-04 15:55] #1490 closed

[2015-09-04 16:06] cgole commented on #1491
@sean, is it possible to make this any better?

[2015-09-04 17:26] seanbrookes commented on #1491
can you be more specific (show an updated screen shot of what you are seeing?

I set the number of 'ticks' to display to approx 6 so the chart with display the closest 'rounded' values without any crowding

Maybe you are seeing something different?

[2015-09-04 19:46] cgole commented on #1491
@seanbrookes  the screenshot if in the comment. Click on the link in the comment.

[2015-09-04 21:02] cgole commented on #1523
verified

[2015-09-04 22:15] cgole commented on #582
there is a bug here. I set the cluster size to 3 and deployed my app through arc. My cluster has 4 workers, not including the master worker. Looks like it picking the default no of cpu's as cluster size

Chandrikas-MacBook-Air:~ chandrikagole$ slc ctl
Service ID: 1
Service Name: default
Environment variables:
  No environment variables defined
Instances:
    Version  Agent version  Cluster size  D

[2015-09-04 22:57] #1523 closed

[2015-09-04 22:59] chandadharap commented on #1511
duplicate od another. closing.

[2015-09-04 22:59] #1511 closed

[2015-09-08 04:38] chandadharap commented on #1405
ping? is this verified?

[2015-09-08 04:38] chandadharap commented on #1505
ping? is this verified @stacy-hunt?

[2015-09-08 09:43] jtary opened #1529 "Visual cleanup for canvas"
Fix various issues with the styling of the visual canvas

  - [ ] colorize links depending on type
  - [ ] add icons for db, link type buttons
  - [ ] colors and fonts are incorrect for models

[2015-09-08 15:10] seanbrookes commented on #1491
Please double check the version of your code as there should only ever be 6 or 7 ticks on the x axis now.

[2015-09-08 16:20] anthonyettinger commented on #939
verify fix from upstream is in place

[2015-09-08 17:06] cgole opened #1530 "arc on staging cannot find module 'minkelite'"
strong-arc@1.8.33 (a009561)

To repro -
install latest arc from staging
run slc arc
on the console you'll get this -

$ slc arc
Loading workspace /Users/chandrikagole/workspace/test2
StrongLoop Arc is running here: http://localhost:59163/#/
module.js:338
    throw err;
    ^

Error: Cannot find module 'minkelite'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._lo

[2015-09-08 17:27] rmg commented on #1530
Were there any errors during installation?

[2015-09-08 17:42] raymondfeng commented on #1241
Follow-up stories:

strongloop-internal/scrum-loopback#490
strongloop-internal/scrum-loopback#489
strongloop-internal/scrum-loopback#490

[2015-09-08 17:59] cgole commented on #1530
no error - https://gist.github.com/cgole/91db49b6d5c66c65f7b1

[2015-09-08 18:15] Setogit commented on #1530
The installation log looks normal: https://gist.github.com/cgole/91db49b6d5c66c65f7b1
[sqlite3] Success and minkelite@1.2.18 show up in the log.

[2015-09-08 18:31] Setogit commented on #1530
Installed the latest strongloop from staging.  'slc arc' works fine on OSX:

[sqlite3] Success: "/usr/local/lib/node_modules/strongloop/node_modules/minkelite/node_modules/sqlite3/lib/binding/node-v14-darwin-x64/node_sqlite3.node" is installed via remote

├── minkelite@1.2.18 (xtend@4.0.0, util@0.10.3, ago@1.0.0, md5@2.0.0, stats-lite@1.0.3, express@4.9.8, body-parser@1.9.3, sqlite3@3.0.10)

└── s

[2015-09-08 18:57] cgole commented on #1530
not a bug.  maybe a bad install of strongloop.

[2015-09-08 18:57] #1530 closed

[2015-09-08 19:26] Setogit commented on #1530
@cgole: Does it work for you now?  What was the root cause?  The installation step is straightforward, just "npm install -g strongloop"

[2015-09-08 20:39] stacy-hunt commented on #1405
Yep, the image has been updated. There's no type field in it any more.

[2015-09-08 20:43] stacy-hunt commented on #1505
I'm still having issues getting Anthony's branch running on my computer. I'm hoping to get Sean to help me with it, but everyone's been on holiday. I think we need to find a more designer-friendly way to pull branches and update them. I aways run into issues I can't resolve when I try to do it using the command line. I'll talk to the guys about that in today's meeting.

[2015-09-08 20:45] Setogit commented on #1530
Chandrika Gole [12:55 PM]
@seto: I closed the bug as cannot not reproduce. I am not sure what the issue was. I just reinstalled from staging and now I don't see it

[2015-09-08 21:26] stacy-hunt commented on #1358
How about these?
![image](https://cloud.githubusercontent.com/assets/1924932/9747894/286ee0f0-562d-11e5-9083-75a4cad7a375.png)

[2015-09-08 21:46] altsang opened #1531 "Gateway: default-rate-limiting-policy doesn't show values"
1. clone strong-gateway
2. run `slc arc --feature gateway`
3. go to Gateway module
4. click on default-rate-limiting-policy

![image](https://cloud.githubusercontent.com/assets/2261105/9748250/6a3d75d6-5638-11e5-8a6d-67ccc2fca562.png)

5. you need to click on `Type` to show the rest of the fields

[2015-09-08 21:58] #1405 closed

[2015-09-08 22:33] stacy-hunt commented on #1505
Here's a visual comp for the New Policy dialog

![image](https://cloud.githubusercontent.com/assets/1924932/9749123/91c7eb74-5636-11e5-9057-361b6cd8a63c.png)

[2015-09-09 00:35] cgole commented on #1491
verified. not a bug anymore

[2015-09-09 00:35] #1491 closed

[2015-09-09 21:19] anthonyettinger commented on #939
there was a pending PR to fix this issue upstream, but the PR got rejected. It doesn't look promising as far as getting an upstream fix.

https://github.com/novus/nvd3/pull/851#issuecomment-139035710

[2015-09-09 21:20] anthonyettinger opened #1533 "upgrade d3 in arc"
upgrade d3 and all related modules in arc

[2015-09-09 21:21] anthonyettinger commented on #1533
need to check with @jtary whether this upgrade will break visual composer.

[2015-09-09 22:17] RenatoUtsch commented on #939
Not rejected, just taking a lot of time to be accepted. Will try to fix the merge conflicts, though.

[2015-09-10 16:17] jtary commented on #1533
Should be fine. If anything breaks, it should be a fairly minor fix.

[2015-09-10 18:02] RenatoUtsch commented on #939
It seems that finally the PR was accepted. Could you guys test this and see if the problem is fixed?

[2015-09-12 17:27] sam-github commented on #582
@Setogit You applied two PRs to fix this, but @cgole doesn't see it as fixed, PTAL

[2015-09-14 15:33] anthonyettinger opened #1537 "Fix bugs with policy types"
default policy ids are camel case, so we need to convert all other uses to use the same style

[2015-09-14 19:08] Setogit commented on #582
The two PRs are:
- [ ] strong-deploy (merged to master on Jul 23 by @setogit) : https://github.com/strongloop/strong-deploy/commit/e828da51d47c7c31687fe441398ebac72da5e4e1
- [ ] strong-arc  (merged to master on Jul. 27 by @setogit): https://github.com/strongloop/strong-arc/commit/3a2210a16c05559c69c751247820009e41d2ac76
Then, the strong-arc change was reverted by @kraman on Jul.30.

It makes sense

[2015-09-14 19:18] seanbrookes commented on #582
is this related to: https://github.com/strongloop-internal/scrum-nodeops/issues/937

- stopping and starting tracing via Arc seems to mess with the cluster size on the pm

[2015-09-14 23:18] seanbrookes commented on #1484
I've converted the app controller over to use the workspace api and things seem to work pretty well.
- Currently looking into the Live Set work Ritchie did to see if we can avoid using polling
- would probably benefit from a help icon in the dialog explainng the relationship between  App Controller and Strong Pm

[2015-09-14 23:33] chandadharap commented on #1484
We should create  separate story for icon, and if the LiveSet foray takes longer than you expect, perhaps break out that into another story for backlog too. That way, the original intent of the story can close.

[2015-09-15 02:21] kraman commented on #582
@seanbrookes @Setogit If i remember right, It was reverted due to API version incompatibility with built-in PM. Deploying to external PM worked fine but local-deploy was failing.

[2015-09-15 07:49] Setogit commented on #582
If what @kraman wrote above is the case, our option seems to be:
A. replace the build-in PM with the latest with which the strong-deploy works and re-apply the fix to strong-arc.
or
B. Live with the current broken behavior.

@seanbrookes  What's the level of effort for the option A?

[2015-09-15 15:35] seanbrookes commented on #582
I am working on removing the dependency on the interal pm this sprint so we can get rid of it completely afaic

[2015-09-16 01:40] anthonyettinger commented on #939
I cannot figure out how to leverage this new option.

[2015-09-16 12:38] RenatoUtsch commented on #939
What option are you talking about?

Em ter, 15 de set de 2015 22:40, Anthony Ettinger <notifications@github.com>
escreveu:

[2015-09-16 19:26] cgole opened #1540 "Extra lines in metrics charts. (straight lines from first point to the last point)"
Will add more details. Setting up load test app on a vm for future use

[2015-09-16 19:39] Setogit commented on #582
After Sean's work, just re-enable : 3a2210a  in Arc

[2015-09-16 20:47] cgole opened #1541 "compressed metrics charts-regression"
http://screencast.com/t/pntJCQc8omk
Wil add steps to repro

[2015-09-16 21:41] cgole commented on #1541
I have my dbload app running deployed to a pm ec2-52-8-64-149.us-west-1.compute.amazonaws.com:8701. I saw this error when I had the app running and under load on my laptop for a few hours. Hopefully it should be easily reproducible,

[2015-09-16 21:41] cgole commented on #1540
I have my dbload app running deployed to a pm ec2-52-8-64-149.us-west-1.compute.amazonaws.com:8701. I saw this error when I had the app running and under load on my laptop for a few hours. Hopefully it should be easily reproducible,

[2015-09-17 08:06] #1515 closed

[2015-09-17 14:51] Setogit commented on #582
connect to https://github.com/strongloop/strong-arc/pull/1539

[2015-09-17 17:07] anthonyettinger commented on #939
[code]

[2015-09-17 17:09] chandadharap commented on #1531
resolved.

[2015-09-17 17:09] #1531 closed

[2015-09-17 17:33] RenatoUtsch commented on #939
I am talking about the tooltip going to the bottom of the screen, what this issue seems to be about.

Nvd3 works with scrollable divs now, You don't need to change the container. You can use the default one.

[2015-09-17 17:40] anthonyettinger commented on #939
Its still happening for us.

[2015-09-17 17:45] RenatoUtsch commented on #939
Using the latest master commit?

[2015-09-17 21:29] cgole commented on #1509
waiting for arc gateway QA

[2015-09-17 21:29] cgole commented on #1510
waiting for arc gateway QA

[2015-09-17 22:26] anthonyettinger commented on #939
Yes.

[2015-09-18 05:59] cgole commented on #1533
verified

[2015-09-18 06:17] cgole commented on #1540
I can still see this app running ec2-52-8-64-149.us-west-1.compute.amazonaws.com/8701

[2015-09-18 06:17] cgole commented on #1541
still seeing this

[2015-09-18 06:24] cgole opened #1543 "Api analytics does not load pids for second host:port in the drop down"
To repro -

1. I have 2 pm's added through Arc Process Manager. The first pm has NO app deployed to it.
2. The second pm has an app deployed to it and valid pid's, but when I select that from the drop down I get an error that says "No processes found. Check the status of the host or try another."
3. You can use ec2-52-8-64-149.us-west-1.compute.amazonaws.com:8701 as the second pm and localhost:xxx

[2015-09-18 06:25] cgole commented on #1543
I think this is easier to repro. Even with just 1 pm with valid pid's I cannot get api analytics to load the pids. The same pm works for metrics and tracing

[2015-09-18 06:27] cgole commented on #1533
@anthonyettinger, should I close this one since we have separate issues for metrics and api analytics and these bugs existed even before the d3 update.

[2015-09-18 15:17] #1525 closed

[2015-09-18 15:34] #1524 closed

[2015-09-18 15:45] seanbrookes commented on #1533
as long as we're sure the issues pre-date the library update

On Thu, Sep 17, 2015 at 11:27 PM, Chandrika Gole <notifications@github.com>
wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/> like monitoring,
deb

[2015-09-18 18:11] anthonyettinger commented on #1533
Yes, if there are no other problems that arose from upgrading d3. You can close this one.

[2015-09-18 18:38] cgole opened #1544 "API analytics pids dont load"
To repro -
Start arc with api analytics feature flag
Start an app. slc start
Add to arc pm
Navigate to api analytics and try to load pids.

Expected - pids to load
actual - No process id's found error

[2015-09-18 22:16] seanbrookes commented on #1484
this is done now, just waiting for CI issues to be resolved so it can be merged

[2015-09-18 23:00] seanbrookes commented on #945
I'm not able to reproduce this.   I followed the steps above and tried some other paths but didn't see a duplicate tab when renaming datasource

[2015-09-18 23:27] seanbrookes commented on #1513
looks like I need a Linux setup for this.  Will have to work with Ryan and Chandrika to setup for reproducing this one.

[2015-09-21 04:12] #1241 closed

[2015-09-21 05:11] #925 closed

[2015-09-21 05:51] cgole commented on #945
cannnot repro anymore

[2015-09-21 16:38] seanbrookes commented on #1521
![merics-squashed](https://cloud.githubusercontent.com/assets/1751524/9998071/75e153ec-6044-11e5-86ec-02060a3f92d0.png)

Is this the issue?  @altsang

[2015-09-21 17:08] altsang commented on #1521
@seanbrookes

looks like this..

![image](https://cloud.githubusercontent.com/assets/2261105/9998964/c063fc68-6048-11e5-8274-dbf073cb433a.png)

[2015-09-22 00:37] anthonyettinger commented on #1253
Need mocks of all variations of messaging in order to breakdown this ticket. #1215 only has one message mocked up and mentioned.

[2015-09-22 00:38] anthonyettinger commented on #1056
@stacy-hunt this is used by standard form fields. Tables are handled a little differently.

[2015-09-22 04:10] chandadharap commented on #582
Internal dependency is removed.

[2015-09-22 16:44] #1413 closed

[2015-09-22 16:47] altsang commented on #1253
@stacy-hunt please see above

[2015-09-22 18:50] cgole commented on #1484
seeing some issues with this.
1. app controller still seems to be using the internal pm - /usr/local/bin/node /usr/local/lib/node_modules/strongloop/node_modules/strong-arc/node_modules/strong-pm/bin/sl-pm.js --listen=0 --base=.strong-pm --no-control

2. When I click on the little hyphen link below the name of the app, it takes me to http://localhost:64120/- which returns Cannot GET /-

[2015-09-22 19:21] Setogit commented on #582
Reverted the revert of 3a2210a

[2015-09-23 00:13] seanbrookes commented on #1486
works as designed

[2015-09-23 16:25] altsang opened #1548 "Gateway: switching pipelines in mapping view does not change panel"
steps to reproduce:

1. create a new policy
2. create a new pipeline
3. add new policy to new pipeline
4. use an existing mapping `notes-api`, click on new pipeline
5. panel for details showing pipeline doesn't show up

![image](https://cloud.githubusercontent.com/assets/2261105/10051239/68aa022c-61d5-11e5-891b-54d0babc4220.png)

[2015-09-23 21:00] altsang opened #1550 "Gateway: missing scopes in display of oauth2 policy"
1. add your own auth policy
2. add your own pipeline
3. display the pipeline

![image](https://cloud.githubusercontent.com/assets/2261105/10058673/9b4589b0-61fb-11e5-841d-84b3abe10772.png)

[2015-09-23 21:17] anthonyettinger commented on #939
@altsang doesn't look like we're going to be able to fix this one given its current state.

@seanbrookes suggested that we remove the tooltip infavor of a static display of values above the chart that updated when you mouse over the data points rather than a buggy tooltip.

Please respond with how you want to proceed.

[2015-09-23 22:51] cgole commented on #1486
not a bug

[2015-09-23 23:01] cgole commented on #582
verified

[2015-09-24 16:41] seanbrookes commented on #1486
@sam-github why was this reopened?

[2015-09-24 17:53] cgole opened #1551 "Arc app controller doesn't show link to app when started"
There is a little hyphen link under the app name. When I click on it, it takes me to http://localhost:64120/- which returns Cannot GET /-

http://screencast.com/t/OXs0MYhP60n

connected to: #1552

[2015-09-24 18:15] seanbrookes commented on #1551
need to publish latest version of loopback-workspace for the link to show

[2015-09-24 19:16] cgole opened #1553 "Arc gateway - Cannot get cursor in the text box and so cannot add scope for policies(sometimes)"
To repro -

Add policy with name auth-test-policy-x
Sometimes, I am not able to add scopes. Do we have any restrictions on policy names? I noticed that only when I name the policy as demo-auth-policy-xx, I can get the cursor to show up in the scope text box. Sometimes just clicking on it multiple times makes the cursor reappear.

After saving the policy(w/o being able to add scope), I am able to a

[2015-09-24 19:28] anthonyettinger opened #1554 "Allow for content scrolling on gateway pages"
The current gateway pages don't allow content to scroll so they are cropped off and inaccessible.

[2015-09-24 21:38] altsang opened #1555 "Gateway: after adding intial auth policy - cannot add scopes and save"
steps to reproduce

1. add a custom auth policy
2. save policy without filling out a scope
3. save
4. close Arc and stop process
5. re-run Arc
6. go back to custom auth policy
7. enter in scope
8. save button is disabled

![image](https://cloud.githubusercontent.com/assets/2261105/10087632/e628d008-62c9-11e5-9df1-b1bd1c87b076.png)

[2015-09-24 22:32] cgole opened #1556 "No type check for reverseProxy policy endpoint url"

[2015-09-24 22:35] cgole commented on #1551
It is missing http:
Right now it shows as //localhost:3000/

[2015-09-24 22:38] seanbrookes commented on #1551
it's a protocol relative url so it can handle http or https

[2015-09-24 22:39] cgole commented on #1551
then maybe take the // out too?

[2015-09-24 22:44] cgole opened #1557 "take out "//" from app url in app controller"
connected to: #1559

[2015-09-24 23:33] cgole opened #1558 "Arc gateway - No vertical scrollbar for policy selection pop-up when selecting policy to add to pipeline"
![screen shot 2015-09-24 at 4 31 39 pm](https://cloud.githubusercontent.com/assets/991632/10089551/f1f72046-62d9-11e5-9d91-fb0e2d198fda.png)

[2015-09-24 23:48] cgole opened #1560 "Arc gateway : Definitions in pipeline view only shows up for auth"
http://screencast.com/t/UNTDBrA9r

Details should show for other policy types too

[2015-09-25 16:05] cgole commented on #1484
verified

[2015-09-25 16:06] cgole commented on #1551
verified

[2015-09-25 16:17] cgole commented on #1557
verified

[2015-09-25 16:38] altsang commented on #1537
verified on master that data is now showing up correctly

[2015-09-25 16:38] #1537 closed

[2015-09-25 21:29] cgole opened #1562 "Arc Push license and set env variable not working"
to repro.
run app with slc arc
from Arc Process Manager, try to push license. Nothing happens
Edit env variable, enter new variable and hit save.. Click edit env variable. Newly added variable not there

connected to: #1563

[2015-09-26 02:11] stacy-hunt commented on #1504
Modals have extra borders that shouldn’t be there
- [x] Verified
Make sure all forms / inputs match style guide
- [x] Verified (as far as I can tell - I don't have a list of all forms and inputs)
Check label of “Revert” buttons (some currently say “cancel”
- [x] Verified
No left margin on buttons
- [x] Verified

[2015-09-26 02:12] #1504 closed

[2015-09-26 02:19] stacy-hunt commented on #1506
- Add “Revert” button to Policy form
- [x] Verified
- Add Help to heading
- [x] Verified
- Form fields / labels don’t match style guide (markup is wrong)
- [x] Verified
- Remove form border? (see visual comp - not essential but preferable)
- [x] Verified

[2015-09-26 02:19] #1506 closed

[2015-09-26 02:27] stacy-hunt commented on #1507
- New Mapping Dialog check vertical margins between form groups against comp
- [x] Verified
- Remove form border
- [x] Verified
- Validation when adding a new mapping
- [x] Verified
- Same improvements as Pipeline view: vertical margins, remove form border, position save button
- [x] Verified

[2015-09-26 02:27] #1507 closed

[2015-09-26 03:10] stacy-hunt commented on #1505
- Policy form - use same components as Pipeline form
- [x] Verified
- Policy List: Add New Policy button: use the borderles button  from the Styleguide
- [x] Verified
- modal-md styling is off, should like large modal on styelguide but smaller
- [x] Verified
- Hide “Revert” and “Save” buttons until form is dirty,
- [ ] Not verified - they don't seem to be doing this
-  and place them at the bottom

[2015-09-26 03:11] stacy-hunt commented on #1505
Hey Anthony I assigned this one back to you because I don't think the Revert and Save buttons are hiding until the form is dirty. If you want to break that one out into another card we could mark this one as done?

[2015-09-26 04:17] chandadharap commented on #1505
Please don't break out into another card. That not a good practice. Leave this open until done.

[2015-09-28 00:01] hagen commented on #922
I've install strongloop (npm install -g strongloop), running on AWS AMI, and I'm getting 'arc is not an slc command'...

[2015-09-28 15:01] seanbrookes commented on #1505
I understood the design was to have the buttons disabled until the data is dirty.
People find it confusing if they come to change the data and don't see any control buttons.

We had a bug report recently from someone becuase they didn't think there was a way to delete model properties in the composer becuase they didn't know they had to hover over the table to actually show the button.

[2015-09-28 15:41] bajtos commented on #1505
To be discussed with Stacy today.

[2015-09-28 17:01] stacy-hunt commented on #1505
Sorry guys I need to pick up my daughter from the airport at 3pm today. I
could do 2pm for 30 mins if that works?

Sean, I think it's more confusing to have a "Revert" and "Save' button on a
page where there is no change to the information, even if they are greyed.
The comps show there are no revert or save buttons until the form is dirty,
so I'm not sure where you got the impression the design wa

[2015-09-28 18:51] seanbrookes commented on #1505
Arc users have experience confusion with our UI because we make primary interface controls invisible by default.

I thought the design called for disabled controls so the user would at least know they could do something to the data at first glance but if the design calls for invisible controls then I was mistaken.

[2015-09-28 19:32] sam-github commented on #1475
@bnoordhuis, will you be able to fix this?

[2015-09-28 19:40] rmg commented on #1318
This is done by `slt-release` as of strong-tools@2.3.0.

[2015-09-28 19:45] rmg commented on #1318
@seanbrookes @jtary @anthonyettinger in other words, run `npm install -g strong-tools` before you cut the next release and everything should be fine.

[2015-09-28 19:46] bnoordhuis commented on #1475
I reverted the new CPU profiler and we won't be releasing that anytime soon anyway so I think this can be closed.

[2015-09-28 20:56] crandmck commented on #922
What do you get from `slc -v` ?

[2015-09-28 21:07] cgole opened #1564 "Metrics charts names are hidden behind charts and are not properly aligned."
http://screencast.com/t/HuzoM01rRm72

Refer screenshot for details

connected to: #1567

[2015-09-28 22:50] cgole opened #1565 ""Not all processes are coming up. Please check the pm host status." error message popping up very often even when processes are available and without app restarts"
Every once in a while, this error message comes up. I double checked that the processes are stable and that the app is not getting restarted.

To reproduce -

Have an app running and turn tracing on. Sit there for a while. The processes not found error message with show up. This happens when I am on other tabs too

http://screencast.com/t/4OaBLw7c6FIF

connected to: #1566

[2015-09-28 22:53] hagen commented on #922
[ec2-user@ip-172-31-XXX-XXX ~]$ slc -v
strongloop v5.0.0 (node v0.10.30)
├── strong-arc@1.8.1 (15814c0)
├── strong-build@2.0.5 (70e7f5b)
├── strong-deploy@3.1.0 (72dbb7c)
├── strong-mesh-models@8.0.0 (1b220f7)
├── strong-pm@5.0.0 (dbaa1a5)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.1 (b17cbc0)
├─┬ strong-supervisor@3.2.0 (5f85e41)
│ └── strong-agent@2.0.1 (8554cb3)
├── generator-loop

[2015-09-29 03:58] altsang opened #1568 "Composer: scaffolded model, data type does not show up"
steps to reproduce:

1. `slc loopback` a new project
2. `slc loopback:model` a new model
3. give model properties
4. `slc arc`

model doesn't have dropped down values for data types properly displayed

![image](https://cloud.githubusercontent.com/assets/2261105/10154995/ad038d74-6623-11e5-81dc-74f083bd539d.png)

[2015-09-29 19:43] anthonyettinger commented on #1499
@stacy-hunt please verify

[2015-09-29 19:44] #1554 closed

[2015-09-29 20:13] cgole opened #1570 "clone and delete dropdown should not be hidden"
details in screenshot - http://screencast.com/t/CcMocfg2U

[2015-09-29 20:39] cgole opened #1571 "Scroll bar missing in left pane"
After adding a few policies, scroll bar disappears
Details in screenshot - http://screencast.com/t/SJ2Zr1Qpv

[2015-09-29 20:56] cgole opened #1572 "URL Pattern text box extends out of the mapping form"
details in screenshot http://screencast.com/t/GEMvBJr5

[2015-09-29 21:08] crandmck commented on #922
OK, that looks fine.  The problem might be due to using Node 0.10, though I'm not entirely sure.
Are you able to run

When I switch to Node 0.10.29, running `slc arc` gives me this error:
[code]

Can you install Node 0.12 or later?

@cgole @Joesimonsen Do you have any ideas?

[2015-09-29 21:17] cgole commented on #922
Theres a lot of info in slc --help. Can you try  "slc --help | grep arc"

this should return -

$ slc --help | grep arc
  arc: StrongLoop GUI, an alternative to the CLI

[2015-09-29 22:10] hagen commented on #922
Please close. I stopped and started the instance, and all of a sudden the command now works. Go figure. Thanks for the comments. Peace out.

[2015-09-29 22:21] cgole opened #1573 "text not contained in dropdown for verbin gateway mapping form"
![screen shot 2015-09-29 at 2 14 51 pm](https://cloud.githubusercontent.com/assets/991632/10179621/00885e78-66bc-11e5-90ca-9f90a22e7d0e.png)

2 issues -
1. text coming out of dropdown
2. the selection highlight doesn't move along with the cursor

[2015-09-29 22:47] cgole opened #1574 "Verb selection from drop down not working when creating new mapping"
To repro,
create new mapping.
Try to select verb from drop down.
This doesn't work.

[2015-09-29 23:11] anthonyettinger commented on #1505
@stacy-hunt -- I hid the buttons until the forms are dirty.

[2015-09-30 02:09] stacy-hunt commented on #1505
Thank Anthony, I'll touch base to get your branch on my machine for testing.

[2015-09-30 20:19] cgole commented on #1571
resize fn needs to be triggered.

[2015-09-30 23:18] cgole opened #1575 "gateway e2e test failure"
Failures:
1) gateway should edit a gateway pipeline
  Message:
    Failed: Wait timed out after 5003ms
  Stack:
    Error: Wait timed out after 5003ms
        at Array.forEach (native)
        at process._tickCallback (node.js:356:9)
    From: Task: <anonymous wait>
        at GatewayHomeView.self.addNewPolicyToPipeline (/Users/chandrikagole/workspace/strong-arc/client/test/e2e/gateway/views/gatew

[2015-10-01 18:43] cgole commented on #1510
coverage looks good-

covers -
create policy, pipeline, mapping
clone policy, pipeline, mapping
edit policy, pipeline, mapping
delete policy, pipeline, mapping

[2015-10-01 18:43] #1509 closed

[2015-10-01 18:43] #1510 closed

[2015-10-01 18:43] cgole commented on #1509
coverage looks good-

covers -
create policy, pipeline, mapping
clone policy, pipeline, mapping
edit policy, pipeline, mapping
delete policy, pipeline, mapping

[2015-10-01 21:33] anthonyettinger opened #1577 "fix alignment on stop/play buttons in arc app dialog"
fix alignment on button icons

[2015-10-01 22:54] anthonyettinger opened #1578 "Typing same scope twice in policy editor breaks the pillbox"

[2015-10-01 23:00] anthonyettinger opened #1579 "hitting enter on scopes policy form input submits the form"
The default behavior of hitting [enter] inside an input field should be prevented to stop the form from submitting.

People will generally type [enter], [tab], or ',' to add another scope tag.

[2015-10-01 23:46] stacy-hunt commented on #1505
All checked and verified

[2015-10-01 23:47] #1505 closed

[2015-10-01 23:52] stacy-hunt commented on #1499
Verified, thanks Anthony!

[2015-10-01 23:53] #1499 closed

[2015-10-02 15:33] #1527 closed

[2015-10-02 15:33] #1528 closed

[2015-10-02 17:45] altsang opened #1580 "APIm Integration: Spike - create/scaffold a LB project from within Arc"
As a SL user running Arc, it would be good to be able to create/scaffold a new LB project through the Arc interface so that I don't have to run `slc loopback` first and then run `slc arc` from within the directory.

[2015-10-02 21:11] altsang opened #1581 "APIm Integration: push to BlueMix for API externalization"
As a SL developer who wants to use APIm, I would like a cloud instance of my API running externally in Bluemix so that I can easily proxy and manage it using the APIm because it is already externalized.

[2015-10-02 21:11] anthonyettinger commented on #1558
works for me. closing.

[2015-10-02 21:11] #1558 closed

[2015-10-02 21:23] anthonyettinger commented on #1498
@stacy-hunt PTAL (Please Take A Look)

[2015-10-02 21:37] anthonyettinger commented on #1574
This works, it just is hidden because the menu is too narrow. I'm assigning to @jtary since he has the ticket to fix the responsiveness of that form.

@jtary -- I was wrong, its not a table layout that is the problem, there is some CSS3 flex grid stuff going on which causes it to not respect the width. You're more familiar with flex grid than I am.

[2015-10-05 14:44] proreact-mj opened #1583 "Composer, discovery of MySQL, Decimal as string (should be number)"
Hi

Using the composer to discover a MySQL database, I have a few "decimal(11,2)" fields, but they don't turn out as numbers as expected, but is cast as string (contrary to the documentation): https://docs.strongloop.com/display/public/LB/MySQL+connector

Not a big problem, but though you might like to know :)

[2015-10-05 14:52] raymondfeng commented on #1583
See https://github.com/felixge/node-mysql/#connection-options.You can use `bigNumberStrings` to control the format.

[2015-10-05 14:52] #1583 closed

[2015-10-12 20:05] cgole opened #1586 "manually editing pid count number does not always working as expected."
When I select the current pid count number and enter a new number, it should work. But right now, this is very random. for eg - If I try to change from 1 to 3, it will pick 13 instead of 3

I see this a lot but it works sometimes

[2015-10-12 20:08] cgole commented on #1586
Note : if you use the pid count selector and edit the number slowly and carefully it might work, but we should definitely make it more solid

[2015-10-12 22:22] crandmck opened #1587 "Gateway: wrong contextual help targets"
In Arc Gateway, there are two problems with contextual help in the UI:

- When you are in the (default) Mapping view, and click the help icon, you get help topic 6721839 (https://docs.strongloop.com/display/ARC/Gateway), but it **should be** 6721841(https://docs.strongloop.com/display/ARC/Create+or+edit+mapping).

![mapping-ua](https://cloud.githubusercontent.com/assets/2925364/10440478/6238d0ac-7

[2015-10-13 16:54] anthonyettinger commented on #1533
These have been downgraded to issue with charts Dennis pointed out. Sean has submitted a PR since then to address the issue....so we should try upgrading again when there is sufficient time to test.

[2015-10-13 18:15] anthonyettinger commented on #1586
Please test, sean submitted a fix

[2015-10-13 19:05] stacy-hunt commented on #1498
It's close. But the "close" button should be right-aligned with the text above and the same distance from the right border as the "secondary" button is from the left border:

[2015-10-13 19:07] cgole commented on #1565
verified

[2015-10-13 19:37] seanbrookes commented on #1586
this should be resolved with the latest on master

[2015-10-13 19:56] stacy-hunt commented on #1498
Borderless button and Pillbox are OK.
Regarding the medium modal dialog:
- the "close" button should be right-aligned with the text above and the same distance from the right border as the "secondary" button is from the left border:
- the corners should be square

![image](https://cloud.githubusercontent.com/assets/1924932/10465248/b1c2df9c-71a2-11e5-8e51-e235fd33e333.png)

[2015-10-14 03:43] cgole opened #1591 "Have to select property type from drop down twice to actually make a selection"
To repro -
Create a model
Add a property
Click on type to select property type. The drop down should stay and allow you to make a selection. Instead, it selects string and the drop down goes away You have to click on it again to make the selection

[2015-10-14 03:56] cgole commented on #1586
there is still a small problem with this. Lets say the pid count is 1 and I change it to 12. In the PM arc UI, the pid count goes back to 1 (from 12) and then increases as the pids are added. I think we should let the count stay at 12 and instead have some indication that the processes are being added.
But the functionality is there. The pid count eventually gets set to when I want it to be.

[2015-10-14 03:59] cgole commented on #1564
verified

[2015-10-14 04:00] cgole commented on #1577
verified

[2015-10-14 15:14] plusplusben opened #1592 "Discover Models not finding tables for Postgres data source if schema is not "public""
Should the "Discover Models" feature find tables in Postgres if they are in a schema?

[2015-10-14 21:27] #1586 closed

[2015-10-14 22:49] cgole commented on #1521
verified

[2015-10-15 22:56] crandmck opened #1593 "Contextual help doesn't display list items properly"
The help box/widget does not display bullet list items; for example, HTML content like this:
[code]
Is displayed like this:
![help list bug](https://cloud.githubusercontent.com/assets/2925364/10529617/5f22e300-7354-11e5-928b-f3960b12dd87.png)

Not having bullet glyphs makes it hard to read.

[2015-10-15 23:29] crandmck opened #1594 "Outdated URL for Arc help page"
Clicking the help icon that appears above the left panel in Composer and Gateway modules links to an old URL, http://docs.strongloop.com/display/ARC/StrongLoop+Arc.  This URL redirects to https://docs.strongloop.com/display/APIS/Using+Arc, however, it would be better to go directly to the correct URL because there is a noticeable delay:

![2015-10-15_1624](https://cloud.githubusercontent.com/asset

[2015-10-16 22:15] crandmck commented on #1593
Confirmed fixed in `feature/initial-gateway-module-create` branch.

[2015-10-16 22:15] #1593 closed

[2015-10-16 22:16] crandmck commented on #1594
Confirmed fixed in `feature/initial-gateway-module-create` branch.

[2015-10-16 22:16] #1594 closed

[2015-10-16 22:17] cgole commented on #1540
cannot repro anymore

[2015-10-16 22:23] crandmck commented on #1587
Confirmed fixed in `feature/initial-gateway-module-create` branch.

[2015-10-16 22:23] #1587 closed

[2015-10-16 23:07] crandmck opened #1595 "Images in contextual help are not displayed"
Because Confluence uses relative URLs for `img` tags, the images are not displayed in Arc help; eg:
![broken pix](https://cloud.githubusercontent.com/assets/2925364/10555149/90224006-741f-11e5-986a-0eb03ac346de.png)

The HTML for this is (eg.)
[code]

Since the image is actually at (e.g.) http://docs.strongloop.com/download/attachments/6721846/auth%20policy.png?version=1&amp;modificationDate=14446

[2015-10-20 02:07] zealseeker commented on #450
@varmab  Hi, why does this error still exist in my loopback project and the command suggested by cgole couldn't fix the problem.

[2015-10-20 02:25] chandadharap opened #1596 "Remove potentially unused dependency on pm"

[2015-10-20 02:27] chandadharap opened #1597 "Create a backlog for Arc Refactor based on f2f sessions"
https://docs.google.com/document/d/1OCkUqqjTRMWfQdwzWdYn_f8Y8nXh8eL97_jNSlDfuos/edit#heading=h.74tnagaiv6ul

Please re-use the milestone Arc-QIP

[2015-10-20 10:00] andrenventer commented on #767
I am not sure its the same problem:

What I did:

clean install --
slc loopback
slc loopback:model   ...  ACL ...  user email, name, surname in memory - custom plural users
slc arc
Loading workspace /Users/nomad/Projects/loopie
StrongLoop Arc is running here: http://localhost:64674/#/

Pressed PLAY

What I expected:
API endpoint with no entities - http://localhost:3000/users

What I got:
http://lo

[2015-10-20 16:13] bajtos commented on #1596
@jtary to check with @chandadharap what is the priority of this.

[2015-10-20 16:14] bajtos commented on #1556
@jtary to follow up with @cgole to find out what the bug actually is

[2015-10-20 16:15] bajtos commented on #1574
This is related to other CSS bugs already scheduled for Sprint 82.

[2015-10-20 17:56] stacy-hunt commented on #1498
All good now, thanks Anthony

[2015-10-20 17:57] #1498 closed

[2015-10-21 05:07] #1550 closed

[2015-10-21 05:10] altsang commented on #1550
verified on master

[2015-10-21 05:20] #1555 closed

[2015-10-21 05:20] altsang commented on #1555
verified on feature/initial-gateway-module-create

[2015-10-21 05:21] altsang commented on #1548
verified on feature/initial-gateway-module-create

[2015-10-21 05:21] #1548 closed

[2015-10-21 05:58] altsang commented on #1358
going to bench this for now

[2015-10-21 05:58] #1358 closed

[2015-10-21 17:34] crandmck commented on #1595
Confirmed fix in `initial-gateway-module-create` branch.

[2015-10-21 17:34] #1595 closed

[2015-10-21 18:19] anthonyettinger commented on #728
@cgole It seems to work for me in chrome.

[2015-10-21 18:53] cgole commented on #728
this issue is very old.

[2015-10-22 15:25] anthonyettinger commented on #728
yes i was just going through backlog and thought this may be fixed unless there was some other issue. just close it.

[2015-10-22 15:25] #728 closed

[2015-10-22 15:53] b-admike opened #1598 "model property datatypes are not persistent"
Tested on Windows 7 (64bit), using node v4.1.0 and npm 2.14.3 and
strongloop v5.0.1 (node v4.1.0)
├── strong-arc@1.8.3 (d95b140)
├── strong-build@2.0.6 (d008a3e)
├── strong-deploy@3.1.2 (be6180a)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.0.1 (b96f806)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.2 (1327018)
├─┬ strong-supervisor@3.3.0 (46b06b4)
│ └── strong-agent@2.0.2 (4e

[2015-10-22 18:26] crandmck commented on #1288
Confirmed fixed in `feature/initial-gateway-module-create` branch.

[2015-10-22 18:26] #1288 closed

[2015-10-22 21:25] stevenatkin opened #1599 "Getting 500 Error Trying to log into ARC locally"
I am getting a 500 error here is the output from the browser console.

[code]

[2015-10-22 21:52] stevenatkin commented on #1599
It looks like the issue is permissions. The server should probably generate an error message in the ARC console.
[code]

[2015-10-22 22:04] jtary commented on #1599
@stevenatkin have you tried modifying the file or folder permissions?

I agree that Arc should be reporting a more useful case if that is the cause of this, just want to confirm.

[2015-10-22 22:09] stevenatkin commented on #1599
I changed the permissions and that resolved the issue.

[2015-10-22 22:12] jtary commented on #1599
Ok, thanks. The error should be cause and an error reported to the console for Arc.

[2015-10-24 15:49] smartmouse opened #1600 "[feature request] ability to show/hide password for connecting to database"
Create mongodb datasource in composer
When we create dataSource, it will prepopulate with my strongloop logon user id and password.
Then I will change it to the  mongodb  userid and password instead of my strongloop id/password
However, it will be nice to show the password that I type - in case I mess up and got db failure.

The reason why this is important, may be certain system will log you out

[2015-10-26 03:33] smartmouse opened #1601 "[Doc] Unable to deploy using tar file -- any trouble shooting information?"
On the Arc- Build & Deploy, sometimes we get into Error : unable to deploy using tar file.
This is a very generic issue -- there is no additional information from the Error pop up.
Are there any documentation on the troubleshooting. on possible causes?

From the terminal, we can have more information

e.g. Error while reading file: Error: ENOENT: no such file or directory, open '/home/nodebot1/ivy

[2015-10-26 15:35] cfjedimaster opened #1602 "Missing tool tips in Arc header"
On the top right of SL Arc are 4 icons. The first and third icons do not have a tool tip. The second and third do. There should be tool tips for all four.

[2015-10-26 18:38] nasihere commented on #1376
* I have added my patch to retrieve my other schema tables. I have changed my node_module packages. If you want to use other than 'dbo' schema then override 'owner' variable in node_modules\loopback-connector-mssql\lib\discovery.js.
See my below changes
Step 1: Open discovery.js from node modules
Step 2: Look for queryTables
Step 3: change owner variable to your desired schema name
Step 4: run SLC

[2015-10-28 08:47] electricmonk opened #1603 "Arc does not start with uBlock origin active"
When the Chrome uBlock Origin extension is active, Arc doesn't start. This is the console output:
[code]

[2015-10-28 20:52] cgole commented on #1476
priority should be bumped next sprint

[2015-10-28 20:57] cgole commented on #1485
reproduce

[2015-10-29 16:29] anthonyettinger commented on #1049
@stacy-hunt please verify this list  if there are any outstanding issues.

[2015-10-29 16:30] crandmck commented on #999
@anthonyettinger Is this on a branch?  If so, which one?

[2015-10-29 18:06] cgole commented on #1461
verified

[2015-10-29 20:09] anthonyettinger commented on #999
@crandmck its on the gateway branch

[2015-10-29 20:57] cgole commented on #1571
verified

[2015-10-29 21:01] stacy-hunt commented on #1049
@anthonyettinger do you have a new branch that I need to pull down in order to see these fixes? If so, can you give me directions to get it plz?

[2015-10-29 21:08] crandmck commented on #999
Confirmed on `feature/initial-gateway-module-create` branch.

[2015-10-29 21:08] #999 closed

[2015-10-29 21:15] cgole commented on #1578
now, it doesnt allow saving a duplicate name. verified

[2015-10-29 21:35] cgole commented on #1579
verified. Now adding duplicate doesn't get saved.

[2015-10-29 21:47] anthonyettinger commented on #1049
feature/initial-gateway-module-create should have all recent changes

[2015-10-29 22:07] crandmck commented on #941
This has been fixed for a while now.

[2015-10-29 22:07] #941 closed

[2015-10-29 22:10] crandmck commented on #621
This was addressed.

[2015-10-29 22:10] #621 closed

[2015-10-29 22:13] crandmck commented on #587
Duplicate of #586

[2015-10-29 22:13] #587 closed

[2015-10-29 22:14] crandmck commented on #1033
This was fixed, thanks!

[2015-10-29 22:14] #1033 closed

[2015-10-29 22:17] #382 closed

[2015-10-29 22:33] cgole commented on #1574
verified

[2015-10-29 22:35] cgole commented on #1560
verified

[2015-10-29 22:36] cgole commented on #1570
verified

[2015-10-29 22:36] cgole commented on #1572
verified

[2015-10-29 22:52] cgole commented on #1553
@jisoolee, to test this just try clicking everything around policy and making sure it works as expected

[2015-10-29 22:59] cgole commented on #523
nothing to verify

[2015-10-30 19:03] anthonyettinger commented on #986
@stacy-hunt -- this is only used on styleguide right now?

[2015-10-30 20:13] anthonyettinger commented on #986
@stacy-hunt can you verify this on the styleguide? I believe its been fixed already.

[2015-10-30 21:33] b-admike opened #1605 "Arc complains oracle connector is not installed even after it is."
strongloop v5.0.8 (node v0.12.7)
├── strong-arc@1.8.117 (30c6b45)
├── strong-build@2.0.11 (d008a3e)
├── strong-deploy@3.1.4 (be6180a)
├── strong-mesh-models@8.1.1 (62e539b)
├── strong-pm@5.0.21 (d43629b)
├── strong-registry@1.1.8 (059ea89)
├── strong-start@1.3.6 (1327018)
├─┬ strong-supervisor@3.3.11 (1e39220)
│ └── strong-agent@2.0.44 (1a95773)
├── generator-loopback@1.12.8 (b5c504d)
├── node-ins

[2015-10-31 06:25] Sogl opened #1606 "Error after slc arc"
Hi!

After `slc arc` command I see this error:
[code]

How to fix?
I see `node_sqlite3.node` file in this path.

OS X Yosemite 10.10.5
npm 3.3.8
node 4.2.1

[2015-11-02 03:11] chandadharap commented on #1475
@cgoe can we review  the revert before closing?

[2015-11-02 03:12] chandadharap commented on #939
@altsang?

[2015-11-02 17:23] altsang commented on #939
no follow up with the fix that was supposedly introduced in nouvs/nvd3#851? the dev claims it's suppose to work with scrollable divs, did he drop out responding?

[2015-11-02 19:38] cgole commented on #1028
get strongloop from staging regitsry

[2015-11-02 19:40] JISOOLEE commented on #1573
Now it works fine. Default is "All".

[2015-11-02 19:42] JISOOLEE commented on #1572
it fits well now.

[2015-11-02 19:58] JISOOLEE commented on #1553
works as expected

[2015-11-03 00:02] anthonyettinger commented on #1580
Need more details on what this spike needs to address.

[2015-11-03 00:04] anthonyettinger commented on #1556
@cgole -- we need to know what validation rules you want in place.

[2015-11-03 00:07] anthonyettinger commented on #1108
Duplicate of #1310

[2015-11-03 00:15] #1108 closed

[2015-11-03 17:31] jtary opened #1607 "Refactor: basic browserify harness"
Create a browserify harness for compiling the Arc modules into a bundle, and loading both the client and server side components.

[2015-11-03 17:38] jtary opened #1608 "Refactor: testing target for module harness"
Add testing targets for Arc harness for executing the e2e and unit tests.

[2015-11-03 17:39] jtary opened #1609 "Refactor: port metrics module"
Port the metrics module from the current Arc repo to the new structure.

[2015-11-03 17:42] jtary opened #1610 "Refactor: create limited 'arc-ui' module"
Create a limited version of the arc-ui common module for styling and common components. For the spike this can be a rough and minimal version.

[2015-11-03 17:58] jtary commented on #1597
Broke out some of the major points into a spike. Remaining issues can be schedule and estimated once their feasibility has been determined.

[2015-11-03 19:48] chandadharap commented on #1580
At end of Spike: We create a req doc, break up into backlog and make a plan. If feasible, a stretch goal is to implement a poc.

[2015-11-03 19:55] chandadharap commented on #1556
The  only expectation is to have standard url formatting.
@altsang to details, relative, qualified, etc etc

[2015-11-03 23:07] anthonyettinger commented on #1598
@cgole please verify this is still an issue on windows, and if so we can troubleshoot in your windows environment when I'm onsite tomorrow.

[2015-11-03 23:22] anthonyettinger commented on #1485
This has been fixed.

[2015-11-03 23:22] #1485 closed

[2015-11-03 23:32] anthonyettinger commented on #850
@bajtos do you know of any reliable polyfils for IE/Edge/Safari for the File API Constructor?

The only one I found is this (https://stackoverflow.com/questions/30727052/file-constructor-in-ie-and-safari) which points to https://github.com/moxiecode/moxie as a work around. But it requires on flash/silverlight/java. sounds ugly.

[2015-11-04 08:02] bajtos commented on #850
I don't :(

[2015-11-04 22:05] jtary opened #1613 "Remove lb-build.js from git repo"
Remove the lb-build.js file from the git repo, since it's an autogenerated file.

[2015-11-05 01:22] jtary commented on #1513
This is caused by there not being enough data in the scope to render this charts properly. Because Arc accumulated the datapoints, they can become in inconsistent and have to be flushed which is why the chart disappears then comes back with one data.

I can't do much about the data being unavailable, but I'll add in some loading screens that will be shown instead of the missing charts and single d

[2015-11-05 07:16] zealseeker opened #1615 "models not show in composer with an error of "Cannot read property 'dataSource' of undefined""
When the loopback app was created, the composer worked.  I edited the model-config.json and other model file which may result to the error that the models don't show in composer with the log in console "Cannot read property 'dataSource' of undefined"
![2015-11-05 3 11 34](https://cloud.githubusercontent.com/assets/4076178/10962032/a720cf1a-83cf-11e5-82f3-5abb76ece066.png)
![2015-11-05 3 12 50](htt

[2015-11-05 22:20] anthonyettinger commented on #1580
https://docs.google.com/document/d/12eXa7S53uVUvcLsD7PvufocQv2jpKEmctAUivBzO6Eo/edit

[2015-11-06 20:57] anthonyettinger opened #1616 "Publish to APIm: ui widget to show popover list"
Publish to APIm: ui widget to show popover list

[2015-11-06 20:58] anthonyettinger opened #1617 "Publish to APIm: integrate api call"
Publish to APIm: integrate api call

[2015-11-06 20:59] anthonyettinger opened #1618 "Publish to APIm: confirmation dialog"
Publish to APIm: confirmation dialog

[2015-11-06 21:00] anthonyettinger opened #1619 "Select catalogs and products: widget to show list of catalogs and products"
Select catalogs and products: widget to show list of catalogs and products

[2015-11-06 21:00] anthonyettinger opened #1620 "Select catalogs and products: integrate api call"
Select catalogs and products: integrate api call

[2015-11-06 21:01] anthonyettinger opened #1621 "Select catalogs and products: filter list"
Select catalogs and products: filter list

[2015-11-06 21:01] anthonyettinger opened #1622 "Select catalogs and products"
Select catalogs and products

[2015-11-06 21:02] anthonyettinger opened #1623 "Password reset modal: password reset popover widget"
Password reset modal: password reset popover widget

[2015-11-06 21:03] anthonyettinger opened #1624 "Password reset modal: integrate api call for password reset"
Password reset modal: integrate api call for password reset

[2015-11-06 21:03] anthonyettinger opened #1625 "Sign-out link"
Sign-out link

[2015-11-06 21:03] anthonyettinger opened #1626 "File browser: shell widget for list"
File browser: shell widget for list

[2015-11-06 21:04] anthonyettinger opened #1627 "File browser: save selected item from list"
File browser: save selected item from list

[2015-11-06 21:04] anthonyettinger opened #1628 "File browser: integrate api call for folder list w/ navigation"
File browser: integrate api call for folder list w/ navigation

[2015-11-06 21:05] anthonyettinger opened #1629 "Sign-in to APIm: login popover widget"
Sign-in to APIm: login popover widget

[2015-11-06 21:05] anthonyettinger opened #1630 "Sign-in to APIm modal: integrate api call for login widget"
Sign-in to APIm modal: integrate api call for login widget

[2015-11-10 01:50] anthonyettinger commented on #1626
https://drive.google.com/a/strongloop.com/file/d/0B1FTzkB7697GYkxaZVkxeklSYkU/view

https://drive.google.com/a/strongloop.com/file/d/0B1FTzkB7697GZkhuYmZOQ0poX00/view

[2015-11-10 15:42] cfjedimaster opened #1631 "Docs for metrics are a bit misleading"
I'm trying to learn how to use metrics and am currently on this page: https://docs.strongloop.com/display/SLC/Viewing+metrics+with+Arc

I am *not* using the demo app, instead I'm using a brand new app generated by `slc loopback`.

According to the docs:

By default, Arc starts a local instance of StrongLoop Process Manager, and displays "local application" in the Hostname field. It automatically d

[2015-11-10 15:42] cfjedimaster commented on #1631
Ahah, I found it. In the browser console I see: metrics license is not valid

Which makes sense, but the UI never actually shows this so the user has no idea why it isn't working.

[2015-11-10 21:31] anthonyettinger opened #1632 "Project selector"
Add project selector to landing page

[2015-11-10 22:29] cfjedimaster commented on #1631
I'm still having issues with this, but I'm keeping this bug here to focus on the issue that the UI did not report a license issue and it should have.

[2015-11-10 22:30] cfjedimaster opened #1633 "Docs for metrics are a bit misleading"
I'm trying to learn how to use metrics and am currently on this page: https://docs.strongloop.com/display/SLC/Viewing+metrics+with+Arc

I am not using the demo app, instead I'm using a brand new app generated by slc loopback.

According to the docs:

By default, Arc starts a local instance of StrongLoop Process Manager, and displays "local application" in the Hostname field. It automatically displ

[2015-11-10 22:41] cfjedimaster opened #1634 "StrongLoop Process Manager actions link"
I'm on the SL PM page and I've got one Strong PM instance:

![image](https://cloud.githubusercontent.com/assets/393660/11078176/e16d69b4-87c9-11e5-9826-585a556db9eb.png)

Clicking the Actions link does nothing. I'm not sure if it should do anything, but it looks broken.

[2015-11-10 22:51] cfjedimaster opened #1635 "Unable to add a new entry to StrongLoop PM web ui"
I've been trying to add a PM and I'm not having any luck. I

I'm running PM currently:

![image](https://cloud.githubusercontent.com/assets/393660/11078314/b12fbbc0-87ca-11e5-9bfb-ddb69b34ec99.png)

So in the web UI, I've added it:

![image](https://cloud.githubusercontent.com/assets/393660/11078322/bf0af4e4-87ca-11e5-9671-ce01846d8d08.png)

I click Activate and get the No App error.

![image](htt

[2015-11-10 23:29] anthonyettinger opened #1636 "Proxy file picker api for arc"
Need an api to navigate folders in arc

[code]

[2015-11-10 23:32] anthonyettinger opened #1637 "Proxy api for project selector"
Arc API to populate known projects in a select list

[code]

[2015-11-11 12:20] barocsi opened #1638 "Custom validation bug: reference to this.collection_type returns the entire instance"
The custom validation according to the docs happens like this:
[code]
When I try to validate the Post instance that has a property with array of objects (questions collection)
questions:[{}....] there is a bug.
During validation above console.log(this.questions) returns the entire Post instance instead of the given questions property.

If questions were a single object {} or a value, it works fine

[2015-11-11 12:22] barocsi commented on #1638
Passed this issue to datasource juggler

[2015-11-11 12:22] #1638 closed

[2015-11-12 21:32] cgole commented on #973
not a bug anymore

[2015-11-12 21:32] #973 closed

[2015-11-12 22:07] cgole opened #1639 "Api analytics does not load pids for second host:port in the drop down"
To repro -
I have 2 pm's added through Arc Process Manager. The first pm has NO app deployed to it.
The second pm has an app deployed to it and valid pid's, but when I select that from the drop down I get an error that says "No processes found. Check the status of the host or try another."
You can use ec2-52-8-64-149.us-west-1.compute.amazonaws.com:8701 as the second pm and localhost:xxxx with no

[2015-11-12 22:27] cgole commented on #1442
Dont think this is still an issue. We have tried on different browsers

[2015-11-12 22:37] cgole commented on #1544
dup of #1543

[2015-11-12 22:37] #1544 closed

[2015-11-12 22:42] cgole commented on #1442
closing this for now. Please, reopen if necessary

[2015-11-12 22:42] #1442 closed

[2015-11-12 23:14] cgole commented on #851
verified fix. I can now see the profiles, but the UI on profiler tab is messed up. - https://github.com/strongloop-internal/scrum-arc/issues/19

[2015-11-12 23:15] cgole commented on #1591
cannot repro anymore

[2015-11-12 23:15] #1591 closed

[2015-11-12 23:22] cgole commented on #1568
fixed

[2015-11-12 23:24] cgole commented on #1028
this looks good now

[2015-11-12 23:29] cgole commented on #1513
@jtary, I see the Getting Available Metrics... but nw the metrics charts dont load at all

[2015-11-12 23:33] cgole commented on #1596
$ ps -ef | grep node
  501 33275 30540   0  3:32PM ttys002    0:05.61 node /usr/local/bin/slc arc
  501 36633 33275   0  3:33PM ttys002    0:01.38 /usr/local/bin/node .

verified

[2015-11-13 00:00] jtary commented on #1513
@cgole how many refresh ticks did you test to see if the metrics charts are loading?

[2015-11-13 17:00] JISOOLEE commented on #1598
Problem solved for both WIndows and Linux.

[2015-11-13 20:10] anthonyettinger opened #1640 "project selector: fetch list of projects"
fetch list of projects

[2015-11-13 20:10] anthonyettinger opened #1641 "Project selector: handle selected project"
handle selected project

[2015-11-13 22:33] crandmck opened #1642 "Replace deprecated loopback-explorer with loopback-component-explorer"
This project seems to still be using the deprecated `loopback-explorer` which was replaced by `loopback-component-explorer` about two months ago (see https://github.com/strongloop/loopback-component-explorer/issues/123).  The  `loopback-explorer`  module is no longer maintained and shouldn't used afaik.

@bajtos can confirm.

So, I believe  `loopback-explorer` simply needs to be replaced by `loopb

[2015-11-16 13:32] bajtos commented on #1642
+1

IIRC, there was a problem with strong-mesh-models - they define properties with default values of `null`, which throws an error in swagger-ui. We should investigate and fix this problem as part of this task.

[2015-11-16 16:27] #1607 closed

[2015-11-16 18:33] crandmck commented on #1642
@jtary @chandadharap I think this should be fixed sooner rather than later.

[2015-11-16 18:37] jtary commented on #1642
@crandmck I can take a look at this in the upcoming sprint. If it's not too much work, we can probably get it done.

[2015-11-16 21:05] crandmck commented on #1642
@jtary :+1:

[2015-11-17 17:49] jtary opened #1644 "Refactor: port profiling module"
Port of the current profiling module from mainline Arc, into a standalone module.

[2015-11-17 17:53] jtary opened #1645 "Alternate PID selector for choosing instance"
Create an alternative PID selector widget the replaces the host selection drop down, with one that allows the user to choose the active instance instead.

[2015-11-17 17:55] jtary opened #1646 "Refactor: application picker dropdown"
Add a UX element to allows the user to select which application they will see instances for in the metrics and profiler modules.

[2015-11-17 17:57] jtary opened #1647 "Refactor: new dashboard"
Create a dashboard module for refactored Arc.

[2015-11-17 21:26] anthonyettinger commented on #1610
- [ ] create strong-arc-ui repo
 - [ ] move arc ui widgets to new repo
 - [ ] move styleguide to new repo
 - [ ] test integration with strong-arc-base repo (from @jtary)

[2015-11-17 22:44] anthonyettinger opened #1648 "strong-arc-ui: create strong-arc-ui repo"
create strong-arc-ui repo

[2015-11-17 22:44] anthonyettinger opened #1649 "strong-arc-ui: move arc ui widgets to new repo"
move arc ui widgets to new repo

[2015-11-17 22:45] anthonyettinger opened #1650 "strong-arc-ui: move styleguide to new repo"
move styleguide to new repo

[2015-11-17 22:45] anthonyettinger opened #1651 "strong-arc-ui: integration with strong-arc-desktop"
integration with strong-arc-desktop

[2015-11-17 22:46] anthonyettinger opened #1652 "strong-arc-ui: move common components to strong-arc-ui"
move common components to strong-arc-ui

[2015-11-17 22:47] anthonyettinger commented on #1610
This list has been broken up into tasks

[2015-11-17 22:49] #1610 closed

[2015-11-18 18:15] daslicht opened #1654 "Alot of Errors when trying to install ARC on OSX"
When I try to install Strang-Arc on OS X 10.11.1 (Node4.2.1) as described here:

IDEA?

[code]
I get those Errors and Warnings:

[code]

[2015-11-18 18:22] raymondfeng commented on #1654
node-syslog is an optional dependency (https://github.com/schamane/node-syslog) and it has not been ported to Node 4.x yet. You can safely ignore the error and the installation should be fine.

@sam-github @rmg Any plan to have a new release of syslog?

[2015-11-18 18:24] daslicht commented on #1654
the installation do not finish, at least its not working after ist has been finished

[2015-11-18 20:31] arimus commented on #1365
FYI, despite some persistent errors, upgrading may have helped. There are still errors in the UI, but it seems the models are created. They never show up under "models" in the arc UI, however they are written out to common/models/

I was actually using an older version. I had to upgrade several things in the toolchain to get everything working though (npm update -g, npm install -g strongloop). The

[2015-11-19 01:34] jtary opened #1655 "Fix tests in Arc to work with CI Matrix layout"
Currently Arc hard-codes the karma and test server ports, which makes parallel testing difficult and unreliable under the new matrix. This should be fix so that Arc can use the new CI layout.

[2015-11-19 05:35] daslicht commented on #1654
Switching Node to v0.10.40 works for me

[2015-11-19 18:36] rmg commented on #1654
@raymondfeng we have already replaced node-syslog with strong-fork-syslog, and then replaced it with modern-syslog. The problem is Arc currently depends on an older version of strong-pm that still depends on strong-fork-syslog.

[2015-11-21 00:55] smartmouse opened #1656 "The details link under the type object shows "object" was covered."
I am using strongloop arc 1.8.3
In the new model, I am creating a property with type object.
There is a "details" link were you can click.
1. problem 1
When you click, it shows "object" -- That is not really useful.
What is the purpose of this? -- see screen capture arc0.jpg
2. problem 2
The field is covered by other fields -- see screen capture arc1.jpg

Environment: zlinux SLES 11.

nodebot1@wsl

[2015-11-21 02:31] smartmouse opened #1657 "loopback-connector-mongodb is not installed error -eventhough it is installed"
1. loopback-connector-mongodb is installed.

nodebot1@wslnx036:~/ivyarcTest/node_modules> ls
compression  loopback       loopback-component-explorer  loopback-datasource-juggler  serve-favicon
cors         loopback-boot  loopback-connector-mongodb   mongodb
nodebot1@wslnx036:~/ivyarcTest/node_modules>

2. slc pm
tons of errors saying loopback-connector-mongodb is not installed

https://gist.github

[2015-11-21 02:54] smartmouse opened #1658 "connection refused to mongodb server when build-deploy to PM Host"
1.The mongodb server is running -- see screen capture
2.in slc arc -- testing the mongodb driver is fine. -- see screen capture
3.build and deploy fails -- see screen capture
![mongodb](https://cloud.githubusercontent.com/assets/4519627/11316320/4c963536-8fd1-11e5-8f4e-3c7e3e56082f.jpg)
![testconngood](https://cloud.githubusercontent.com/assets/4519627/11316322/541384e4-8fd1-11e5-88d7-cef3ce9de674

[2015-11-22 04:53] smartmouse opened #1659 "Multiple issues for Profiler that needs clarification"
There are a few issues with profiler that needs to clarify the proper usage
1. It may seems hang at times when loading data/profiling
2. With multiple processes, loading the same cpu-profiling data file will create multiple "From File" entries on the left hand side -- see screen shot. Sort of confusing.
What is the purpose?  Thought that we will just click on the process on the left panel and disp

[2015-11-22 05:06] smartmouse commented on #1658
I think it may be due to the strong-pm not cleaned up.
After I reinstall strong-pm, I can build and deploy the application now.

[2015-11-22 05:06] #1658 closed

[2015-11-22 05:10] smartmouse commented on #1657
After I reinstalled the strong-pm, it seems to work without error.
odebot1@wslnx036:~/ivypm> slc pm
slc pm(53195): StrongLoop PM v5.0.1 (API v6.1.0) on port `8701`
slc pm(53195): Base folder `/home/nodebot1/.strong-pm`
slc pm(53195): Applications on port `3000 + service ID`
Browse your REST API at http://127.0.0.1:8701/explorer
Run request for commit "1/default" on current (none)
Start Runner: com

[2015-11-22 05:10] #1657 closed

[2015-11-23 02:40] smartmouse opened #1660 "minimum version of strong-pm for smart profiling required?"
From the documentation: https://github.com/strongloop/smartprofiling-example-app

Minimum versions

Be sure to do npm install -g strongloop to ensure you have the latest version of StrongLoop Arc.

To use Smart Profiling in Arc, you must have the following versions or higher:

StrongLoop Arc v. 1.6.6
StrongLoop PM v. 5.0.36
Use slc -v to determine your versions.

=However, we cannot get to  strong

[2015-11-23 18:29] cgole commented on #1660
Latest version of pm on npmjs is 5.0.1, so StrongLoop PM v. 5.0.36 is definetly not correct.

[2015-11-23 21:44] benawarez commented on #1414
when I call logout, I get the following:

{"error":{"name":"Error","status":500,"message":"could not find accessToken","stack":"Error: could not find accessToken\n    at E:\\Dev\\ScreenPosts\\node_modules\\loopback\\common\\models\\user.js:289:12\n    at E:\\Dev\\ScreenPosts\\node_modules\\loopback-datasource-juggler\\lib\\dao.js:1554:62\n    at E:\\Dev\\ScreenPosts\\node_modules\\loopback-datasou

[2015-11-23 23:23] smartmouse commented on #1659
Randy, please check if we need to enhance the documentation or is this expected behaviour?
Sort of confusing for me.

[2015-11-24 01:12] crandmck commented on #1659
I'll have a look, ty!

[2015-11-24 03:29] jeffcressman opened #1661 "Process Manager throws error when trying to set App Status to Active"
I had some issues with strong-pm so I started by deleting ` ~/.strong-pm`

Everything worked fine for deploying an application locally be following these steps.

1. `slc pm` from account root
2. `slc arc`
3. Build and deploy app in Arc via tar file
4. App shows up as Active in Process Manager

Then I stopped the app.

`slc ctl soft-stop 1`

Then I wanted to start the app again but this time use th

[2015-11-24 05:27] smartmouse opened #1662 "from ARC when deploy to PM - cluster not working for ppc LE"
smoking src on ppc LE SLES 12 with node -.12.x
terminal
npm install -g strongloop  okay
npm install loopback-connector-mongodb  (some compilation issues with kerboers)
slc loopback okay
slc arc
create model okay
create mongdob datasoource okay

terminal B
Start a different terminal windows
npm install -g strong-pm
npm install loopback-connector-mongodb
sl -pm

Then terminal A
build and deploy to P

[2015-11-24 17:40] cgole commented on #1662
try it again with npm i --save loopback-connector-mongdb

[2015-11-24 17:45] cgole commented on #1656
temp solution would be to take out the details links

[2015-11-24 18:18] smartmouse commented on #1662
After totally cleaned up and remove .strongloop and .strong-pm, reinstall everything and start from scratch and also save loopback-connector-mongodb  to package.json.

The issue has been resolved

[2015-11-24 18:18] #1662 closed

[2015-11-24 18:31] crandmck commented on #1660
I moved the min version requirements into the docs (so we only have to maintain in one place): https://docs.strongloop.com/display/SLC/Smart+profiling+with+Arc and corrected strong-pm version there to 5.0.1.

[2015-11-24 18:31] #1660 closed

[2015-11-24 19:53] #1648 closed

[2015-11-24 19:54] #1649 closed

[2015-11-25 04:05] smartmouse opened #1663 "Missing steps in profiling ( when excuting on ppc le SLES 12)"
https://docs.strongloop.com/display/SLC/Profiling

Before we execute node load.js
Inside the profiler-example-app
we need to do npm install
or else
node load.js will have issues

https://gist.github.com/smartmouse/18600ec0bfb806489c24

[2015-11-25 04:26] smartmouse opened #1664 "The total cpu is not the system cpu plus user cpu?"
![metricswrong](https://cloud.githubusercontent.com/assets/4519627/11388279/73ed462c-9302-11e5-9a78-424463a24a1e.jpg)

Please see above screen shot. above.

It does show correct metrics at some points , please see screen shot below

![okmetircs](https://cloud.githubusercontent.com/assets/4519627/11388300/ad268674-9302-11e5-8d5b-fa515f24e80b.jpg)

node version 0.12.x
platform ppcLE SLES 12

[2015-11-25 04:34] smartmouse opened #1665 "if we profiling using a remote host machine, need extra steps to cover loading cpu/heap files?"
Use a remote host (e.g. ppcLE SLES 12) machine for ARC and PM.
We will use local browser on local laptop to launch arc and start profiling capture cpu data and heap .
The heap and cpu profiling data is generate on the remote host ./strong-pm folder
see screen shot
![remotepm](https://cloud.githubusercontent.com/assets/4519627/11388388/9e5f638a-9303-11e5-87a4-50df411e2b50.jpg)

We will transfer the

[2015-11-25 17:14] #1642 closed

[2015-11-25 19:06] #1597 closed

[2015-11-25 19:08] #986 closed

[2015-11-25 19:08] #1503 closed

[2015-11-25 19:16] chandadharap commented on #1556
@ritch Can you provide input to unblock this.

[2015-11-25 19:37] chandadharap commented on #1581
This is a high level Epic. Work is in progress. Leave at backlog.

[2015-11-25 22:50] crandmck commented on #1665
@smartmouse If I understand correctly, you are running Arc on the remote system, but connecting to it from a local browser?   That is intentionally not a use case that we cover in the docs because Arc is intended for use on a local system afaik.   Is this scenario tested? @cgole

[2015-11-25 23:14] crandmck commented on #1663
Added the appropriate steps to https://docs.strongloop.com/display/SLC/Profiling.

However, when I ran `slc start` I get an error:
[code]
NOTE `slc run` is deprecated, we use `slc start` locally now.

[2015-11-25 23:14] #1663 closed

[2015-11-26 18:26] skolesnyk commented on #149
Has this been fixed? I've installed redis and push connectors but don't see either in the drop down list on composer page. Have to enter them manually.

[2015-11-27 15:12] bajtos commented on #149
@skolesnyk not as far as I know.

[2015-11-27 16:52] jtary opened #1666 "Arc cannot be launched on RH 6 and RH 7 for Node.0.12.x"
summary:

When arc can be launched from browser using URL
-[x] SLES11
-[x] SLES12

The message displayed:
StrongLoop Arc is running here: http://host:port/#/

e.g. StrongLoop Arc is running here: http://zsl12n1:58633/#/
e.g. StrongLoop Arc is running here: http://wslnx036:54947/#/

When arc cannot be launched from browser using URL
-[x] RH6
-[x] RH7

The message displayed:
StrongLoop Arc is runnin

[2015-11-27 19:12] jtary commented on #1666
@smartmouse The localhost output will never work if Arc is running on a remote machine. If you are running Arc on a remote machine you must override the host variable. Try running Arc like this: `HOST=0.0.0.0 slc arc`.

That should result in the hostname type URL bring printed, and being able to access the Arc remotely.

[2015-11-27 19:24] smartmouse commented on #1666
yes, I know, when we bring up the browser: we actually enter http://hostname: port

There are no differences in the steps when we perform the tests -- in the working machines vs the non-work machines.
I just did slc arc

I was wondering whether the machines that fails do not have any DNS setup properly, so arc is outputing
localhost:xxxx instead.
Where as in the working case: arc is outputting : h

[2015-11-27 19:26] smartmouse commented on #1666
I sent you the machine credentials.

[2015-11-27 19:33] smartmouse commented on #1666
@jtary I found the differences , between the machines that work -- zsl12n1.canlab.ibm.com and zs111n1.can.ibm.com -- when I echo $HOST, it was set up.
On the machines that do not work, when I echo $HOST, there is nothing, so by default on the working machines, the host environment variable is set up, so ARC can resolve the address and printed out
Hostname:port.

[2015-11-27 19:38] smartmouse commented on #1666
Yes if I set HOST , it will work. So this is a machine config issues.   will be good if this is documented somewhere.  @crandmck , is this already documented somewhere?

Thanks all, closing the issue.

[2015-11-27 19:38] #1666 closed

[2015-11-27 20:22] jtary commented on #1666
@smartmouse HOST isn't something that's configured by default, it's just a common variable that used by a lot of command line software for overriding which interface a server will bind to. There is a warning printed on the console if you run it via SSH, saying the default address may not work, but that won't show up if you're using some other remote access software.

[2015-11-27 21:55] smartmouse commented on #1666
@jtary Thanks, at least now the behaviour is consistent and works. Our settings varies from machine to machine when it was configured to us. Many small thing we just take it for granted.  :-) Have a nice weekend!

[2015-11-30 02:43] chandadharap commented on #1475
@cgole I had tagged incorrectly. Can we review then close?

[2015-11-30 02:44] #1596 closed

[2015-11-30 02:44] #1028 closed

[2015-11-30 02:44] #851 closed

[2015-11-30 02:44] #1568 closed

[2015-11-30 02:44] #1575 closed

[2015-11-30 02:44] #1574 closed

[2015-11-30 02:44] #1578 closed

[2015-11-30 02:44] #1570 closed

[2015-11-30 02:45] #1560 closed

[2015-11-30 02:45] #523 closed

[2015-11-30 02:45] #1579 closed

[2015-11-30 02:45] #1577 closed

[2015-11-30 02:45] #1571 closed

[2015-11-30 02:45] #1565 closed

[2015-11-30 02:45] #1564 closed

[2015-11-30 02:45] #1562 closed

[2015-11-30 02:45] #1557 closed

[2015-11-30 02:45] #1551 closed

[2015-11-30 02:45] #1541 closed

[2015-11-30 02:45] #1540 closed

[2015-11-30 02:45] #1521 closed

[2015-11-30 02:45] #1486 closed

[2015-11-30 02:45] #1461 closed

[2015-11-30 02:45] #1484 closed

[2015-11-30 02:45] #1318 closed

[2015-11-30 02:45] #1553 closed

[2015-11-30 02:45] #945 closed

[2015-11-30 02:45] #1573 closed

[2015-11-30 02:45] #1572 closed

[2015-11-30 02:45] #1598 closed

[2015-11-30 02:45] #582 closed

[2015-11-30 21:18] anthonyettinger opened #1668 "add linting to strong-arc-ui"
add linting to strong-arc-ui

[2015-11-30 22:15] jtary commented on #1651
Need to find a way to deal with specialized browserify transforms, without introducing duplicate versions of dependency libraries.

[2015-11-30 23:48] crandmck commented on #1666
@smartmouse  I can add a note to the docs.  What should it say?   Something like this:

Or, please clarify.

[2015-12-01 19:12] jtary opened #1669 "Integrate mock filesystem API into Arc"
Integrate mock APIm integration services into strong arc.

[2015-12-01 23:07] anthonyettinger commented on #1556
@raymondfeng please provide valid URL/endpoint rules we can use for client side validation of this field.

[2015-12-01 23:21] raymondfeng commented on #1556
The reverse proxy requires a http/https URL. Try to use a regexp as proposed by http://stackoverflow.com/questions/161738/what-is-the-best-regular-expression-to-check-if-a-string-is-a-valid-url

[2015-12-02 19:31] smartmouse opened #1670 "Missing loopback-types (OTHER) in the ARC UI and OTHER and Any from documentation"
On the command lines when we do slc loopback:model
There are types like Any, (Other) come up for selection on the command line

However , not consistent in Arc UI.
1.   (Other) is not showing up the the GUI for selection when we launch ARC

2.    (Other ) is not in the documentation -- need some example how to use it.

3.  Any is not in the documentation

https://docs.strongloop.com/display/APIS/C

[2015-12-02 22:02] #1668 closed

[2015-12-02 22:02] #1652 closed

[2015-12-04 22:47] #1651 closed

[2015-12-05 00:04] anthonyettinger commented on #1556
There are some problematic scoping issues that we need to fix, which will eat up too much time for this sprint.

[2015-12-07 22:03] jtary opened #1673 "Host override causes crash"
Overriding the host using env causes Arc to fail at startup,

[2015-12-07 23:04] cgole commented on #1475
verified

[2015-12-07 23:05] cgole commented on #1475
![screen shot 2015-12-07 at 3 04 32 pm](https://cloud.githubusercontent.com/assets/991632/11642633/e4911bba-9cf3-11e5-9824-c86bf8f45899.png)

[2015-12-07 23:05] #1475 closed

[2015-12-08 02:37] smartmouse opened #1674 "ARC document on support platforms need to be modified"
https://docs.strongloop.com/display/SL/Installing+StrongLoop

-> Z system SUSE Linux Enterprise Server 11 (with Node 0.12.7)

Since we have certified all z-linux platforms. the above need to enhanced.

Linux on Z System
Node 0.12.7 -
      SUSE Linux Enterprise Server 11.
      RHEL 6.3 and higher
Node 4.2.x
      SUSE Linux Enterprise Server 12
      RHEL 7

[2015-12-08 02:46] smartmouse opened #1675 "ARC document needs to mention smart profiling does not support Linux on System z"
Smart profile is not supported on Linux on System Z.

Need to mention this upfront and in the profiling section of the doc.

Please close this if you already mention somewhere. I may have missed in from the doc.

Thanks .

[2015-12-08 03:08] smartmouse commented on #1664
simi
![ppcle130rh7metrics](https://cloud.githubusercontent.com/assets/4519627/11646770/1528f974-9d2f-11e5-8afa-5ed669e51d4f.jpg)
ar issues on ppcLE RH 7 with node 0.12.x

[2015-12-08 03:17] smartmouse opened #1676 "How do we know which heapshot/cpuprofile files relates to which PID w/o loading"
-rw-r--r-- 1 nodebot nodebot 189980672 Dec  7 21:48 minkelite.db
-rw-rw-r-- 1 nodebot nodebot     14081 Dec  7 21:01 profile.1.cpuprofile
-rw-rw-r-- 1 nodebot nodebot     12934 Dec  7 21:02 profile.2.cpuprofile
-rw-rw-r-- 1 nodebot nodebot     18905 Dec  7 21:02 profile.3.cpuprofile
-rw-rw-r-- 1 nodebot nodebot     63648 Dec  7 21:06 profile.4.cpuprofile
-rw-rw-r-- 1 nodebot nodebot     24319 Dec

[2015-12-09 03:45] smartmouse opened #1678 "some selection are missing from profiler UI in ARC in firefox"
Under the Heap Snapshots,
   In chrome browser
    we can select summary, stattics etc.
  In Firefox. browser
    those selection are missing.

See the screen shot between the two.
chrome
![firefox](https://cloud.githubusercontent.com/assets/4519627/11676112/57573d50-9dfd-11e5-9e32-9da71e1d1889.jpg)

![chrome](https://cloud.githubusercontent.com/assets/4519627/11676108/4afb01f4-9dfd-11e5-9ef6-486f

[2015-12-09 03:50] smartmouse opened #1679 "Profiler UI Freeze when switch between Server and File"
If we select File to Server or Server to File, the right section freezes
Not sure what is going on.

There is no explanation in the doc about the File usages

![freeze](https://cloud.githubusercontent.com/assets/4519627/11676178/0af79a8a-9dfe-11e5-93cc-a04e9423e026.jpg)

[2015-12-09 19:59] #1628 closed

[2015-12-10 17:31] jtary opened #1680 "Remove dependency on React"
Identify and replace directives which use React, and remove React as a dependency of Strong-Arc.

Currently the main module that uses React is the composer. However, most of the modules have at least a '*.react.js' file, even though they may not be used. We need to go through each module, and identify the cases where react is being used. Then we can systematically replace the React components with

[2015-12-10 23:31] cgole commented on #1676
@jtary  when you run cpu profiling through Arc they show up with pid number in the left side bar which is good enough.  These profiles also get saved in ~/.strong-pm but there they are saved as @smartmouse  pointed out, without pid numbers. Can we keep them in sync and have the pid numbers in the profiles when we save them?

[2015-12-11 05:09] smartmouse opened #1681 "Delete datasource button is not responsive in Arc composer in firefox"
I created a mongodb datasource  in composer and want to delete it.
The delete has done nothing , please see screen shot.
It is not responsive at all.
![deldb](https://cloud.githubusercontent.com/assets/4519627/11736365/5805630e-9f9b-11e5-9d17-a907088f3eb8.jpg)

[2015-12-11 17:40] anthonyettinger opened #1682 "add support for salesforce connector"
Anthony, Please create the story and add it to planning.
and thank you!
- chanda

    ----- Original message -----
    From: Anthony Ettinger/Burlingame/IBM@IBMUS
    To: Chanda Dharap/Burlingame/IBM@IBMUS
    Cc: aditya.bm@in.ibm.com, Andrew J Hoyt/Poughkeepsie/IBM@IBMUS, anthony@strongloop.com, chanda@strongloop.com, chandrika@strongloop.com, joseph@strongloop.com, Raymond Feng/Burlingame/IBM@IB

[2015-12-11 18:19] jtary commented on #1676
Would probably be fairly straight forward, but it's on the PM side. @sam-github would know better if there would be any particular issue with changing the naming scheme.

[2015-12-11 21:33] jtary opened #1684 "Refactor: port user authorization/authentication"
Port the login screen, and authorization/authentication hooks from Arc into arc-desktop.

Additional thought needs to be put into how to handle authorization for premium modules, and hand-off authentication for integration with cloud services.

[2015-12-11 23:15] crandmck commented on #1674
Just to clarify, will _everything_ run on these platforms? Arc, LoopBack, and strong-pm?

And are all features supported?  Smart profiling, metrics, tracing, etc?

[2015-12-11 23:18] crandmck commented on #1675
Docs say

"Linux on System Z" is not a Linux x86_64 system, is it?
If not, then I don't think we need to add anything, as it's covered by the above statement.

[2015-12-11 23:22] jtary opened #1685 "Arc release in the new year"

[2015-12-11 23:34] jtary opened #1686 "Make project selector work for all modules"

[2015-12-12 00:40] anthonyettinger opened #1687 "workspace api call to configure arc to use selected project"
workspace api call to configure arc to use selected project

[2015-12-15 00:17] abhullar commented on #1680
Modules using React (all under ...client>www>scripts>modules directory)
- arc.react.js (arc folder)
    - arc.directives.js
- arc-user.react.js (arc-user)
    - arc-user.directives.js
- common.react.js (common)
    - common.directives.js
- composer.react.js (composer)
    - composer.directives.js
- datasource.react.js (datasource)
    - datasource.directives.js
- ia.react.js (ia)
    - is.directiv

[2015-12-15 18:24] jtary opened #1689 "Arc release to remove cxviz-pie"

[2015-12-15 19:35] anthonyettinger commented on #1621
https://drive.google.com/drive/folders/0B1FTzkB7697GLWJkNlpEQ2lBYVU

[2015-12-15 19:35] anthonyettinger commented on #1620
https://drive.google.com/drive/folders/0B1FTzkB7697GLWJkNlpEQ2lBYVU

[2015-12-15 21:57] smartmouse commented on #1675
NOTE: Smart Profiling is supported only for applications (and StrongLoop PM) running on Linux.
The above is is currently in the doc,  You are correct that Linux on System Z is not Linux x86_64 system. and we have also ppc64LE and ppc64 BE systems, they all run linux but not x86_64.

so may be adding Linux x86_64 system should do.
Thanks.

[2015-12-16 00:56] crandmck commented on #1675
The above text is already in the doc at https://docs.strongloop.com/display/SLC/Smart+profiling+with+Arc and https://docs.strongloop.com/display/SLC/Smart+profiling+with+slc.

Assuming that is sufficient, I'll close this. If we need to change or add more, please reopen.

[2015-12-16 00:56] #1675 closed

[2015-12-16 22:04] #1689 closed

[2015-12-16 22:04] #1673 closed

[2015-12-16 22:34] cgole commented on #1556
Steps for -
git clone   https://github.com/strongloop/strong-gateway
cd strong-gateway
git clone <strong-arc-repo>
git checkout <branch - initial-gateway-module-create>
start this arc from the strong-gateway app directory
/path/to/strong-arc/bin/cli.js arc

Go to gateway tab and test this use case

[2015-12-17 21:42] cgole commented on #1556
@anthonyettinger,  I was able to add "http://ndnf-7987**&&7666:http" as an endpoint url. Can we have a check for invalid characters. Also, when I enter an invalid url, the text box is highlighted in red and does nothing. Can we throw an error msg which says invalid url?

[2015-12-18 20:48] anthonyettinger commented on #1556
cgole. try now. i added a regex to invalidate your input

[2015-12-19 00:14] anthonyettinger opened #1692 "apim publish popover widget"

[2015-12-19 00:27] JISOOLEE commented on #1632
Varified. (start arc at app directory and then build and deploy whatever the project selected at project selector)

But the flag to enable icons on the homepage needs updating.

[2015-12-21 17:33] anthonyettinger commented on #1632
@JISOOLEE thanks. I will create a bug for the home page icons being disabled.

[2015-12-21 18:13] JISOOLEE commented on #1640
Works fine as expected.
(lists at both UI and .strong-arc/project.json remain updated)

[2015-12-21 20:00] JISOOLEE commented on #1686
Except a project recognition bug  (https://github.com/strongloop-internal/scrum-arc/issues/40), all the Arc functional modules work properly.

[2015-12-21 21:47] elkorep commented on #1626
Verified with the following requested enhancements:
https://github.com/strongloop-internal/scrum-arc/issues/41
https://github.com/strongloop-internal/scrum-arc/issues/42
https://github.com/strongloop-internal/scrum-arc/issues/43

[2015-12-21 21:48] elkorep commented on #1627
@anthonyettinger Is this just verifying that the selected project is saved to the project list afterwards?

[2015-12-21 23:54] anthonyettinger commented on #1627
yes

[2015-12-22 15:17] JISOOLEE commented on #1641
works properly.
(build appropriate tar file)

[2015-12-22 17:05] elkorep commented on #1627
verified

[2015-12-22 17:22] JISOOLEE commented on #1556
fixed

[2015-12-22 22:13] jtary commented on #1669
@kraman what is the status of this? I thought this was already merged into Arc.

[2015-12-23 00:13] kraman commented on #1669
its done

[2015-12-23 04:49] sam-github commented on #1676
@smartmouse you are looking directly into strong-pm's internal DB... you can if you want, but its not intended to be user-readable. Use strong-arc to connect to strong-pm and browse the profiles.

FYI, the number is the profile ID, you can observe what app/pid/worker/etc. it is from by looking in explorer.

And, mea culpa, we don't have a CLI equivalent of the strong-arg profile browser... we shou

[2015-12-23 04:50] sam-github commented on #1676
It should be backlogged against strong-pm in nodeops, not in arc.

[2015-12-26 02:02] VR-Architect commented on #1365
I have the same issue. To reproduce, I downloaded the loopback-getting-started-intermediate by following the instruction on the LoopBack site. I am using Windows 10 with Visual Studio 2015 Community. I changed my datasources to my local MariaDB server on PC. I put the code into a VS project. When I add a new model via ARC Composer, then migrate, the model is created in my MariaDB server, and the m