[2015-01-26 22:57] altsang commented on #916
yep - looks good and thx for filing #925!

[2015-01-27 00:26] crandmck commented on #922
You need to do `npm install -g strongloop` to get `slc`.  See http://docs.strongloop.com/display/LB/Installing+StrongLoop.

[2015-01-27 00:59] #916 closed

[2015-01-27 10:28] bajtos commented on #562
This is the problematic line:

[code]

[2015-01-27 10:30] bajtos commented on #562
And it looks like a problem of Arc's package json, which says

[code]

[2015-01-27 12:12] bajtos commented on #911
I have landed https://github.com/strongloop/strong-arc/pull/931, the problem should be fixed now. @cgole please verify.

[2015-01-27 12:12] bajtos commented on #562
I have landed #931, the problem should be fixed now. @cgole please verify.

[2015-01-27 16:59] seanbrookes commented on #910
integration with Ritch/Krishna's  api

[2015-01-27 17:03] seanbrookes commented on #718
not sure if this is work we actually want to do

[2015-01-27 17:20] bajtos commented on #748
I believe this was fixed by https://github.com/strongloop/strong-arc/issues/748 as of `loopback-workspace@3.6.4`. @ijroth could you please verify?

[2015-01-27 17:30] chandadharap commented on #847
@altsang for comment and proceeding.

[2015-01-27 17:45] sam-github commented on #718
I haven't see the latest arc UI, but if people are still punching pm ports into boxes, I think we should consider it. Its pretty easy, and removes a lot of magic numbers.

[2015-01-27 19:27] cgole commented on #699
This works for me. The button is  greyed out, but if you click on it you can get to the status, start/stop button.

[2015-01-28 00:25] chandadharap commented on #748
This should go to @cgole , reassigning. But @jroth feel free to verify.

[2015-01-28 05:15] #699 closed

[2015-01-28 14:01] ximex opened #933 "choose PostgreSQL schema"
it isn't possible to select the schema of a postgresql db. it always selects "public".

[2015-01-29 00:53] altsang commented on #405
makes sense that the style guide would cover this aspect - this is good enough for me closing

[2015-01-29 00:53] #405 closed

[2015-01-29 05:47] chandadharap commented on #909
@seanbrooks The last comment was three days ago, please update with current status, since this is in Verify.

[2015-01-29 05:49] chandadharap commented on #872
@cgole does not hve bandwidth to verify this level of detail. Assigning back. Please move to done if you think this is done or assign to @altsang

[2015-01-29 05:51] chandadharap commented on #693
I'll take your word for this, i saw an earlier PR. These small messaging and visual fixes should not be assigned to @cgole. She is a QA department of ONE for all of StrongLoop.

[2015-01-29 05:52] #693 closed

[2015-01-30 00:56] cgole commented on #748
verified. I don't see this anymore.

[2015-01-30 00:57] cgole commented on #732
much better now.

[2015-01-30 01:04] cgole opened #936 "Test connection not working as expected"
I dont get a missing connector or success message anymore..
@bajtos, Is this a regression from #911 ?

[2015-01-30 01:06] cgole commented on #911
Test connection not working as expected anymore -  https://github.com/strongloop/strong-arc/issues/936

[2015-01-30 01:31] altsang commented on #897
reviewed with Anthony

[2015-01-30 01:31] #897 closed

[2015-01-30 01:31] altsang commented on #899
verified on master

[2015-01-30 01:31] #899 closed

[2015-01-30 08:20] bajtos commented on #936
@cgole please provide more information. How can I reproduce the problem? What connector did you use? Was there anything special about your app?

[2015-01-30 22:05] cgole opened #937 "Switching between metrics and other options in drop down causes errors in metrics page"
Not sure if this is always reproducible. i ran into this more than once

[2015-01-30 22:06] cgole commented on #937
![screen shot 2015-01-30 at 1 20 42 pm](https://cloud.githubusercontent.com/assets/991632/5984238/3c178f96-a889-11e4-9611-02ee12779d25.png)

[2015-01-30 22:22] cgole opened #938 "Some metrics charts don't load at all"
I have the loadtest app running on cluster with 5 workers. As I switch between the processes, some charts dont load at all. As I scroll down the charts are missing all together. I refreshed the page and try re-loading and saw the missing charts, but switching between pid's again led to the same issue.  Extremely flaky

[2015-01-31 01:02] cgole opened #939 "Data points box is always at the bottom of the screen"
In the screen shot below, I am pointing my mouse at one of the data point in the green line for DB counters, but the box is always at the bottom of the screen
![screen shot 2015-01-30 at 5 00 13 pm](https://cloud.githubusercontent.com/assets/991632/5986047/bb8d2b06-a8a1-11e4-9a73-d73ac8ac1f59.png)

[2015-02-02 19:03] anthonyettinger commented on #908
- [ ] table interactions (hover, select, focus, blur)
- [ ] action dropdown menu
- [ ] autocomplete fields (host, port)

[2015-02-03 00:28] crandmck opened #941 "URL to docs needs to change"
Per issac's request in https://github.com/strongloop-internal/scrum-nodeops/issues/285 I am reorganizing the docs, including the Arc docs.  This affects the page that Arc links to in the header:
![arc doc page](https://cloud.githubusercontent.com/assets/2925364/6012077/40a87f68-aaf8-11e4-8dde-06d653ee2cf6.png)
It currently links to the ARC space home page, http://docs.strongloop.com/display/ARC/ b

[2015-02-03 00:43] altsang opened #942 "Composer: properties should be first sorted by id fields first and then alphabatically"

[2015-02-03 00:45] cgole opened #943 "Type field is blank when using discover to create models"
I used the employees db to reproduce this. Use mysql discover to create models. The type fields are blank. Expected : They should have the correct data type.(String, Int etc)

[2015-02-03 23:04] #325 closed

[2015-02-03 23:04] #315 closed

[2015-02-03 23:09] cgole commented on #562
verified

[2015-02-03 23:11] cgole opened #945 "renaming datasource and saving shows duplicate datasource in composer"
Create a datasource named x
Rename it and save
On the backend, it works as expected. The new datasource name shows up.
In the composer 2 datasources with the same name show up

[2015-02-03 23:12] cgole commented on #945
![screen shot 2015-02-03 at 3 08 19 pm](https://cloud.githubusercontent.com/assets/991632/6031767/017f0284-abb7-11e4-8e22-0acbabf91589.png)

[2015-02-03 23:14] cgole commented on #945
Canceling the duplicate datasource and refreshing makes it go away

[2015-02-03 23:27] cgole commented on #937
I can still see this.

[2015-02-03 23:28] cgole commented on #936
cannot repro anymore

[2015-02-03 23:28] #936 closed

[2015-02-04 08:27] superkhau commented on #685
@bajtos `ncp` does not copy hidden files. See https://github.com/AvianFlu/ncp/issues/27

Should I just manually add code to copy the .gitignore and add a comment referencing the issue? ie)

[code]

[2015-02-04 09:33] bajtos commented on #685
@superkhau I am afraid your conclusion is not correct. Using `ncp@1.0.1`, I run `bin/ncp` and it copied the hidden files too. The problem must be somewhere else.

[2015-02-04 13:16] bajtos commented on #911
Cross-posting from #936:

I believe this item can be closed as verified?

[2015-02-04 17:18] #872 closed

[2015-02-04 19:17] cgole commented on #911
Can close this. I cannot repro anymore. I think I made a mistake in my earlier comment. Sorry for the confusion.

[2015-02-04 19:17] #911 closed

[2015-02-04 19:17] cgole commented on #936
Can close this one. Refer to #911

[2015-02-04 19:54] altsang commented on #938
even with 1 PID selected, leaving the metrics chart running to gather data points results in a crash OR a blank page where I'm forced to do a browser hard refresh

[2015-02-04 19:59] altsang opened #946 "Metrics: strong-pm PID not showing up"

[2015-02-04 20:01] altsang commented on #946
steps to reproduce:

1. run strong-pm locally
2. get license key via `slc strongops`
2. take loopback-example-app and deploy to local instance
3. load Arc Metrics module and specify local URL
4. repeatedly get error that metrics key is not available
5. get back metrics in the graphs - but no PID, get error that PID values are not valid

[2015-02-04 22:59] cgole opened #947 "arc manager : delete host doesnt work for first pm host"

[2015-02-04 23:01] cgole opened #948 "arc manager : autocomplete for local application doesnt work for first text box"
Autocomplete for local application only seems to work for the second text box.

[2015-02-04 23:03] cgole opened #949 "arc manager : table columns not aligned properly"
![err](https://cloud.githubusercontent.com/assets/991632/6051665/f1356012-ac7e-11e4-8f28-fa1595e18ed9.png)

[2015-02-04 23:06] cgole opened #950 "arc manager : Delete host buttons not consistent"
![err](https://cloud.githubusercontent.com/assets/991632/6051724/688b22b4-ac7f-11e4-8771-375de1fb5266.png)

[2015-02-04 23:08] cgole opened #951 "arc manager : not clear what "activate host" means"
My app is already running. Not sure what that button is for
![screen shot 2015-02-04 at 3 07 13 pm](https://cloud.githubusercontent.com/assets/991632/6051736/967d677c-ac7f-11e4-9a7b-f1b9b5586423.png)

[2015-02-04 23:08] cgole opened #952 "arc manager : host name got reset to default"
In screenshot below, my app is deployed to pm server at localhost. I set the host to localhost, port to 7777 and as expected, it showed me the running processes. But when I checked back after a while, the host name was reset to default. The processes are still showing correctly
![screen shot 2015-02-04 at 3 08 26 pm](https://cloud.githubusercontent.com/assets/991632/6051768/da20698e-ac7f-11e4-95e6

[2015-02-04 23:12] cgole opened #953 "arc manager : Cannot add more than 2 pm hosts"
I have 2 pm hosts. When I click Add PM Host button to add a 3rd server, nothing happens.

[2015-02-04 23:21] cgole opened #954 "arc manager : processes dont load for 'local application'"
App is started through the arc app controller. Processes dont load. Cant click on the activate button.,
![screen shot 2015-02-04 at 3 21 18 pm](https://cloud.githubusercontent.com/assets/991632/6051932/7ee95132-ac81-11e4-9d4e-ac488a6c463f.png)

[2015-02-04 23:24] cgole opened #955 "arc manager : cluster restart not working"
I can get this working use pmclt on command line, but not through arc manager

[2015-02-04 23:29] cgole opened #956 "arc manager : cannot add a second pm host unless it is "local application""
When I attempt to add a second pm host and port,  it just gets cancelled out when I hit activate.

[2015-02-05 01:15] cgole opened #957 "arc manager : load balancer does not always get updated with all pm hosts endpoints"

[2015-02-05 01:35] ritch commented on #947
This should be fixed... You'll need to update latest from staging.

[2015-02-05 01:36] ritch commented on #957
Pushed a fix for this to `strong-mesh-client`. Please `npm update` and test again.

[2015-02-05 01:40] ritch commented on #952
Can you test this again with the latest `strong-mesh-client`?

[2015-02-05 05:44] superkhau commented on #685
@bajtos You are right, I wrote a simple test and it does copy over. Will dig deeper.

[2015-02-05 17:47] ritch commented on #685
Perhap the `.gitignore` file is not included in the package when published to (and installed from) npm?

[2015-02-05 18:17] superkhau commented on #685
@ritch might be correct. See https://github.com/npm/npm/issues/3763

Will have to dig deeper and see if anyone actually resolved that issue.

[2015-02-05 18:26] seanbrookes commented on #956
I'm not able to reproduce this.

Can you please confirm on latest code?

[2015-02-05 18:27] seanbrookes commented on #953
This seems to be working ok on my end.  I haven't seen this type of behaviour before.

Please try to reproduce on the latest code to confirm.

[2015-02-05 18:28] seanbrookes commented on #952
agreed, this should be fixed

[2015-02-05 18:50] superkhau commented on #685
OK, I'm fairly convinced @ritch is correct. We can reproduce this by inspecting the contents of the tgz generated via `npm pack`

STR
[code]

At this step, you should notice the `.gitignore` file has been renamed to `.npmignore`. This tells me its definitely related to the issue I referenced above.

@bajtos @ritch @sam-github Thoughts?

[2015-02-05 18:54] sam-github commented on #685
@superkhau Horrible. On npm's part. Not sure how to work-around. Can't write the file after-the-fact, you won't have write perms. Perhaps easiest is to PR a fix up to yeoman generator, so it has special copy rules, so `.git_ignore` (or some other name that evades npm's misplaced vigilance) gets copied to `.gitignore`. Or maybe best to point out npm shouldn't mess with files that aren't at the pack

[2015-02-05 19:09] superkhau commented on #685
Yeah, the worst part is it does the renaming as part of `npm install` and renames your `.gitignore` to `.npmignore` even if you so some hacks beforehand (ie. `install` script in the `scripts` section). Also, it not only messages with files at the package root, ALL `.gitignore` files down the tree are also renamed.

[2015-02-05 19:12] superkhau commented on #685
More info on the  `npm install ` renaming here: https://github.com/npm/npm/issues/7252

[2015-02-05 19:24] crandmck commented on #913
Current "in progress" docs: http://docs.strongloop.com/display/~admin/Mesh+docs - not published - must be logged in to Confluence to view.

[2015-02-05 19:27] cgole opened #958 "arc manager : Cannot add second pm host unless previous pm host is activated"

[2015-02-05 19:30] cgole opened #959 "arc manager : if 'local application' is added as the first pm host, cannot add additional hosts"

[2015-02-05 19:32] cgole opened #960 "arc manager : Long host names appear to be cut off in text box"
![screen shot 2015-02-05 at 11 31 11 am](https://cloud.githubusercontent.com/assets/991632/6067599/999eee48-ad2a-11e4-8e88-200fd4be769e.png)

[2015-02-05 19:33] cgole opened #961 "arc manager : 'local application' cannot be activated"
Nothing happens when I click on activate.

[2015-02-05 19:33] cgole commented on #948
fixed and verified

[2015-02-05 19:33] #948 closed

[2015-02-05 19:34] cgole commented on #947
verified

[2015-02-05 19:34] #947 closed

[2015-02-05 19:35] cgole commented on #953
verified

[2015-02-05 19:35] #953 closed

[2015-02-05 19:35] cgole commented on #954
#961  needs to be fixed too

[2015-02-05 19:35] cgole commented on #956
verified

[2015-02-05 19:35] #956 closed

[2015-02-05 21:01] cgole opened #962 "arc manager : 'Active' state is red"
Why is active state here in red?
http://screencast.com/t/yj0TY2e11

[2015-02-05 21:27] seanbrookes commented on #954
as per my understanding this issue will go away when we filter out access to the local pm instance

[2015-02-05 21:28] seanbrookes commented on #961
as per my understanding this issue will go away when we filter out access to the local pm instance

see #954

[2015-02-05 21:29] seanbrookes commented on #959
is this still an issue if we filter out 'local' application?

It's not really clear what the terms mean here.  is this by selecting the value from the typeahead?

[2015-02-05 21:42] superkhau commented on #685
https://github.com/npm/npm/commit/2c6acb96c71c16106965d5cd829b67195dd673c7

[2015-02-05 21:45] superkhau commented on #685
this might help: https://github.com/yeoman/generator-angular/commit/e8c2c66948a3c8ad3c577b77c061de83cf9acd0d

from https://github.com/yeoman/generator-angular/issues/41

[2015-02-05 22:04] cgole opened #964 "arc manager : load balancer does not persist across arc stop/restart"
I have a load balancer added through manager. Stop arc and restart it. Load balancer doesnt show up. Add the load balancer again. Now 2 entries show up

[2015-02-05 22:46] cgole opened #965 ""Ignore metrics" error on the pm server console"
App deployed on pm server throws this error on the pm console.

Not sure how to repro it. I have a basic loopback app deployed to a pm server on my mac and I keep getting these messages on the console.

Ignoring metrics for unknown worker: 1
Ignoring metrics for unknown worker: 2
Ignoring metrics for unknown worker: 3
Ignoring metrics for unknown worker: 4
Ignoring metrics for unknown worker: 5
Ig

[2015-02-05 22:47] cgole commented on #965
refer to https://github.com/strongloop/strong-pm/issues/118

[2015-02-05 22:49] cgole commented on #957
This still very much exists.  I tried creating a LB and then adding pm hosts, but still doesnt show up in the routes.json endpoint.

[2015-02-06 00:01] ritch commented on #957
I can't reproduce this... Can we walk through your setup in a hangout?

Here is what I am seeing:

![screen shot 2015-02-05 at 3 59 38 pm](https://cloud.githubusercontent.com/assets/462228/6071910/1733905a-ad50-11e4-8492-08de505f8f0f.png)

![screen shot 2015-02-05 at 3 59 46 pm](https://cloud.githubusercontent.com/assets/462228/6071916/2d659f1c-ad50-11e4-8a8d-aa6c466203f0.png)

[2015-02-06 00:34] ritch commented on #957
@cgole

[2015-02-06 00:37] ritch commented on #955
This is an issue in the UI. It should be calling `action()` with:

[code]

[2015-02-06 01:20] altsang opened #966 "Process Manager: landing page icon needs to be changed from "Manager" to "Process Manager""

[2015-02-06 01:20] altsang opened #967 "Process Manager: menu module drop down needs to be changed from "Manager" to "Process Manager""

[2015-02-06 01:21] seanbrookes commented on #958
I don't think this is still the case.  Please retest

[2015-02-06 01:32] ritch commented on #966
Fixed in https://github.com/strongloop/strong-arc/pull/970

[2015-02-06 01:32] altsang commented on #966
also URL needs to be changed to /processmanager

[2015-02-06 01:34] ritch commented on #966
updated the url as well

[2015-02-06 01:35] ritch commented on #967
Fixed by https://github.com/strongloop/strong-arc/pull/970

[2015-02-06 01:43] seanbrookes commented on #909
things seem pretty stable now so this can be closed afaic

[2015-02-06 02:00] superkhau commented on #685
I have a solution. We do it like these guys: https://github.com/joshthecoder/ember-cli/commit/676fdcff68a6f468df8c9227ae386c96b46b1a78, but using `fs.renameSync` instead.

Basically they name the file `gitignore` and rename it to `.gitignore` when running the generator. I did a basic test and found that we can also rename the `.npmignore` file directly to `.gitignore`. The caveat is the renaming o

[2015-02-06 04:26] altsang opened #972 "Process Manager: order of hosts added not right"
when adding hosts the record entry should not be stacking new rows on top of old rows, see screencap:

![image](https://cloud.githubusercontent.com/assets/2261105/6074520/4e99ff82-ad75-11e4-826d-b89081c8257d.png)

the first record entered was the host with port 7001, the second record entered was 7002 and third was 7003 with 7003 listed first now

[2015-02-06 04:39] altsang opened #973 "Process Manager: app link doesn't work"
when clicking the app link on the header - It goes to the landing page within Arc, not the application URL

[2015-02-06 04:53] altsang opened #974 "Process Manager: stopping the app on strong-pm should not result in a problem icon"
I clicked stop on first record - strong-pm localhost:7003 from the host action menu:

![image](https://cloud.githubusercontent.com/assets/2261105/6074692/0aee5f9a-ad79-11e4-8d4a-9ee051f07caa.png)

if the app was stopped the state should revert back to Activate link with the socket plug icon unplugged, the drop down menu should have Start - which it does, no problem icon should be displayed

[2015-02-06 05:29] cgole opened #975 "arc manager : shouldnt allow adding more than 1 load balancer"
![screen shot 2015-02-05 at 9 27 56 pm](https://cloud.githubusercontent.com/assets/991632/6074931/fd2ab2aa-ad7d-11e4-8f5d-811b76fcd85e.png)

[2015-02-06 05:34] cgole opened #976 "arc manager : UI - load balancer details overlaps and hides part of process manager"
workaround is to click on Load Balancer. But this should defn be fixed.
![screen shot 2015-02-05 at 9 29 22 pm](https://cloud.githubusercontent.com/assets/991632/6074981/bf269ec8-ad7e-11e4-88e0-bf1a20fb90c5.png)

[2015-02-06 05:47] cgole opened #977 "arc manager : Using auto complete for host name doesnt work"
To repro -

I have 2 pm servers on localhost at diff ports.
Add the first pm server  - localhost  7777
While adding the 2nd host, I get 'localhost' in autocomplete so I click on it.
This doesnt work
![screen shot 2015-02-05 at 9 45 01 pm](https://cloud.githubusercontent.com/assets/991632/6075094/946ad6a2-ad80-11e4-96f3-572b2be10928.png)

[2015-02-06 05:49] cgole commented on #952
cannot repro anymore

[2015-02-06 05:49] #952 closed

[2015-02-06 05:50] superkhau commented on #685
https://github.com/strongloop/loopback-workspace/pull/186

[2015-02-06 06:08] cgole opened #978 "arc manager : arc pm fails to get correct app status after stop, start and cluster restart."
App is back up and running, but arc doesnt seem to find it.

![screen shot 2015-02-05 at 10 00 05 pm](https://cloud.githubusercontent.com/assets/991632/6075182/7778bad0-ad82-11e4-9e3d-c2b24ec1ffc6.png)

[2015-02-06 06:53] cgole commented on #955
still doesnt work for me. I tried cluster restart. It doesnt the right thing when I check the cluster status from the command line using pmclt. But arc manager doesnt show the correct pid's.

[2015-02-06 06:54] cgole commented on #958
Still doesnt work for me.

[2015-02-06 06:55] cgole commented on #966
verified

[2015-02-06 06:55] #967 closed

[2015-02-06 07:11] seanbrookes commented on #973
about that...

There is an issue.  I assumed all the apps would be running on the same host/port and with the requests farmed out by the lb.

But each app can/will have a unique url - so we can't really support 1 unified link.

we could do a link per row (as was in an early wireframe)

[2015-02-06 07:26] altsang opened #979 "Process Manager: URL needs to be /process-manager"
I should've checked earlier.

Please change from /processmanager to /process-manager to be consistent with /build-deploy

[2015-02-06 07:29] chandadharap commented on #979
Is this a critical/blocker for release by Sunday?

[2015-02-06 08:47] seanbrookes commented on #972
this might depend on how the backend is doing the file writes.

the front-end is just iterating on the response from the api.

We could add sorting capabilities but even then I don't think we have a 'last update' field

[2015-02-06 08:50] seanbrookes commented on #964
should be fixed with PR#971

[2015-02-06 08:59] seanbrookes commented on #974
I guess there was some lingering confusion then.  My understanding was that the only 'active' state was a running app.  That's why I proposed Active/Inactive in the first place - as opposed to 'Problem'.

[2015-02-06 09:00] seanbrookes commented on #975
I asked this question on Slack the other day and it sounded like there could be more than 1.

It would make things simpler if we restricted it to 1 for mvp

[2015-02-06 09:03] seanbrookes commented on #962
something is pretty wrong there in that view.  It looks to be pretty stale code.  If you can still reproduce can you post the steps to do so?
@cgole

[2015-02-06 09:23] seanbrookes commented on #958
this doesn't make a lot of sense.

Steps to reproduce?
- add new host / port to manager (not a valid PM host)
- the value should show up as a row in the grid with a 'Problem' status
- you then click 'Add New Host' link at the bottom
- then what??  - the 'new host' row should open at the bottom of the grid and you should be able to add a host and port and 'activate' to add to the list

What may be

[2015-02-06 09:46] bajtos commented on #685
+1 for the second option, store `.gitignore` under a different name. I don't agree with the particular implementation you have proposed, see my comment in strongloop/loopback-workspace#186.

[2015-02-06 17:28] ritch commented on #979
@altsang what are you referring to?

[2015-02-06 18:06] #909 closed

[2015-02-06 18:20] ritch commented on #979
The URL is already `/process-manager`... Please re-open with additional details.

[2015-02-06 18:20] #979 closed

[2015-02-06 18:43] anthonyettinger commented on #908
@altsang please review

[2015-02-06 18:49] ritch commented on #675
A clean solution involves reworking the workspace to allow for a simpler interaction model. See https://github.com/strongloop/loopback-workspace/issues/187

[2015-02-06 18:58] cgole commented on #964
verified

[2015-02-06 18:58] #964 closed

[2015-02-06 19:03] cgole commented on #959
not an issues anymore

[2015-02-06 19:03] #959 closed

[2015-02-06 19:03] cgole commented on #955
refer to https://github.com/strongloop/strong-arc/issues/978

[2015-02-06 19:03] #955 closed

[2015-02-06 19:04] cgole commented on #958
reproduced in hangout

[2015-02-06 19:05] cgole commented on #957
I am going to keep a watch on this on. Closing it for now since I couldnt repro on hangout

[2015-02-06 19:05] #957 closed

[2015-02-06 19:05] cgole commented on #949
verified

[2015-02-06 19:05] #949 closed

[2015-02-06 19:06] cgole opened #981 "arc manager : missing column name for the PIDs column"
The column with the PIDs has no name

[2015-02-06 19:15] ritch commented on #978
This is actually an issue in `strong-pm`.

[2015-02-06 19:19] ritch commented on #978
`strong-pm` is incorrectly setting the `stopTime` field even though the process is running.

/cc @kraman @sam-github

![screen shot 2015-02-06 at 11 18 23 am](https://cloud.githubusercontent.com/assets/462228/6085832/f2ce42ee-adf1-11e4-91bb-acdd9b9674bb.png)

![screen shot 2015-02-06 at 11 18 11 am](https://cloud.githubusercontent.com/assets/462228/6085835/f7fba964-adf1-11e4-9592-fdf19a46ea72.png)

[2015-02-06 19:26] cgole opened #982 "arc manager : Set cluster size doesnt resize the cluster"
I set cluster size to 2 but that dint do anything.

![screen shot 2015-02-06 at 11 25 29 am](https://cloud.githubusercontent.com/assets/991632/6085978/f7031bf4-adf2-11e4-894a-2f1e91495f12.png)

[2015-02-06 19:34] seanbrookes commented on #977
type-ahead has some resource locking issues so may not make initial release

[2015-02-06 20:14] altsang commented on #972
@ritch can you see above?

[2015-02-06 20:16] altsang commented on #973
yes the app would be running on different ports on strong-pm but what we would need to surface is the main entry point URL fronted by nginx

@kraman - can you see above?

[2015-02-06 20:58] cgole opened #983 "arc manager : Add some intimation of a scroll bar to see all pids"
If there are more than 2 pids you need to scroll down to see the rest of them. It'll be nice to have some hint there you can scroll down.

[2015-02-06 22:36] stacy-hunt opened #986 "Live Style Guide Review Items #2"
- [ ] Search Box icons (Mag glass and "X") should be aligned vertically with the centre of the box (Note that the attached image is a composite of 2 different states to show both icons at once)
![image](https://cloud.githubusercontent.com/assets/1924932/6088759/ce1ff140-aebe-11e4-8581-3f372b99972b.png)

- [ ] Search Box prompt text should be aligned vertically with input field text and the same si

[2015-02-06 22:42] stacy-hunt commented on #986
Next round of review items for the Live Style Guide

[2015-02-06 23:19] ritch commented on #972
Here is the fix for this:

https://github.com/strongloop/strong-mesh-client/pull/11

No UI changes needed due to a clever default in the client.

[2015-02-06 23:22] ritch commented on #978
FWIW I tested @kraman's fix for this and it worked.

[2015-02-06 23:32] kraman commented on #978
Requires new version of strong-pm@1.7.3

[2015-02-06 23:38] cgole opened #987 "arc manager : app control drop down options not not aligned in a straight line"
![screen shot 2015-02-06 at 3 37 32 pm](https://cloud.githubusercontent.com/assets/991632/6089355/30179258-ae16-11e4-95df-6b88f720224e.png)

[2015-02-06 23:52] cgole opened #988 "metrics page does not load correctly"
![screen shot 2015-02-06 at 3 51 42 pm](https://cloud.githubusercontent.com/assets/991632/6089482/1b143724-ae18-11e4-8d57-b5fb56cadc24.png)

[2015-02-06 23:56] chandadharap commented on #988
I see this too, when i tab from another module back to metrics module.

[2015-02-07 00:10] chandadharap commented on #982
Needs a progress indicator

[2015-02-07 00:17] chandadharap commented on #958
Needs Documentation. @altsang?

[2015-02-07 00:32] altsang commented on #958
will work with @crandmck on getting documented:

@seanbrookes please disable the `Add New Host`link using whatever style convention we have, and put a tool tip explaining that the first record must be successfully activated in order to add more hosts

[2015-02-07 01:05] cgole commented on #954
not an issue

[2015-02-07 01:06] #954 closed

[2015-02-07 01:29] cgole commented on #978
verified

[2015-02-07 01:29] #978 closed

[2015-02-07 01:29] #750 closed

[2015-02-07 01:30] #966 closed

[2015-02-07 01:31] #752 closed

[2015-02-07 01:31] cgole commented on #962
verified

[2015-02-07 01:31] #962 closed

[2015-02-07 01:35] cgole commented on #696
verified

[2015-02-07 01:35] #696 closed

[2015-02-07 06:08] chandadharap opened #992 "Size shows resized +1 worker"
With 8 workers, the size showed 9. Then I resized the cluster to 4 (down from 8). It shows as 5. See attached screen capture below.

[2015-02-07 06:09] chandadharap commented on #992
![resized](https://cloud.githubusercontent.com/assets/4267700/6091053/d963aa5a-ae4c-11e4-8f3d-563017ae5f12.jpg)

[2015-02-07 06:32] altsang commented on #979
nvm we're good here if it's `/process-manager`

[2015-02-07 06:39] chandadharap commented on #992
@ritch for FYI, wasn't sure where the issue might be.

[2015-02-07 06:42] chandadharap commented on #976
I saw this and experienced this confusion myself. The usability is fairly bad.  I had to click around to try and figure out what to do. Fro someone just trying it out (like most of the initial folk) its confusing.

[2015-02-07 06:49] chandadharap opened #993 "LB box, font text is way too light"
It seems to indicate "unavailable" input box. Too light to read.

[2015-02-07 06:51] chandadharap commented on #993
@altsang Not sure if this is part of a list that Anthony has, so I'll leave it in Planning. Please prioritize if not already. Font is quite unreadable and light.

[2015-02-07 06:52] chandadharap commented on #993
![light](https://cloud.githubusercontent.com/assets/4267700/6091188/be07e860-ae52-11e4-992a-292870b5f107.jpg)

[2015-02-07 06:55] chandadharap commented on #917
@altsang Is 917 supposed to happen by Sunday? There has been no bandwidth for Sean and Rand to work on this.

[2015-02-07 07:22] altsang opened #994 "Process Manager: VD discrepancies part 1"

[2015-02-07 07:25] altsang commented on #994
![2015-02-06_2254](https://cloud.githubusercontent.com/assets/2261105/6091254/1f07b01a-ae57-11e4-97df-569ec47e283c.png)

- [ ] 1: Process label should be `Count` and 'PIDs`
- [ ] 2: Load Balancer should be right aligned with end of the table
- [ ] 3: The Count spinner should be disabled in the Problem state
- [ ] 4: Spacing: please put more spacing between the header and the start of the process m

[2015-02-07 07:26] altsang opened #995 "Process Manager: VD discrepancies part 2"

[2015-02-07 07:28] altsang commented on #995
![2015-02-06_2311](https://cloud.githubusercontent.com/assets/2261105/6091261/acbba330-ae57-11e4-951d-bb60af28e45e.png)

- [ ] 1: Activate link should be green
- [ ] 2: Activate link and plug/socket icon should have middles aligned
- [ ] 3: `x` button should not visible unless the full row is highlighted in blue

[2015-02-07 07:28] altsang opened #996 "Process Manager: VD discrepancies part 3"

[2015-02-07 07:31] altsang commented on #996
![2015-02-06_2316](https://cloud.githubusercontent.com/assets/2261105/6091265/fe98aaae-ae57-11e4-8bcb-0ad4bb662b89.png)

- [ ] 1: please put a little more spacing between app link table title and table
- [ ] 2: process count spinner icon does not match style and design in comps
- [ ] 3: socket/plug in plugged in state is very hard to see, please make darker gray like in comp

[2015-02-07 07:31] altsang opened #997 "Process Manager: VD discrepancies part 4"

[2015-02-07 07:32] altsang commented on #997
![2015-02-06_2318](https://cloud.githubusercontent.com/assets/2261105/6091269/5d9b0010-ae58-11e4-8770-fafaf3d6fde4.png)

- [ ] 1: hover border should be blue not black

[2015-02-07 07:38] altsang opened #998 "Process Manager: VD discrepancies part 5"

[2015-02-07 07:40] altsang commented on #998
![2015-02-06_2338](https://cloud.githubusercontent.com/assets/2261105/6091284/600a8ed2-ae59-11e4-9b65-c534f98d627f.png)

we don't have a comp for the dialog box for Load Balancer but please see the wireframe for a rough idea on how this should look

[2015-02-07 07:40] anthonyettinger commented on #993
that is the design. its placeholder text. its meant to be muted. I will double check though to be sure something isn't conflicting.

[2015-02-07 07:43] altsang commented on #993
this is by design as placeholder text as noted by @anthonyettinger, closing

[2015-02-07 07:44] #993 closed

[2015-02-07 07:47] altsang commented on #976
agreed, closing this issue - please see #988, we have a wireframe for what it should roughly look like

[2015-02-07 07:47] #976 closed

[2015-02-07 07:50] altsang commented on #966
verified on master

[2015-02-07 07:57] altsang opened #999 "Process Manager: Load Balancer setting needs contextual help"
@crandmck and @anthonyettinger - please have URL link to docs and put in a paragraph in the contextual help drop down box explaining this setting:

'If using Nginx controller integration - see docs <link>, enter in the host and port of the controller"

[2015-02-07 16:17] ritch commented on #992
The extra pid is the supervisor.

[2015-02-07 19:14] crandmck commented on #999
Helpp page draft: http://docs.strongloop.com/display/ARC/Load+balancer+settings.

See http://docs.strongloop.com/display/ARC/User+assistance+pages - very bottom - for the page ID, etc.

[2015-02-07 21:21] anthonyettinger commented on #960
can't reproduce @cgole

[2015-02-07 21:33] cgole opened #1000 "arc manager : Load balance loose all pm endpoints, when one of them crashes."
To repro -

I have 2 om servers up an running with an app deployed to them.
routes.json has 3 entries.
I kill on of the pm servers.

Expected : Load balancer should still have the other 2 pm server endpoints.
Actual : LB doesnt have any endpoint. I get a 503: Service Unavailable when I hit the LB url

[2015-02-07 21:37] ritch commented on #1000
Are they still not written when you restart arc?

[2015-02-07 21:47] cgole commented on #1000
Arc restart doesn't fix it.  LB still doesnt have the any pm endpoints.
When the crashed pm server comes back, the LB starts working again.

[2015-02-07 21:53] #950 closed

[2015-02-07 21:54] cgole commented on #988
@shubhra verified . good for now..

[2015-02-07 21:54] #988 closed

[2015-02-07 22:01] anthonyettinger commented on #996
@altsang we need a new story for the number spinner. We agreed we'd use the native one for now when we last discussed.

I need icons from stacy to do #3 (see email)

[2015-02-07 23:17] chandadharap commented on #972
waiting for strongloop/strong-mesh-client#11 before closing

[2015-02-07 23:23] chandadharap commented on #910
closing.

[2015-02-07 23:24] #910 closed

[2015-02-07 23:26] chandadharap commented on #981
Related to #1001?

[2015-02-07 23:34] chandadharap commented on #992
@ritch @kraman @seanbrookes This needs fixing.

[2015-02-08 01:40] altsang commented on #982
should conflate the button presses to a single input, i.e. wait for button presses before the action takes place

[2015-02-08 01:42] chandadharap commented on #917
This wont happen for Sunday. But refer to #999

[2015-02-08 01:50] chandadharap commented on #1000
@ritch Can you update this with progress? We will need this fixed for Sunday night.

[2015-02-08 01:52] altsang opened #1003 "Process Manager: setting cluster size to 1 puts strong-pm record in bad state"
steps to reproduce:

1. initialize Process Manager with 1 host to set application
2. add second host with strong-pm running with cluster size defaulted to number of cpus
3. activate second host
4. set `Count` field to 1
5. second host record deactivates with `Problem ?` icon, the ? says that the app is running - strong-pm is still running - verified by going directly to API endpoint (e.g. http://l

[2015-02-08 01:53] altsang opened #1004 "Process Manager: need number spinner from for PID count"

[2015-02-08 01:54] chandadharap commented on #992
worker=0 is supervisor. (the pids on pm api with worker id = 0 is the supervisor )

[2015-02-08 01:58] altsang commented on #994
verified on master

[2015-02-08 01:58] #994 closed

[2015-02-08 02:01] altsang commented on #995
verified on master

[2015-02-08 02:01] #995 closed

[2015-02-08 02:12] altsang commented on #996
ok for number spinner - #1004
for darker socket and plug - #NNNN

[2015-02-08 02:16] altsang opened #1005 "Process Manager: socket/plug icon is too light, need darker version of icon"

[2015-02-08 02:21] #996 closed

[2015-02-08 02:22] altsang commented on #908
verified on master

[2015-02-08 02:22] #908 closed

[2015-02-08 02:23] altsang commented on #981
yes - verified on master, closing

[2015-02-08 02:23] #981 closed

[2015-02-08 02:25] altsang commented on #997
verified on master

[2015-02-08 03:00] altsang opened #1006 "Process Manager: Count should not allow number less than 1"
I can spin the number down to negative integers and enter in input field

[2015-02-08 03:50] ritch commented on #1000
I wouldn't count on this being resolved by then. Ill update the labels when I take a look tomorrow.

If it is a minor issue I can fix and release tomorrow. First I need to determine the cause which might not be mesh client.

[2015-02-08 07:40] altsang commented on #973
disabling the app link feature in the table title for the first release, we need to re-think the UX around this

[2015-02-08 07:54] altsang commented on #913
added edits and some comments, will need to re-take screenshots after @anthonyettinger PR for VD fixes goes into master

[2015-02-08 17:30] cgole opened #1009 "arc manager : Arc UI broken"
$ slc arc
Run `npm install loopback-explorer` to enable the LoopBack explorer
Loading workspace /Users/chandrikagole/workspace/testapps/test4
Embedded Process Manager [(none)]:  starting
StrongLoop Arc is running here: http://localhost:54195/#/

http.js:690
    throw new Error('Can\'t set headers after they are sent.');
    ^
Error: Can't set headers after they are sent.
    at ServerResponse.Outg

[2015-02-08 17:32] cgole opened #1010 "arc manager : Add pm host button greyed out"
Cant add second pm host.

![screen shot 2015-02-08 at 9 31 15 am](https://cloud.githubusercontent.com/assets/991632/6097520/47eb0904-af75-11e4-8fe0-5dc14271d0c5.png)

[2015-02-08 17:44] cgole opened #1011 "arc manager : Windows - sl nginx controller fails to start"
This must be a windows path format issue.

![screen shot 2015-02-08 at 9 42 11 am](https://cloud.githubusercontent.com/assets/991632/6097548/07116462-af77-11e4-896b-d797296d4b71.png)
C:\Users\Administrator\nginx\.strong- nginx-controller\nginx/logs/error.log" failed (3: The system cannot find the path specified) 

[2015-02-08 19:03] #997 closed

[2015-02-08 20:13] crandmck commented on #913
Will retake screenshots tonight.

[2015-02-08 20:14] crandmck commented on #917
OK, ty.  I added the page required by #999.

[2015-02-08 21:29] ritch commented on #1009
This should be fixed now... The issue was caused by a bug introduced in a dependency of browserify (a dependency of strong-mesh-client).

[2015-02-08 21:49] chandadharap opened #1012 "Deploy: #workers not recognized"
To repro:
- ran slc pm -l 7777 on local, 8 workers started on my 8 core machine
- Built a tar file
- Deployed to localhost, 7777, worker size set to 2

Creates 8 workers.
This is not a regression, was happening yesterday as well.

[2015-02-08 21:51] chandadharap commented on #1012
Not sure who to assign, please assign as needed. Assigning to Ritch to start with. Sean has a bunch ongoing.

[2015-02-08 21:52] chandadharap commented on #1009
works for me.

[2015-02-08 22:04] chandadharap commented on #972
@cgole, possibly could be verified?

[2015-02-08 23:19] kraman commented on #1011
@chandadharap @cgole Nginx is not currently supported on Windows.

@crandmck Perhaps that needs to be documented.

[2015-02-08 23:47] stacy-hunt opened #1013 "Polish Manager Visual Comp"
- [x] Change "Processes" column header to "Count" and "PIDs"
- [x]  Standardise Help icon
- [ ] Plug icon should go dark green on hover instead of blue (+ discuss principle behind this)
- [ ] Activated socket icon grey is too light
- [x] Some slides show "+Add Host" link as blue when there is no mouseover
- [ ] Add App header to slides once the first host has been activated
- [ ]  Add Number spinn

[2015-02-08 23:57] cgole commented on #1010
I thought this was specific to windows because I noticed it on windows. But I can repro it on mac as well.

[2015-02-08 23:58] cgole commented on #1010
![screen shot 2015-02-08 at 9 52 36 am](https://cloud.githubusercontent.com/assets/991632/6099377/412eb04e-afab-11e4-9e0f-ca7a52dece1c.png)

[2015-02-08 23:58] cgole commented on #1010
![screen shot 2015-02-08 at 3 58 21 pm](https://cloud.githubusercontent.com/assets/991632/6099379/54ce2170-afab-11e4-81bc-8a8e91b026fe.png)

[2015-02-09 00:08] cgole commented on #1010
workaround is to refresh the page..

[2015-02-09 00:14] cgole opened #1014 "arc manager : The app selector drop down in header is missing in the process manager page"
![screen shot 2015-02-08 at 4 14 41 pm](https://cloud.githubusercontent.com/assets/991632/6099461/9d45a6ce-afad-11e4-9691-7252320cd3c5.png)

[2015-02-09 00:18] #1009 closed

[2015-02-09 00:19] #951 closed

[2015-02-09 00:20] cgole commented on #1014
Steps -
Add a pm host
Activate it.
At this point, I am unable to add second om host because the Add host button is disabled.
I refresh the page.
The header app selector drop down disappears.

[2015-02-09 00:21] cgole commented on #1010
add the first pm host, activate it..
at this point you should be able to click "Add PM host" but that button is greyed out

[2015-02-09 00:22] cgole commented on #974
now it changes to Inactive state. verified

[2015-02-09 00:22] #974 closed

[2015-02-09 00:25] cgole commented on #960
canot repro anymore

[2015-02-09 00:25] #960 closed

[2015-02-09 01:03] altsang commented on #1013
Also need darker socket plug icon displayed after activation.  The current gray is too light.

[2015-02-09 01:23] seanbrookes commented on #982
this one is a bit tricky and may not make the initial release

[2015-02-09 02:25] chandadharap commented on #1012
1) Build and Deploy to localhost:7777. Screen shot deploy2 showing what I set the workers in the Deploy box.
2) Profiler module, shows 8 workers
3) Process Manager shows 8 workers
4) terminal shows the command as cluster set to 2, but supervisor is actually starting 8 workers.
![deploy2](https://cloud.githubusercontent.com/assets/4267700/6100219/c6398e80-afbf-11e4-8af2-38e639c9c392.jpg)
![profiler

[2015-02-09 02:25] chandadharap commented on #1012
Run request for commit {"id":"3a95a00eb680b834ebee992b47b55cb4d1e8b09f.1423448326536","dir":"/Users/chanda/test/.strong-pm/work/3a95a00eb680b834ebee992b47b55cb4d1e8b09f.1423448326536","repo":"default","hash":"3a95a00eb680b834ebee992b47b55cb4d1e8b09f","branch":"npm-pack","runInPlace":false,"env":{},"config":{"prepare":["npm rebuild","npm install --production"],"start":["sl-run --cluster=2"],"replac

[2015-02-09 02:27] crandmck commented on #1011
I added a note to http://docs.strongloop.com/display/SLC/Configuring+Nginx+load+balancer.

[2015-02-09 02:36] chandadharap commented on #1011
closing.

[2015-02-09 02:36] #1011 closed

[2015-02-09 02:41] chandadharap commented on #1009
closing. - chanda

[2015-02-09 03:19] chandadharap commented on #982
Ive verified several times. It works.

[2015-02-09 03:20] chandadharap commented on #1006
verified. closing.

[2015-02-09 03:20] #1006 closed

[2015-02-09 03:21] chandadharap commented on #992
Verified. closing.

[2015-02-09 03:21] #992 closed

[2015-02-09 03:24] chandadharap commented on #960
moving to close then.

[2015-02-09 03:29] anthonyettinger opened #1019 "fix wrapping text in app selector"
![screenshot 2015-02-08 19 06 38](https://cloud.githubusercontent.com/assets/8658514/6100692/11a8541a-afc9-11e4-900d-58ca8a6505b2.png)

[2015-02-09 03:40] chandadharap commented on #1019
Verified. CLose.

[2015-02-09 03:40] #1019 closed

[2015-02-09 03:54] #1014 closed

[2015-02-09 04:00] cgole commented on #972
done

[2015-02-09 04:00] #972 closed

[2015-02-09 04:00] #982 closed

[2015-02-09 04:00] #1010 closed

[2015-02-09 04:00] #958 closed

[2015-02-09 04:55] #913 closed

[2015-02-09 04:55] chandadharap commented on #913
closed.

[2015-02-09 06:01] #907 closed

[2015-02-09 06:02] #749 closed

[2015-02-09 06:02] #562 closed

[2015-02-09 06:15] altsang opened #1020 "process manager: make delete icon more readily accessible"
please make (x) accessible when you hover highlight over the row

[2015-02-09 06:17] altsang opened #1021 "process manager: revisit clickable link colors"
right now we have lighter green as default,
ongoing discussion to make hover over darker green (right now it's blue)

[2015-02-09 06:22] altsang commented on #998
well done - this looks good for now, we have added drop down box to the style guide for discussion

[2015-02-09 06:22] #998 closed

[2015-02-09 16:14] seanbrookes commented on #1003
I thnk the 'single' process was the supervisor with zero child processes which was the source of the 'bad state'

- We are filtering out the supervisor pid now so the count and display should be accurate to actual working processes.
- I also added a check to make sure the count doesn't go below 1 .

Theoretically the combination of the above should have resolved this.

[2015-02-09 18:08] seanbrookes opened #1023 "metrics missing titles"
for some reason the navigation titles on the metrics view are missing now and there is an exception about index of 1

[2015-02-09 18:57] seanbrookes commented on #1023
I tightened up some logic around how things are handled when there are no metrics but hte basic issue here is actually working by design.

Originally the call was for the left navigation to be independent of the charts in the main view but it was confusing to have to scroll to the chart controls and then back to the chart if they were not aligned on the left.

So I set the chart nav to stay with t

[2015-02-09 20:00] #732 closed

[2015-02-09 20:01] #748 closed

[2015-02-09 20:01] #852 closed

[2015-02-09 20:01] #706 closed

[2015-02-09 21:07] ritch commented on #1000
Fixed in https://github.com/strongloop/strong-mesh-client/pull/14

[2015-02-09 21:33] ritch commented on #1012
@kraman can you take a look at this?

[2015-02-09 22:47] stacy-hunt commented on #1021
Should be quite easy for Anthony to make it go darker green instead of blue, we could ask him to change it for a bit and try it out, see what we think. If we're OK with it then that would simplify the UI scheme.

[2015-02-09 22:52] stacy-hunt commented on #1021
If we still like it blue (I have a feeling that will still be my preference) then we might have to consider making the buttons go blue on hover. Or decide if we're happy with buttons being an exception, which may be OK. I do like the subtlety of the way the buttons work now because they have a big surface area and you can spot the change, but it might not be so noticable for text. One possible app

[2015-02-09 23:18] kraman commented on #1012
@ritch I need to know what commands you are sending to PM. Looks like the initial deploy went through ok but a command was sent later to resize back to #cpus ...

[2015-02-10 18:37] altsang commented on #1023
yeah agreed on the point of having the nav controls on the charts, I'm coming around to that.  I think originally the nav was there to be consistent with composer for anchoring
I'll review with @stacy-hunt this Wednesday and anyone else who can still attend the 3pm

[2015-02-10 18:41] altsang commented on #973
@stacy-hunt we need to revisit this, this can be potentially confusing

[2015-02-10 18:47] altsang opened #1025 "process manager: env get/set implementation"
need to  implement per UX and VD

[2015-02-10 19:25] jakerella opened #1026 "Capturing heap snapshot from Windows 8 on demo app takes too long"
I was attempting to capture a heap snapshot from the demo app (appdemo.strongloop.com:7000) in Arc running on a Windows 8.1 machine (latest strongloop installed, latest Chrome, Node 0.10.35) and it took over 3 minutes for the heap snapshot to process and appear in the left sidebar. It reads as 28.8 MB and looks fine once ready, but the process takes over 3 minutes from the time I click the "Take S

[2015-02-10 21:09] stacy-hunt commented on #973
OK - I'll need some requirements. Can you elaborate them yet?

[2015-02-11 00:05] seanbrookes commented on #973
Turns out each host can a different url/port so we can't count on a single url for all the hosts to point to.

At one point we had the concept of the app name as a linke per row in the grid -  but that was before we narrowed it down to a single app

[2015-02-11 07:31] anthonyettinger opened #1027 "add number spinner widget to styleguide"
as per stacy's design

[2015-02-11 19:51] cgole opened #1028 "Profile tree files links don't load."
Profile tree files  links dont load. They load as http://localhost:56497/usr/local/lib/node_modules/strongloop/node_modules/strong-supervisor/lib/targetctl.js
should be something like file:///usr/local/lib/node_modules/strongloop/node_modules/strong-supervisor/lib/targetctl.js
![screen shot 2015-02-11 at 11 49 10 am](https://cloud.githubusercontent.com/assets/991632/6154912/1eac9f78-b1e4-11e4-9cbc

[2015-02-12 22:57] seanbrookes opened #1030 "flip build/deploy and profiler on landing page"
more logical sequence

[2015-02-13 18:10] seanbrookes commented on #1030
- need to take into account the downstream effects on Marketing, dox, and sales slides.

[2015-02-13 22:09] crandmck opened #1031 "Help link in Arc should bring up contextually-appropriate doc / help page"
Currently the help link opens the old genetric Arc doc page (http://docs.strongloop.com/display/ARC/StrongLoop+Arc), which is no longer part of the main docs, since we have made them task-oriented.
![arc help btn](https://cloud.githubusercontent.com/assets/2925364/6196072/a7151b32-b389-11e4-9f9d-bd9cda76fef5.png)

The URL should depend on which module you are in: Composer, Build & Deploy, etc.

[2015-02-16 18:43] stev-0 commented on #933
I agree - this ought to be configurable

[2015-02-16 20:26] ilianaza opened #1033 "Typo in docs (functon -> function)"
On the http://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-aftersave page:

MyModel.observe('after save', functon(ctx, next) {
...
should be:
MyModel.observe('after save', **function**(ctx, next) {

[2015-02-17 06:31] seanbrookes commented on #926
Had an initial hangout with Sam today to help frame up the spike.
Some notes:
- the implementation is more sophisticated than the existing StrongOps one
- ideally Chrome devtools will be a suitable 'view engine' for the feature.
- We have a native JSON data prototype
- Open to transforming it to a more consubable format for devtools
- Need to deep dive into devtools timline code to figure out best

[2015-02-17 06:32] seanbrookes commented on #926
From the iojs tracing discussion: https://github.com/iojs/io.js/issues/671#issuecomment-73191538

[2015-02-17 06:33] seanbrookes commented on #926
Chrome tracing example git hub repo: https://github.com/thlorenz/traceviewify

[2015-02-17 06:35] seanbrookes commented on #926
kick-off email notes:
On Sun, Feb 15, 2015 at 10:49 PM, Chanda Dharap <chanda@strongloop.com> wrote:

Ok. As a heads up, I asked Anthony, who I thought integrated the last
two dev-tools based displays (cpu and heap profiling), and he said it
was Miroslav had imported the entire chrome dev tools UI into arc...
its just that arc was disabling the display of those features that we
didn't need at the

[2015-02-17 06:38] seanbrookes commented on #926
Trace event format doc:
https://docs.google.com/a/strongloop.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/edit#heading=h.xqopa5m0e28f

[2015-02-17 06:44] seanbrookes commented on #926
@sam-github

[2015-02-17 17:16] sam-github commented on #926
chrome's approach to "tracing":

- https://github.com/iojs/io.js/issues/671#issuecomment-73191538

thorsten's tools, around converting various formats into the "trace event" format:

- https://github.com/thlorenz/cpuprofilify
- https://github.com/thlorenz/traceviewify
- https://github.com/thlorenz/flamegraph

@chandadharap As I understand @seanbrookes 's concerns now, its that the Chrome Dev Tools

[2015-02-17 17:20] seanbrookes commented on #926
the more I read the more I'm coming around

[2015-02-17 17:53] sam-github commented on #926
OK. A major open question is still what is the similarity and differences between the `chrome://tracing` view, and the "Timeline" view in Dev Tools... do they share data input formats? Is the `chrome://tracing` and internal tool, destined for Dev Tools once cleaned up? We appear to have a number of choices:

1. do our own view, tailor made to our data
2. use chrome://tracing
3. use Timeline in dev

[2015-02-17 18:01] sam-github commented on #926
@chandadharap @seanbrookes one of the issues with evaling the google displays, is they only show internal chrome FE data (by default), I'd like to do a spike (or have @seanbrookes do this) where the slow endpoint data is converted to trace view format (there are a number of options), and we load it into the view, and see what our data would look like (rather than looking at what Chrome's data look

[2015-02-17 18:14] bajtos commented on #926
@sam-github I am not familiar with tracing/timeline views, can't help here :(

[2015-02-17 18:15] sam-github commented on #926
Looks like timeline is more related to .cpuprofile, and tracing to the trace data structures... but that one can be converted to the other... hm. so they are seperate choices. :-(

[2015-02-17 18:53] altsang commented on #926
@sam-github @seanbrookes
the point of seeing if chrome dev tools can be used first is to save time and go to market quicker.  Quicker -  but not at the expense of sacrificing the UX and utility.
Also if JS developers were already familiar with using CDT to their front end work, that this would be very much the same. T
The above options for converting to a trace view look fine to me.  What's nice a

[2015-02-17 20:00] seanbrookes commented on #926
my first priority is to understand the data formats required by cdt and chrome://tracing

I poked around the concurix repo's last night and was encouraged to see d3(svg) code for their flame graphs

[2015-02-17 21:58] cgole commented on #801
not a bug anymore

[2015-02-17 21:58] #801 closed

[2015-02-18 00:40] sam-github commented on #926
https://github.com/iojs/io.js/issues/671#issuecomment-74737098  <---- @seanbrookes very useful context info on chrome://tracing vs. Timeline view

[2015-02-18 01:25] superkhau commented on #685
Resolved in strongloop/loopback-workspace#186 and strongloop/generator-loopback#86

[2015-02-18 04:34] stacy-hunt commented on #1005
This is included in 1013 so I'll mark this card as done to clear it.

[2015-02-18 04:34] #1005 closed

[2015-02-18 04:41] stacy-hunt opened #1035 "Process Manager Review"
Design review of Process Manager

[2015-02-18 04:41] stacy-hunt commented on #1035
Title should be green with a context menu button beside it (this is missing from the final comp, will add it. It can be seen in the V1 comp)
Delete (X) should appear on hover, not when the row is selected
Toaster messages don’t follow the style guide. Not sure why they are appearing, they’re not part of the design. Do we need them?
Column Header text is too big
Text generally is too big
“Strong PM

[2015-02-18 18:24] seanbrookes opened #1037 "Process Manager: “Add Host” button should have a “+” in front of it"

[2015-02-18 18:25] seanbrookes opened #1038 "Process Manager: selected cell highlight should be around cell not input box"

[2015-02-18 18:26] seanbrookes opened #1039 "Process Manager: progress spinner doesn’t appear during activation"

[2015-02-18 18:29] chandadharap opened #1040 "Concurix due diligence"
Eval their d3 code for ease of integration.

[2015-02-18 18:32] seanbrookes opened #1041 "Process Manager: “count” column should not have placeholder text in it"

[2015-02-18 18:34] seanbrookes opened #1042 "Process Manager: incorrect visual state for failed activation host"
When activation fails, the “?” button is black (should be grey), and the app status should say “Problem” in red.

[2015-02-18 18:37] seanbrookes opened #1043 "Process Manager: When the “?” button is clicked, it sometimes produces an empty dialog"

[2015-02-18 18:38] seanbrookes opened #1044 "Process Manager: Validation isn’t working for the host field"

[2015-02-18 18:41] seanbrookes commented on #412
@chanda this should be closed.  We did a major refactoring a while ago so this isn't really needed

[2015-02-18 18:54] chandadharap commented on #412
close

[2015-02-18 18:54] #412 closed

[2015-02-18 19:44] altsang commented on #1030
see #1036

[2015-02-18 19:49] altsang commented on #898
@stacy-hunt can you review please?

[2015-02-18 19:58] seanbrookes commented on #1035
I've done a breakdown of the issues and will post update here shortly

[2015-02-18 19:58] seanbrookes opened #1045 "Process Manager: delete x should appear on hover"
currently showing up only when clicking on the row

[2015-02-18 20:08] seanbrookes commented on #1035
Assigning to Al to prioritize based on feedback.

[2015-02-18 20:10] seanbrookes commented on #1035
I parsed the above list into the following:
Bugs
- each should have a github tracking number
Ambiguous  Style Feedback
- we need to get more systematic than: "Text generally is too big"
- Annotated Visual Specs: there are 2 things we can add to the visual specs to help codify the visual design:
1) relative font size.  We need to establish the baseline font size that will equate to 100% (approx 16p

[2015-02-18 20:17] seanbrookes commented on #1035
All,

I parsed the above list into the following (I also updated the issue in
GitHub with this to make it easier to track

*Bugs*
- each should have a github tracking number
*Ambiguous  Style Feedback *
- we need to get more systematic than: "Text generally is too big"
- Annotated Visual Specs: there are 2 things we can add to the visual specs
to help codify the visual design:
1) *relative font si

[2015-02-18 20:24] #685 closed

[2015-02-18 20:27] superkhau commented on #685
@sam-github https://github.com/strongloop/generator-loopback/releases/tag/v1.7.2 contains the updates you requested.

[2015-02-18 22:21] crandmck opened #1047 "Arc startup fails"
With latest version, Arc fails to run:
[code]

Here is what I see:

![arc bug](https://cloud.githubusercontent.com/assets/2925364/6257963/52d9b700-b779-11e4-821a-16f988e4ded8.png)

Before running, I did `slc update`.   Version info:

[code]

[2015-02-18 22:27] cgole commented on #1047
https://github.com/strongloop/strong-arc/issues/1009

[2015-02-18 22:31] stacy-hunt commented on #1035
Hi Sean, thanks for taking the trouble to organise my bullet list like
this. However, I wasn't expecting you to be dealing with that list at this
stage. I sent Anthony and Al emails yesterday that I would connect with
Anthony today and go over the list and gain clarity on what all of the
things are. Basically there are too many things that need fixing to make it
efficient to take screenshots and d

[2015-02-18 22:54] homeyer commented on #1009
Has the fix been published to npm? Just saw it occur with:
[code]

node 0.10.32, npm 2.1.4, slc v2.10.3

[2015-02-18 23:02] ritch commented on #1009
Related... but slightly different. Should be fixed by https://github.com/strongloop/strong-mesh-client/pull/15

[2015-02-18 23:03] ritch commented on #1009
@homeyer see https://github.com/strongloop/strong-arc/issues/1047

[2015-02-18 23:03] ritch commented on #1047
Fixed by https://github.com/strongloop/strong-mesh-client/pull/15

[2015-02-18 23:27] ritch commented on #1047
Fixed in https://github.com/strongloop/strong-mesh-client/releases/tag/v1.3.4

[2015-02-18 23:27] #1047 closed

[2015-02-19 00:50] seanbrookes commented on #1035
I wish I had been in on those emails as it would have saved me a few hours
this morning.

That being said, the point I made about enhancing the visual specs with
annotations is one I have been meaning to bring up with the group for a
while now so I would like your feedback on it.
IMO it would help our design process to address some of the consistency
issues we have.

Regards,
Sean

On Wed, Feb 18,

[2015-02-19 01:02] stacy-hunt commented on #1035
Yeah sorry, I assigned the card to Anthony thinking that he would pull you
in as needed. The suggestion about the visual spec is a good one and
exactly the kind of thing we should be aiming for with the static and live
style guides. I put forward a similar suggestion for the Product Header
<https://drive.google.com/open?id=0B1FTzkB7697GNC1rNFhrMFNPM1U&authuser=0>,
though as you say it raises quest

[2015-02-19 01:24] stacy-hunt commented on #898
Looks perfect. We still have a general need to preload button states so they don't blink when you mouse over them, but that shouldn't hold up this task from being completed. Nice work Anthony!

[2015-02-19 01:24] #898 closed

[2015-02-19 01:26] stacy-hunt opened #1048 "Blinking buttons"
- Need to preload button states (svg assets) so that they don't blink when you first mouse over them

[2015-02-19 01:38] seanbrookes commented on #1035
We can move this a more focused process discussion but I want to draw the distinctions between what I am proposing vs. the Product Header spec you referenced above.

The point I'm trying to make is that we need broad, relative guides that give relative proportions as opposed to specifying everything to a specific pixel value.

If we annotate which elements are designed to remain aligned and what t

[2015-02-19 01:44] stacy-hunt commented on #1035
Yeah that's fine. The idea of the guides is to give you (the developers)
what you need. I'm perfectly happy to specify anything that is necessary
from your perspective. If it starts to become too much work I'll say so and
we'll have to reassess; but until then we can proceed on that understanding.

On 19 February 2015 at 14:38, Sean Brookes <notifications@github.com> wrote:

[2015-02-19 02:58] anthonyettinger opened #1049 "Process Manager UI Fixes (only a list)"
## easy

- Delete (X) should appear on hover, not when the row is selected
- Column Header text is too big
	- make th text same font-size as input labels
	- .ui-table thead th should get explicit font-size
	- .manager-main-layout .manager-main-container .manager-pm-host-grid th (remove font-weight)
- “Strong PM” and “Port “ input text is bigger than the other columns
	- table tbody .ui-table shoul

[2015-02-19 02:59] anthonyettinger commented on #1049
This list needs to be decided upon priority and cards made for each item.

The easy ones can probably all be done in one card in one PR.

[2015-02-19 16:06] homeyer commented on #1009
nice, thanks @ritch!

[2015-02-19 18:18] sam-github commented on #685
@superkhau thanks, will speed up committing a loopback app into git

[2015-02-19 18:37] seanbrookes opened #1050 "Arc Metrics view crashes after a while"
Please triage and reassign to Sean.

[2015-02-19 18:41] seanbrookes commented on #939
should be a pretty simple CSS fix, just a matter of priority and time

[2015-02-19 18:42] seanbrookes commented on #938
Ref #1050 specifically for the crashing

[2015-02-19 23:41] stacy-hunt commented on #1027
I split the spinner into 2 sections and made it a little wider.

[2015-02-19 23:53] stacy-hunt commented on #1027
+ show variations when it's being used in a table cell vs a form

[2015-02-19 23:56] stacy-hunt commented on #1004
This card is included in 1007 so will remove it

[2015-02-20 02:48] stacy-hunt opened #1052 "Standardise scheme for asset over / down states"
There is some inconsistency in how assets look on mouseover and mousedown, in particular what the blue colour is used for. Need to review and standardise what the principles are going forward

[2015-02-20 19:36] anthonyettinger opened #1053 "retrofit close link from styleguide"

[2015-02-20 19:36] anthonyettinger opened #1054 "retrofit tabs (composer) from styleguide"
![image](https://cloud.githubusercontent.com/assets/1924932/6474292/60c8f5d4-c1b4-11e4-9086-74323c073bfb.png)

[2015-02-20 19:36] anthonyettinger opened #1055 "retrofit text inputs from styleguide"
![image](https://cloud.githubusercontent.com/assets/1924932/6474325/a5c44666-c1b4-11e4-946c-22fc6f341577.png)

[2015-02-20 19:37] anthonyettinger opened #1056 "retrofit text input error handling from styleguide"

[2015-02-20 19:37] anthonyettinger opened #1057 "retrofit radio buttons from styleguide"

[2015-02-20 19:37] anthonyettinger opened #1058 "retrofit tables from styleguide"
- composer add property
- discovery flow tables (3)

[2015-02-20 19:38] anthonyettinger opened #1059 "retrofit dropdown action menu from styleguide"
- leftnav composer

[2015-02-23 05:00] chandadharap commented on #1040
I'll close this since due diligence s done. next lets create stories once signed. closing.

[2015-02-23 05:00] #1040 closed

[2015-02-23 05:08] chandadharap commented on #926
Extremely useful spike. Basically if Concurix integration goes through, @ijroth agrees that Traces will override Slow end-points.

It is still valuable enough a direction that we should backlog a Spike for understanding Traceview format and if it would work for us. It appears io.js/v8 may also be making a play towards exposing more runtime info as trace view format.  A Spike on the backlog would b

[2015-02-23 05:08] #926 closed

[2015-02-24 02:04] chandadharap opened #1062 "Spike: Identify short term integration plan of Concurix Traces with Arc"
Adding @ritch for help. This is a Spike based on @seanbrookes evaluation. Discuss an immediate approach to understanding how to integrate Browserify approach with Angular based Arc.

This is not a story for long term. As part of Spike, implement a simple end-to-end integration and create stories in Top of Backlog for integrating Traces and Flamegraph view only. (Not other the other charts)

Known

[2015-02-24 15:16] jabbermarky opened #1063 "Arc does not allow setting SSL=true for PostgreSQL datasource"
I created a new datasource using Arc. The datasource requires SSL. There is no way to set SSL flag in the Arc UI - I must edit the datasources.json file manually and restart Arc.

[2015-02-24 16:37] seanbrookes commented on #1062
we have to be carefull not to open too big a can of worms here.  It's like a wool sweater with a loose thread...don't pull too hard.

Any solution will need to not introduce friction to the development process (pre-build/excessive page load time)

Options to explore:
- use same principles as Process Manager to integrate the relevant Concurix elements.  There are currently some performance concerns

[2015-02-24 16:41] seanbrookes commented on #1062
Components to deal with
Monitor View:
1) Host/PID selector
2) CPU timeseries chart
3) Memory timeseries chart
4) Transaction history
Trace View:
5) Summary Pie charts
6) Waterfall list
7) Flame  summary
Detail View
8) Waterfall 'navigator'
9) Flame Chart
10) Trace Tree
11) Inspector

[2015-02-24 17:07] seanbrookes commented on #1062
We also need at least one story to sort out the API/LB interface

[2015-02-24 18:02] #1045 closed

[2015-02-24 18:06] chandadharap opened #1064 "Integrating Auth API for Registration/Entitlement"
Needs to interact with @raymondfengs API. Dependency on Raymond.

[2015-02-24 18:13] chandadharap commented on #1062
Approach: Tactical, short-term, least risky  and predictable.
Reverse engineer the relevant UI components into Arc directives. for me this is the least risky of the options in the short term but would create more work if we decide to move in the browserify

[2015-02-24 20:54] anthonyettinger commented on #939
I looked into this, the problem seems to stem from putting the charts inside a scrollable div.

The nvd3 library calculates the position based on window and uses the window scroll offset. But doesn't take into account the scrollable div offset.

We would have to either patch the nvd3 library to work with our scrollable div (not recommended). Or fix our layout such that the scrollbar on pages is on

[2015-02-24 21:56] stacy-hunt commented on #1004
Al, is this card a todo for the design or development? There is another card for adding a spinner design to the style guide which I've already done, so I could move this card to done if it is meant to relate to that. However, if this card is meant for development perhaps I should assign it to Anthony instead?

[2015-02-24 21:58] stacy-hunt commented on #1004
Hey Al, is this card meant for design or development? There is another card 1027 for adding a spinner design to the style guide, which I've already done. If this card (1024) relates to that, I could move it to "done", but if it's meant for development then perhaps I should assign it to Anthony instead?

[2015-02-25 00:22] crandmck commented on #1031
Here are the article IDs:
 - Build & Deploy - 6096288
 - Composer - 6096284
 - Metrics - 6096290
 - Profiler - 6096286
 - Process Manager	- 6096292

 @anthonyettinger Let me know if you need more from me.  Many of these are very brief now, but I can add more if we think they need more...

[2015-02-25 18:29] altsang opened #1065 "process manager: weird state after trying to connect"
1. start up 2 strong-pm instances
2. add to Arc via process-manager
3. exit Arc
4. stop strong-pm instances
5. start up Arc
6. process manager entries are in a problem state - good
7. hit activate link - see below:

![image](https://cloud.githubusercontent.com/assets/2261105/6377490/2caa7afa-bcd9-11e4-8fb9-749d29402881.png)

if you click on the information icon:

![image](https://cloud.githubuserc

[2015-02-25 18:41] anthonyettinger commented on #939
There's another ticket for this issue already: https://github.com/novus/nvd3/pull/460

[2015-02-25 18:41] #1065 closed

[2015-02-26 00:44] cgole commented on #1050
@altsang, can you tell me steps to repro? For me, the chart dont load up consistently and I have "pending data", but I have never seen it crash.

[2015-02-26 00:44] cgole commented on #1050
Also what app do you use for demo?

[2015-02-26 06:18] chandadharap commented on #1031
Assigning to Anthony for a quick check. Reserving Chandrika for functional ones.

[2015-02-26 06:28] chandadharap commented on #695
Assigning back to @bajtos and @sam-github for FYI. @cgole need not verify this Its not clear if its fixed either. Last update is 3 months ago?

[2015-02-26 06:29] chandadharap commented on #1003
Should be assigned to @cgole and not Albert! re-assigning.

[2015-02-26 06:30] chandadharap commented on #843
Why is this assigned to @cgole? Should it be re-assigned to someone for fixing?

[2015-02-26 06:49] altsang commented on #1050
steps to reproduce:

I run a local strong-pm instance of loopback-example-app but you can re-create by going to appdemo.strongloop.com:7000 and running Arc from Chrome

see steps below:
1. spin up a strong-pm instance locally - PORT=5000 slc pm -l 7000
2. run `slc strongops --license <license>` in cloned loopback-example-app to enable strong-agent metrics
3. build and deploy loopback-example-app t

[2015-02-26 09:33] bajtos commented on #695
There are follow-up issues (#693 and https://github.com/strongloop/strong-pm/issues/96) tracking the remaining work, this one can be closed.

[2015-02-26 09:33] #695 closed

[2015-02-26 18:18] cgole commented on #1044
@sean, what kind of validation do we have for the host now?

[2015-02-26 18:22] seanbrookes commented on #1044
At the very least we should be checking if it has any spaces in it.

Additionally we should confirm that it only contains valid characters.
 (use the same rules as Model and Datasource name field?)

On Thu, Feb 26, 2015 at 10:18 AM, Chandrika Gole <notifications@github.com>
wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-d

[2015-02-26 18:54] cgole commented on #943
verified

[2015-02-26 18:54] #943 closed

[2015-02-26 18:58] cgole opened #1067 "Tar file build fails occasionally through arc"
When I try tar build the first time it fails. On retrying, I can build successfully.

[2015-02-26 18:58] cgole commented on #1067
I noticed this on the version of slc on npmjs and staging

[2015-02-26 19:00] cgole commented on #1050
I was able to reproduce this. I had to wait for almost 20 mins before this happened. The metrics page was blank first and then I got the error in the snapshot. -

[2015-02-26 19:01] cgole commented on #1050
![screen shot 2015-02-26 at 10 59 42 am](https://cloud.githubusercontent.com/assets/991632/6399374/cc40c038-bda6-11e4-97c9-d616123660d0.png)

[2015-02-26 20:23] cgole commented on #1000
verified

[2015-02-26 20:29] cgole commented on #823
verified

[2015-02-26 20:29] #1000 closed

[2015-02-26 20:29] #823 closed

[2015-02-26 20:32] cgole commented on #1044
@sean dont see this on master. I was able to enter a host name with spaces

[2015-02-26 20:33] cgole commented on #1044
strongloop v2.10.14 (node v0.11.16)
├── strong-arc@1.1.32 (83151bb)

[2015-02-26 20:34] cgole commented on #860
not a bug anymore

[2015-02-26 20:34] #860 closed

[2015-02-26 20:35] #1031 closed

[2015-02-26 20:50] cgole commented on #1003
verified

[2015-02-26 20:50] #1003 closed

[2015-02-26 21:13] chandadharap commented on #1064
Checklist please.

[2015-02-26 21:25] cgole commented on #843
verified. For an app without port, it starts the app , runs it and then stops the app.

[2015-02-26 21:28] raymondfeng commented on #1064
I'm providing the apis to:

1. Get subscriptions for a given user from auth.strongloop.com
2. Push a list of usage records to auth.strongloop.com

[2015-02-26 21:28] #843 closed

[2015-02-26 21:32] chandadharap commented on #1050
@ijroth still looking to see if this needs to be prioritized as critical or not i think,

[2015-02-26 21:35] raymondfeng commented on #1064
Sample apis:

http://localhost:3000/api/users/:id/subscriptions?access_token=*access_token*
http://localhost:3000/api/users/*username|email|id*/getSubscriptions?access_token=*access_token*

[2015-02-27 16:12] seanbrookes commented on #1050
I looked into this a bit and from what I can see it looks like the the metrics aggregation collections are being created as closures so never release for GC.

[2015-02-27 19:47] anthonyettinger commented on #1064
- [ ] landing page for licensing

[2015-02-27 21:39] chandadharap commented on #1050
If this is a memory leak issue, it needs to be fixed, irrespective of Roadmap.

[2015-02-27 21:40] chandadharap commented on #1050
@ritch @seanbrookes

[2015-02-28 03:33] vsmurali commented on #599
I am getting same error - OS : Wiindows7 :

C:\Users\Murali-dev\Desktop\scratchpad\tmpAPI>mysql --version
mysql  Ver 14.14 Distrib 5.5.25a, for Win32 (x86)

C:\Users\Murali-dev\Desktop\scratchpad\tmpAPI>slc --version
strongloop v2.10.3 (node v0.10.28)
+-- strong-arc@1.0.4
+-- strong-build@1.0.3
+-- strong-supervisor@1.4.0
¦ +-- strong-agent@1.3.2
+-- node-inspector@0.7.4
+-- strong-deploy@1.1.3
+-

[2015-03-02 02:42] altsang commented on #1050
although folks may not be utilizing our metrics because of considerable friction in getting the key - this is critical for our investor pitches and any due diligence that may ensue.  some of the investors we are talking to have techincal EIRs or are technical themselves and may want to check our offering in more detail.  Intel is already doing so

if we're close to understanding root cause i'd lik

[2015-03-02 17:49] altsang commented on #1050
@chandadharap got it - possibly memory leak, need this fixed depending on LOE

[2015-03-02 21:28] altsang opened #1068 "Licensing Page: UX and VD"
need discussion on where the licensing page hangs off in Arc (top level)

[2015-03-02 23:19] chandadharap opened #1069 "Implement local keystore for Arc to store license keys retrieved from auth.strongloop.com"

[2015-03-03 18:45] altsang commented on #1069
if Arc is retrieving keys, it's assumed that the `strongloop` package is installed globally and properly

we should consider having the keystore be stored centrally in the strongloop package instead of Arc on the filesystem

- [ ] if I download and install a commercial connector - it should work because the connector will check to see if the key is installed in the kesytore via the licensing modul

[2015-03-03 19:26] chandadharap commented on #1069
@rmg @sam-github for more input here.

- AFAIK the license module does not install a key. It decrypts a given license and returns the credentials. Please see here: https://github.com/strongloop/strong-license
- An api to pm is exposed so that Arc can get/set the env variable.

What was discussed: @ijroth @altsang
In  the "easy" case of using commercial connectors using Arc, Arc will use the licens

[2015-03-03 19:35] rmg commented on #1069
In this context, Arc _is_ the central strongloop store, and it is responsible for passing out licenses by setting environment variables in processes it is controlling via strong-pm.

Users not wanting to use Arc for this will need to set the environment variables themselves.

[2015-03-03 19:38] sam-github commented on #1069
arc already has a store (its where it persists the Process Manager data), I don't think we should create another. I agree that it should be moved out of arc's CWD, and into the user's home directory.

Note that it couldn't literally be "in the strongloop package", because packages have no persistent storage, and aren't installed on a writeable FS location (by default). The store would go in `~/.st

[2015-03-03 19:49] altsang commented on #1069
Cool.  I'm fine with re-using the JSON config for now and agree that it should be in some central location.
FYI - I wasn't literally thinking the sl package itself but a .strongloop dir under the strongloop package in node_modules globally or some place where we could easily reference it.  `~/.strongloop` makes sense and we can put in a story for that at a later point.

I wasn't aware of docker ba

[2015-03-03 19:57] altsang commented on #1030
verified

[2015-03-03 19:57] #1030 closed

[2015-03-03 21:14] sam-github commented on #1069
docker based install:

https://github.com/strongloop-internal/scrum-nodeops/issues/310  (details TBD, but not overall goal)

[2015-03-03 22:14] cgole commented on #938
closing this.

[2015-03-03 22:15] cgole commented on #937
closing this.

[2015-03-03 22:15] #937 closed

[2015-03-03 22:40] stacy-hunt commented on #1053
What's the close link Anthony? Do you mean the Close Icon?

[2015-03-03 22:51] stacy-hunt commented on #1056
This is distinct from the error handling in tables, right?

[2015-03-03 22:52] stacy-hunt commented on #1057
What about checkboxes? Are they in Arc already?

[2015-03-03 23:43] stacy-hunt commented on #1059
Anthony, can you please put a screenshot of this component in here? I'm not sure what you're referring to.

[2015-03-04 11:15] rubentorresbonet opened #1070 "Can't login to arc"
Since this morning, I get this error message when trying to login as usual through arc:

XMLHttpRequest cannot load https://auth.strongloop.com/api/users/login?include=user&. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:53950' is therefore not allowed access. The response had HTTP status code 502.

Any ideas? Thanks

[2015-03-04 11:55] jlgallego commented on #1070
Hello,

You are not alone. Same problem here. I even resetted password twice.

Regards.

[2015-03-04 12:56] yassineaouadi commented on #1070
hello ,
same problem, resetted password , i can login  to strongloop website but not to  arc  with my application: Authentication attempt failed. Please check your username (email) and password and try again.

[2015-03-04 15:23] seanbrookes commented on #1070
please try again.  things should be fixed now.

[2015-03-04 15:26] rubentorresbonet commented on #1070
Thanks, it's now working.

[2015-03-04 15:26] #1070 closed

[2015-03-04 17:09] chandadharap commented on #1044
@sean for details.

[2015-03-04 17:18] chandadharap commented on #939
Leave for now, revisit.

[2015-03-05 05:55] chandadharap commented on #1069
This is a duplicate story of one in the LB scrum board that was created last week. I'll consolidate and close this one.

[2015-03-05 18:24] chandadharap commented on #1069
Docker comment not related to this issue. FYI @raymondfeng

[2015-03-05 18:25] chandadharap commented on #1069
Where is this local file stored? TBD.

[2015-03-05 18:29] chandadharap opened #1071 "Enable SalesForce integration with Segment.io"
- [ ] Data from segment.io to Saleforce
- [ ] Company account with Segment.io

[2015-03-05 19:05] chandadharap opened #1072 "Finalize the chart look&feel for API Analytics"

[2015-03-05 19:06] kraman commented on #1012
CNR.

@ritch Was able to start  7 workers on his 8 core machine.
Arc v1.1.0
PM v1.7.4

[2015-03-05 19:07] chandadharap opened #1073 "Implement API analytics as a new module in Arc"
Based on previous spike;

[2015-03-05 19:22] anthonyettinger commented on #1064
pseudo code for license renewal:

[code]

[2015-03-05 19:48] chandadharap opened #1074 "Workspace API: extend to propogate key from Arc to pm"

[2015-03-05 20:16] chandadharap opened #1075 "Modify Terms & Conditions/Privacy"
We are storing email addresses on segment.io, SL users now have  their emails on an external site. Does our Privacy Policy cover this?
@ijroth

[2015-03-05 22:13] chandadharap commented on #1074
closing, should be in other scrum

[2015-03-05 22:15] #1074 closed

[2015-03-06 19:13] altsang commented on #1069
per our discussion yesterday the keystore will be implemented under ~/.strongloop (or something similar) and the wrapper that Ryan is building will check this default location, presumably be able to pass parameters for a path to the keystore
@raymondfeng, @rmg please confirm

[2015-03-07 01:23] seanbrookes commented on #1062
I think we're in pretty good shape here.

I suggest we call this complete after the demo on Monday

[2015-03-07 01:31] chandadharap commented on #1062
I agree. Please move to verify for now. I'm satisfied with the stories we
created and identified dependencies.

On Friday, March 6, 2015, Sean Brookes <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-developm

[2015-03-07 02:17] rmg commented on #1069
I'm not sure what you mean by key store in this context. Normally that implies some sort of vault with encryption and/or access control with an API for storing and retrieving. Something like ssh-agent or a keychain daemon/service.

My intention was for it to only check against a predefined set of environment variables that are set by Arc (via pmctl) or by the user (via pmctl or their own means). T

[2015-03-07 03:06] altsang commented on #1069
"Keystore" for now being human editable file in ~/.strongloop.  If it evolves into something like what ssh has in the future, it'll be more of a bonfide "keystore".  We don't want to have an extra step of  of the user having to set environment variables as the de-facto MO, unless necessary.  I view registering, logging in and downloading a key as "explicit" and I'm fine with being transparent on w

[2015-03-07 03:48] rmg commented on #1069
@altsang I think you misread. The only time the use would have to set an environment variable is if they are opting out of using Arc **and** opting out of using strong-pm.

My explicit vs. implicit was only about the behind-the-scenes implementation, not about the user's actions.

Both of the following scenarios have the **exact** same user experience, other than one having more places for bugs to

[2015-03-07 03:51] rmg commented on #1069
The above details won't impact Arc users (UX is the same for both). It will impact the UX of people using the modules without running their app under PM. For that I'll defer to Sumitha for which of the above scenarios sounds easier to triage over email.

[2015-03-07 15:27] altsang commented on #1069
Ahhh - regarding the nitty gritty - I was thinking of what you have as the explicit flow and agree with it.  The only one difference is if you run a LB app with a commercial connector outside of strong-pm while on your de machine.

I was hoping for something like this...
1. Licensing module wrapper checks license env by default.
2. If not there, licensing module wrapper will check default keystore

[2015-03-09 15:53] chandadharap commented on #1062
I moved it. Reviewed the stories you and I created on Friday and feel confident that we have a decent plan with coverage for middleware API and backend to support front-end.
closing.

[2015-03-09 15:53] #1062 closed

[2015-03-09 15:57] chandadharap commented on #1044
Needs more work and have to move back.

[2015-03-10 06:51] altsang opened #1076 "slc arc --licenses"
If you run a commercial module (e.g. a LB app with loopback-connector-oracle) and the license module wrapper detects that you do not have a license either set by env var or not present in default keystore, there will be message printed out that you need to register/login to arc.

if you were told to simply run `slc  arc` you could startup where you last left off in the application by CTRL+C and it

[2015-03-10 14:43] seanbrookes commented on #1050
see PR#1077

[2015-03-10 14:52] seanbrookes commented on #1044
The requirements were not very clear on this one apparently.
The host value should be validated against the same rules as the Model and Datasource name fields (no spaces or wierd characters)
- if memory serves, this story is as much about setting up the correct validation methods  in the Angular code as anything so this story may be larger than subsequent validation requiremetns

[2015-03-10 14:53] seanbrookes commented on #1044
assigning to Chanda for priority and assignment

[2015-03-10 17:09] chandadharap commented on #1076
After due discussion, this means: redirect user to the exact point of "login" in Arc when you run "slc arc"

[2015-03-10 23:06] anthonyettinger opened #1079 "Apply Visual Design to License selector manager"
CLI tools will output a message saying to renew X product with Y feature and this command: `slc arc --licenses` which will take you to the strong-arc licensing page

Show a list of all products and features available grouped by product.

We pre-select product and features that user already has a license for.

Allow user to select the features they need access to:

	[x] strong-arc
		[x] composer

[2015-03-11 05:47] chandadharap commented on #1050
@altsang Can you please verify this instead of Chandrika? She is really overloaded and you really need this to work.

[2015-03-11 06:20] altsang commented on #1050
I've pulled master and am testing it overnight

[2015-03-11 17:56] altsang commented on #1076
this has been supseded by strongloop/strong-arc#1078, it is now slc arc --licenses

[2015-03-11 21:53] altsang opened #1080 "Process Manager: add license push capabilities to existing commands and add license push command"
As a devops user using Process Manager, Process Manager is the only Arc module where licenses are pushed from Arc to strong-pm, and I would like to push licenses to my strong-pm instances.

The following strong-pm host commands on the drop down menu need a license push action preceeded before invoking the API:
- [ ] start
- [ ] restart

e.g. if the user chooses to restart the app within a strong-p

[2015-03-11 22:27] rmg commented on #1080
The start, restart, and cluster restart behaviours described are consistent with how strong-pm currently behaves. :+1:

[2015-03-11 22:38] altsang commented on #1080
fantastic, thx @rmg
i've emphasized the exception on cluster-restart just for good housekeeping

[2015-03-12 00:32] altsang opened #1082 "Auth Service: need additional fields for product and feature friendly labels"
As an Arc user, I would want to see what product and features I have licenses to with friendly names not the actual values for the Product and Feature fields

Please add additional field for Product and Features to have friendly names -

e.g. metrics = feature, Metrics = label for metrics

cc: @anthonyettinger

[2015-03-12 00:42] chandadharap commented on #1082
This would be a good time to rename Metrics to Monitoring, the docs already
reflect that, the UI would change eventually,

does it make sense here as well?

On Wednesday, March 11, 2015, Al Tsang <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http

[2015-03-12 00:48] altsang commented on #1082
think it would be better to create a separate story and have it referenced
by this one, but agree that we can change it now

On Wed, Mar 11, 2015 at 5:42 PM, chandadharap <notifications@github.com>
wrote:

--
Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in No

[2015-03-12 07:41] sajmons opened #1083 "MSSQL discover model not working"
I have created new App with slc strongloop appname command. Then I have started arc with slc arc. I have added new datasource with MSSQL button at lover left corner, entered all information so that test connection returned success. When run discover models, dialog opens, run for some time and then nothing happens, no tables are displayed. There is also no error in development console:

XHR finishe

[2015-03-12 18:27] chandadharap commented on #716
Removed bug label. This is a feature needed for being able to run Arc from Heroku.

[2015-03-12 18:47] seanbrookes commented on #716
what does 'run Arc from Heroku' mean?
- are we porting slc commands to heroku commands or are we talking about a gui launch?

@altsang @anthonyettinger the closer we get to a 'pure' gui/browser Arc experience the more we have to consider mobile layouts and resolutions in the designs

[2015-03-12 20:19] chandadharap commented on #716
gui launch.

[2015-03-12 21:59] chandadharap commented on #1012
I re-verified, works now! closing.

[2015-03-12 21:59] #1012 closed

[2015-03-12 23:35] altsang commented on #716
@seanbrookes if there's a door - it'll be opened whether or not we want it to be opened or not - yes understood

[2015-03-16 16:30] altsang opened #1085 "styleguide retrofit: alignment is off after text input retrofit"
As an Arc user I'm looking for consistency of alignment because it makes for a product to feel polished.

Composer: `Is Id`, `Required` and `Index` labels and checkboxes seems to be aligned differently.

![image](https://cloud.githubusercontent.com/assets/2261105/6670957/2bb9c30e-cbbf-11e4-9bfd-dc6a34a18bb0.png)

Build and Deploy: labels on top of input field boxes are flush with input field on th

[2015-03-16 17:24] altsang commented on #1055
looks great - couple of alignment issues that may have resulted - strongloop/strong-arc#1085

[2015-03-16 17:24] #1055 closed

[2015-03-16 17:24] altsang commented on #1076
chatted with @anthonyettinger - will wait till this is merged on master to verify once

[2015-03-16 18:02] altsang commented on #1079
@raymond: @anthonyettinger  - we need to make a decision on licensing renewal flow

- option 1 - explicitly ask the user to check off which license they want to renew/request, we have the UI to support it, but it places the burden on the user and makes the UI more complciated

- option 2 -  for now we find out what products a user does not have and automatically renew and create new key for what's

[2015-03-16 20:20] chandadharap commented on #1064
status update?

[2015-03-17 18:46] altsang opened #1087 "app controller: play button"
As an Arc user I would want to know that centralized controls are somewhat intuitive to identify and recognize so that I can use them productively.

Have heard now on 2 accounts that the app control play button is not intuitive or recognizable and not prominent.

[2015-03-18 04:52] chandadharap commented on #1050
I'm assigning to @altsang since hes already looking at it.

[2015-03-18 15:10] altsang commented on #1023
@stacy-hunt is done with a proposal to move chart controls to the chart itself, he was going to meet with Sean to consolidate behavior on Tracing and Metrics because of how Concurix was implemented and with differences in constraints

[2015-03-18 16:45] stacy-hunt commented on #1087
I'd like some more detail about what the users said if possible. Al, do you have more info - in which case I'd like to talk to you (text isn't suitable) or to the users if you can put me in touch with them.

[2015-03-18 17:46] anthonyettinger commented on #1064
I just got VD and went over the requirements with Raymond and Al yesterday. I'm integrating with Raymond's new api and VD.

[2015-03-18 18:02] altsang commented on #1087
Issac - copied you on the latest one, you can chat with @dashby3000 on the context, but it sounded like it he was going over Arc in a demo or something and folks are lost on what he's referring to on the screen?

![image](https://cloud.githubusercontent.com/assets/2261105/6715755/e1d029fe-cd5d-11e4-8fbe-fcc44e468ecb.png)

Jorem, a Swedish user of LB, when I asked first impression of what that butt

[2015-03-18 18:29] altsang commented on #1068
@sean, @stacy-hunt discussed with @anthonyettinger:

here's my proposal to hack up:
include it in the `app selector` drop down when you are in the licensing page itself - this gives our user a way out other than clicking the StrongLoop logo and the selection is there purely to be consistent

optional:  include in drop down menu of button button as dual way to get there
optional: if you are NOT in

[2015-03-18 22:44] chovy commented on #1059
This original
![screenshot 2015-03-18 15 42 57](https://cloud.githubusercontent.com/assets/27381/6720959/a14f0f26-cd85-11e4-80c4-6a64d3b96cca.png)
 one:

Should be replaced with this one from the styleguide:

![screenshot 2015-03-18 15 43 24](https://cloud.githubusercontent.com/assets/27381/6720962/a9ba1426-cd85-11e4-9bf0-480506dbe9bf.png)

[2015-03-19 17:24] altsang opened #1090 "Spike on API Metrics: store API metrics in browser for hour and day usage"
As an business analyst or devops engineer, I want to be able to see at least 1 hour worth of api invocation data in Arc, so that I can get an idea of  usage per endpoint at the model level.

This is currently considered to be in a separate module from Metrics for full UX - https://strongloop.atlassian.net/wiki/display/SL/2015/03/09/API+Usage+Metrics+-+Arc+UX
The strong-pm collector will store and

[2015-03-19 17:42] chandadharap opened #1091 "Verification of all use cases for Entitlement"

[2015-03-19 17:44] chandadharap commented on #1091
Add use cases here from Al's doc (to do for Chanda)

[2015-03-19 17:59] chandadharap commented on #1090
Thanks @altsang Assigned back to Anthony, who was original assignee.

[2015-03-19 20:18] #1082 closed

[2015-03-19 23:09] chandadharap opened #1093 "Spike: Figure out the graphing needs for a new API metrics module in Arc"
API metrics did not fit into the paradigm of the existing metrics module on arc, which makes the assumption that the data coming is is all the same form.

Needs icon etc @altsang,

[2015-03-19 23:14] chovy commented on #1073
Here's the spec:

https://strongloop.atlassian.net/wiki/pages/viewpage.action?spaceKey=SL&postingDay=2015%2F3%2F9&title=API+Usage+Metrics+-+Arc+UX

[2015-03-19 23:14] anthonyettinger commented on #1073
Here's the spec: https://strongloop.atlassian.net/wiki/pages/viewpage.action?spaceKey=SL&postingDay=2015%2F3%2F9&title=API+Usage+Metrics+-+Arc+UX

[2015-03-20 17:30] stacy-hunt commented on #1087
Al, I can't find Dennis in the Strongloop Slack pool. How do you normally
chat with him? Do you have a Skype username or something?

On 18 March 2015 at 11:02, Al Tsang <notifications@github.com> wrote:

[2015-03-20 17:33] stacy-hunt commented on #1068
OK, assuming this will be on the table for today's meeting

On 18 March 2015 at 11:29, Al Tsang <notifications@github.com> wrote:

[2015-03-20 17:34] stacy-hunt commented on #1059
OK thanks

[2015-03-20 18:56] chandadharap commented on #1087
Add to the list here, there are some internal devs who also got confused
when we were debugging something else.
Sam, Miroslav are a couple I know first hand.

I agree with Al. The YouTube play button is unambiguous, has a universal
meaning thats well accepted..

On Fri, Mar 20, 2015 at 10:30 AM, stacy-hunt <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(5

[2015-03-20 19:13] stacy-hunt commented on #1087
We have a UX meeting at 3pm today, so I guess we can put it on the agenda

On 20 March 2015 at 11:56, chandadharap <notifications@github.com> wrote:

[2015-03-20 19:41] seanbrookes opened #1095 "pre-alpha Tracing UX tuning"
the 1:1 UI/UX concurix to Arc module port is essentially complete but there are some UX interactions that could use some attention to call the implementation 'done' for alpha.
These include things like:
- [x]  improving the initial trace selection from the main timeline chart and transaction history charts on the front page
- [ ] add visual indicators to the transaction and waterfall histories to

[2015-03-20 19:45] seanbrookes commented on #1095
this is a mopup(20%) story for #354 (80%)
- not all of the above will necessarily get complete by end of sprint but there is some low hanging fruit
- it is expected that after a more formal UX review changes will be requested so this should be considered realitvely cosmetic work

[2015-03-20 19:46] chandadharap commented on #1095
Wouldn't that be for beta? Alpha is your first 80% , we'd not release this
at alpha.

But we can add new stories to progress towards a beta. A beta can be
released.

Would you agree?
- chanda

On Friday, March 20, 2015, Sean Brookes <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>**

[2015-03-20 19:48] seanbrookes commented on #1095
see scrum node-ops #354 for reference:

[2015-03-20 19:56] seanbrookes commented on #1095
We can call it anything but I won't be comfortable calling it 'alpha' until it is working end-to=end:
- functional UI (see #354)
- the renamed repo's are integrated
- the new pm api's are integtrated
- the reworked host/app selector flow is integrated (see previous dependency)

This story is icing on top of #354 to close out this sprint

[2015-03-20 19:57] chandadharap commented on #1095
okay, sounds good.-c

On Fri, Mar 20, 2015 at 12:56 PM, Sean Brookes <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node

[2015-03-20 21:05] jtary opened #1096 "Issues with UX using slc-run and arc"
Background:

The newly added ‘slc start’ command mirrors many of the functions of the current local-pm used by Arc when running applications. This can create UX issues when the two are used together on the same machine.

Some specific issues:
If the application is already running using ‘slc start’, attempting to run the application from Arc will fail due to the application port already being in us

[2015-03-20 22:55] akampfer commented on #900
hi there to all, it seems we are having the same issue. we just saw the models fine yesterday. we added a new model via loopback and added some relations... now alc is not showing any models in the dropdown. any help is really appreciated.

[2015-03-20 23:43] chandadharap opened #1098 "Spike: To detect local pm (via slc start)"
Is it possible to detect that slc start was used to start a local pm in the current project?

If is absolutely small effort, check in with  the group and implement. If its not, then identify what are the missing pieces and create stories to break it down further.

Front-end use case:
If Arc detects that a local PM is running (via ‘slc start’) it will automatically add this to the list of local PMs

[2015-03-23 01:59] #1068 closed

[2015-03-23 02:00] altsang commented on #1050
left it running in background tab for 1 hr, came back to it and the page was frozen, and then finally got the error...

[2015-03-23 16:23] akampfer commented on #900
hi there, apparently we still had some unused models in our models folder not included in the model-config.json. Once the obsolete models have been removed everything worked perfectly and the models showed up in the dropdown (slc arc)

[2015-03-23 20:16] chandadharap commented on #1025
@altsang Link to UX/VD here?

[2015-03-23 20:53] altsang commented on #1025
haven't covered yet, going to discuss at 3 PM today (3/23) as one of the items

[2015-03-24 16:02] #1069 closed

[2015-03-24 16:05] chandadharap commented on #1076
Chandrika: wait for it to get on master,

[2015-03-24 17:40] seanbrookes commented on #1095
I'm putting together some high level wireframe proposals to feed to the UX designer to wrap up the UX/design for target release
- wireframes are based on initial port of concurix UI to Arc

[2015-03-25 20:47] anthonyettinger opened #1103 "create an svg icon directive"
We should be moving away from font icons and pngs and instead use SVG rendered in the DOM.

We can create a directive that loads an SVG icon from a template that has all available svg icons.

This allows us to style the svg paths and circles with CSS giving us much more flexibility and is less overhead as there is only 1 http request for the entire icon set.

`<icon name="circle-checkmark-on"></ic

[2015-03-25 23:21] anthonyettinger commented on #1080
@rmg, @raymond @altsang -- i need some example api calls for this.

I was under the impression that start/restart automatically pushed a new license. But I may be wrong.

[2015-03-26 00:15] sgentile opened #1104 "Arc Javascript Error - Process Manager not loading"
I'm unable to use the Arc tool for the Process Manager

the error:
$scope.mesh = require('strong-mesh-client')('http://' + $location.host() + ':' + $location.port() + '/manager');

console:
ReferenceError: require is not defined
    at new <anonymous> (http://localhost:55745/scripts/modules/manager/manager.controllers.js:9:19)
    at invoke (http://localhost:55745/scripts/vendor/angular/angular.js

[2015-03-26 01:54] sgentile commented on #1104
problem was with my permissions -

[2015-03-26 01:54] #1104 closed

[2015-03-26 03:38] altsang opened #1105 "Licensing: need UX and VD to show license keys"
As a StrongLoop user, I need the capability to show the actual opaque string so that I can set it manually as an environment variable, should I choose NOT to use strong-pm and Arc to transfer licenses nor copy the license keystor to my prod environments.

This is a secondary interaction, meaning that we should not have the license key string shown as a column the licenses table. It should be displ

[2015-03-26 17:18] #1096 closed

[2015-03-26 17:38] altsang opened #1106 "Licensing: change trial dates from 14-days to 30 days"
As a SL sales person, we can't keep with the inbound and would want to have product trial cycles to be  day30 days so that there is bandwidth to keep up with.

- current product trial is 14 day in the policy in the auth service
- change 14 day to 30 day for all produccts

/cc: @ijroth

[2015-03-26 20:43] altsang opened #1107 "Process Manager: delete icon needs to be more prominent"
As a SL Arc user using Process Manager, it's not intuitive how I can delete a row, I would want a more intuitive UX to have the control available to delete a row but not clutter the UI.

- current hover behavior shows "x", suggest turning into "(x)" with the circle upon hover, not just highlighted row

- [ ] UX and VD needs to be updated
- [ ] change needs to be implemented to Process Manager row

[2015-03-26 21:08] altsang commented on #1071
not there are two things to be don here - SFDC enablement in Segment.io but then also the attributes for eventing to ALL segment.io integrations - SFDC, Intercom.io, Mixpanel

[2015-03-26 21:33] altsang commented on #1058
related- #1107 - delete icon needs to be consistent for table rows in Composer and Process Manager

[2015-03-27 05:07] seanbrookes opened #1108 "Composer bug: plural display for model name is incorrect"
when you create a new model it should automatically display the plural of the model name but it shows the model name without being pluralized.

[2015-03-27 05:09] seanbrookes opened #1109 "App Controller doesn't reflect 'stoped' state"
if I start my app via the Arc App Controller and then stop it the UI doesn't update so it appears as though the app is still running.

[2015-03-27 14:23] drmikecrowe opened #1110 "New install: EACCES error trying to write generated-instructions.json (to /usr/lib)"
When running "slc arc" in a new project, I keep getting the error message below.

Installed using the standard install instructions: http://docs.strongloop.com/display/SL/Installing+StrongLoop

[code]

[2015-03-27 22:52] altsang commented on #1025
wireframes are in this folder - http://bit.ly/1I0usy5

[2015-03-29 08:04] altsang commented on #1054
@jtary and @anthonyettinger - would like to review before we close these - please confirm this is in master?

[2015-03-29 08:05] altsang commented on #1085
@jtary - would like to review before we close these - please confirm this is in master?

[2015-03-29 08:06] altsang commented on #1079
we're going with option #2

[2015-03-29 08:14] altsang commented on #1054
@stacy-hunt does the VD for composer need to be updated?  looks like the tabs are highlighted blue text only instead of the entire tab per the styleguide

[2015-03-29 08:20] altsang commented on #1085
![image](https://cloud.githubusercontent.com/assets/2261105/6884627/5bde7b5a-d5b1-11e4-924a-b5f350001a5e.png)

![image](https://cloud.githubusercontent.com/assets/2261105/6884680/bc82f4b8-d5b1-11e4-9bc6-c4cd47256ec3.png)

@stacy-hunt @anthonyettinger add new table row - is this a button now? pls confirm I see the same thing on Process Manager which is consistent which is good, but the style has ch

[2015-03-29 08:26] altsang commented on #1085
@jtary pls see below

- [ ] PID selector component (on Metrics and Profiler) text labels are not aligned the same as Composer, they are still flush left aligned with the textboxes underneath instead of just slightly indented, vertical alignment is good now
- [ ] radio buttons within Properties table in Composer should be center aligned in the cell, table header labels are good now

[2015-03-29 08:36] altsang commented on #1079
@stacy-hunt @anthonyettinger - please consolidate, I'm totally confused...

![image](https://cloud.githubusercontent.com/assets/2261105/6884704/25f4171e-d5b3-11e4-8ad4-694010574f99.png)

Process Manager (?) is solid red fill with white ?

![image](https://cloud.githubusercontent.com/assets/2261105/6884712/66fd480c-d5b3-11e4-9806-c0312e9f7eae.png)

LIcenses shows (?) solid black fill with white ?

[2015-03-29 08:37] #1064 closed

[2015-03-29 08:40] altsang commented on #1076
@anthonyettinger - I can do `slc arc --licenses`, but is the fix in master so that after logging in it redirects to /licenses?

[2015-03-29 08:49] altsang opened #1112 "slc ctl: set-size return output"
slc ctl stop/restart/start all return some kind of acknowldegment of the operation, it would be great if set-size did the same thing when running `slc ctl set-size`

[2015-03-29 18:55] stacy-hunt commented on #1054
Hmm, thanks I wasn't aware of that. I'll look into it.

S

On 29 March 2015 at 01:14, Al Tsang <notifications@github.com> wrote:

[2015-03-29 18:59] stacy-hunt commented on #1107
I really like the way this is presented as a description of the problem
followed by a suggestion. That format really facilitates the design
process, thanks.

On 26 March 2015 at 13:43, Al Tsang <notifications@github.com> wrote:

[2015-03-29 20:20] stacy-hunt opened #1113 "Environment Variables Visual Comp"
Visual comp for the Environment Variables manager

[2015-03-29 20:23] stacy-hunt commented on #1113
Comp is at https://drive.google.com/folderview?id=0B1FTzkB7697GRkJUVTg2UGc2WTQ&usp=sharing
Frames 21 & 22 illustrate the environment variables.

[2015-03-29 20:49] stacy-hunt commented on #1054
Al, I might need a bit of clarification on this. Here's what the VD for
composer looks like:

[image: Inline images 1]

and here's what the styleguide (Visual, not live) looks like:

[image: Inline images 2]
It looks like the Close Icon (x) is visible on mouseout in the styleguide
and not in the composer comp, but I can't see what you mean about the
highlighted blue text.

I can see a couple of tw

[2015-03-29 21:12] stacy-hunt opened #1114 "License Viewer Design Review"

[2015-03-29 21:19] stacy-hunt commented on #1079
The ones in the Licensing comp should be red, which is a special style for errors. I'll fix that comp. We can possibly consolidate the hollow grey and black ones, I don't think there's a case for both. I'll look through some of our historical designs and decide which is more general purpose. Al, do you want me to involve you in that decision, or just work with Anthony on it?

[2015-03-29 21:25] stacy-hunt commented on #1079
OK,  License Viewer comp is updated:
https://drive.google.com/folderview?id=0B1FTzkB7697GVEMtUll2LTdCZ0U&usp=sharing

[2015-03-29 21:29] altsang commented on #1079
I don't need to be involved, please work out with the team thx Stacy

[2015-03-29 21:54] stacy-hunt commented on #1079
OK will do.

[2015-03-30 18:10] anthonyettinger commented on #1079
@stacy-hunt the hollow icons are not possible with font icons. That's why its black. I can make it red so its consistent.

[2015-03-30 19:27] rmg commented on #1080
@anthonyettinger I'm not sure how you are accessing the API, but it is a remote method on Service instances called `setEnv`, so via HTTP by POST to `/api/Services/1/setEnv/STRONGLOOP_LICENSE` with a string or via JS api using something like `svcInstance.setEnv('STRONGLOOP_LICENSE', licenses.join(':'), ...);`

[2015-03-30 21:16] anthonyettinger commented on #1080
@rmg thanks. i'll take a look.

[2015-03-30 21:17] stacy-hunt commented on #1079
Nah, the red ones are only for when there's an error. I looked through the
designs and concluded that the hollow grey ones are best for the general
case because normally it is a secondary feature and I don't want it to have
too much weight. Do we have to use a font icon for it?

On 30 March 2015 at 11:10, Anthony Ettinger <notifications@github.com>
wrote:

[2015-03-30 21:33] altsang opened #1117 "slc start: include log output by default for fixed N of lines for now to confirm app is running"
As a dev user using StrongLoop PM, it would be great if there was some kind of output to know that my app is really running.  Right now you have to type `slc start` and then `slc log-output`.

Can `slc start` include the output that you would've done with `slc log-output`?

Longer term solution would be to really know that the app is really running

[2015-03-30 22:27] crandmck commented on #1117
Without this, then essentially everywhere in the docs where we had 'slc run' that going to replace it with `slc start` (everywhere in the Node Ops docs at least), then we also have to say to do `slc ctl log-dump` to make sure the app is actually running and see errors, etc.

[2015-03-30 22:44] jtary opened #1118 "styleguide: change add-item button style"
Change style of "Add Item" link on the bottom of tables to use the defined small-button style, rather than the link-style button currently in use.

[2015-03-30 22:45] altsang commented on #1117
the generators'  output also need to be changed too for example `slc
loopback`

On Mon, Mar 30, 2015 at 3:27 PM, Rand McKinney <notifications@github.com>
wrote:

--
Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://str

[2015-03-30 22:49] anthonyettinger opened #1119 "styleguide add error state and update default color for help icons"

[2015-03-30 22:51] jtary commented on #1118
Justification:

The add item button, when styled as a link, does not immediately present to the user as an action. The increases the cognitive load on the user when operating the page, requiring them to infer that the text is actually a button. We already have a well defined button style, which can be retrofitted quite easily, and solves this issue:

ref: http://uxmovement.com/buttons/when-to-use-

[2015-03-31 05:19] chandadharap commented on #1117
@altsang Is this an Arc issue or were you opening this on strong-pm/nodeops? The reason I ask is, there may be an issue with getting log output if the app did not start correctly in the first place. I think @sam-github had some ideas for future.

[2015-03-31 06:10] altsang commented on #1117
That's the whole point, if the app didn't come up I'm hoping that what is being spit out to the console is what would be made available by doing log-dump, like the infamous EADDRINUSE error. From what I can tell it is.  I've talked to @sam-github  about this already. This has nothing to do with Arc.

Even better is if we can detect that the app isn't running in the first place too.

[2015-03-31 06:25] cgole commented on #977
verified

[2015-03-31 13:38] chandadharap commented on #1117
The issue is under "strong-arc"
Hence the question. I might mirror an issue for detecting app start in the
NodeOps backlog.

-Chanda

On Monday, March 30, 2015, Al Tsang <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-a

[2015-03-31 15:45] altsang commented on #1117
ahhh - my bad, I created in the wrong repo thinking that the default in node-ops was the scrum-nodeops repo

@crandmck - I don't think we can mass replace `slc run` with `slc start`.  My opinion is that you only would want to do `slc start` when you are specifically testing under a process manager for things like scale and to get assurance that all is good before deploying to production.  For ever

[2015-03-31 16:12] #977 closed

[2015-03-31 16:50] sam-github commented on #1117
You only need to use `slc start` for your app if you want it to be controllable (using `slc ctl` or `slc arc`). Otherwise, `node .` works better.

[2015-03-31 16:55] sam-github commented on #1117
@altsang the log dumping behaviour, pls move to scrum-nodeops, where we can discuss for how long slc start should tail the log.

[2015-03-31 17:01] chandadharap commented on #1117
@sam-github @altsang Created here: https://github.com/strongloop-internal/scrum-nodeops/issues/403

Closing this.

[2015-03-31 17:01] #1117 closed

[2015-03-31 21:38] seanbrookes commented on #1109
LoopBack app created via slc loopback 'appname'

[2015-03-31 21:40] cgole commented on #939
not a bug

[2015-03-31 21:44] #526 closed

[2015-03-31 21:46] cgole commented on #692
wont fix.

[2015-03-31 21:46] #692 closed

[2015-03-31 21:48] cgole commented on #1043
@cgole to repro. If reproducible move to top of backlog.

[2015-03-31 21:51] cgole commented on #1042
should fix

[2015-03-31 22:49] altsang opened #1122 "composer: section collapse and expand buttons missing"
The comp for Composer...

[2015-03-31 22:56] altsang commented on #1118
agreed on increasing the cognitive load, but I think that's an acceptable tradeoff to making the UI heavy especially for non-persisted actions like bringing up modal windows or adding a table row

we have the logout, help and app controller buttons that could be interpreted as images instead of button as well, but we've forgone the classic button encapsulation there as well

+Add Row - there a bit

[2015-04-01 00:13] altsang commented on #1080
@raymondfeng I think you're back end is already intercepting these.  Should Anthony's front end simply call the restart API and you'll do the `setEnv` call on the Arc backend?

[2015-04-01 02:10] stacy-hunt commented on #1119
![image](https://cloud.githubusercontent.com/assets/1924932/6933243/18b99f08-d881-11e4-863b-14c6ba921f85.png)

Help icons currently use fontIcons, and have to be solid colour. Eventually We'll replace them with SVG graphics, at which time I'd like to move back to the outlined ones which are more lightweight.

[2015-04-01 04:11] stacy-hunt opened #1123 "Add Borderless Button to Styleguide"
![image](https://cloud.githubusercontent.com/assets/1924932/6934535/dfce08e8-d892-11e4-9337-7d6b70c88778.png)

[2015-04-01 04:32] stacy-hunt opened #1124 "Update Heading styles in Styleguide"

[2015-04-01 09:16] stacy-hunt commented on #1021
I made a call on this and changed it to darker green on hover, blue on mouse down. Since this link is actually a button, it seems like it should be consistent with the other buttons. I've created a card and posted a design in it for submission to the styleguide.

[2015-04-01 09:16] #1021 closed

[2015-04-01 09:17] #1113 closed

[2015-04-01 09:18] stacy-hunt commented on #1124
Following discussion about nailing down the heading styles in the styleguide (the current ones are jsut placeholders), here's my suggestion.

[2015-04-01 15:44] seanbrookes commented on #1124
36 pt seems pretty big to me

[2015-04-01 16:08] sam-github commented on #1050
@cgole why did you move this into #tbr ?

[2015-04-01 16:53] cgole commented on #1050
I have NO idea how and when I did this!

[2015-04-01 17:11] seanbrookes commented on #1122
me culpa: I remembered last night why I disabled the collapse on these sections (around the beginning of the year)

- I was doing a lot of work around the model properties and data type validation and found the 'expand/colapse' interaction model was really annoying in conjunction with our 'blur to save' model.

- every time a user wants to persist the property values they need to click outside the

[2015-04-01 17:13] seanbrookes opened #1125 "Arc local build doesn't always populate deploy input"
there is no clear way to find the build artifact if it fails to populate the input on the deploy view.

- this could be a result of a silent build failure as I was experiencing a lot of trouble while testing this feature

[2015-04-01 17:37] altsang commented on #1122
hilarious :smile: , "it was pissing me off so I just nuked it with comments"  classic!  well, at least it'll be trivial to put back in

[2015-04-01 19:39] stacy-hunt commented on #1124
Yeah I agree. I've updated the image.

[2015-04-01 21:09] jtary commented on #1085
@altsang fixed up the issues with the alignment on the checkboxes and labels on the PID selector.

[2015-04-01 23:08] cgole opened #1129 "arc process manager status shows incorrect status"
Connect to strongloop/strong-arc#1199

Always shows as "Problem" even when app is deployed and running.

![screen shot 2015-04-01 at 4 04 18 pm](https://cloud.githubusercontent.com/assets/991632/6954686/51b7bb0c-d889-11e4-80d9-03829fd0f4ae.png)

[2015-04-02 01:14] stacy-hunt opened #1132 "Review of arc headings"
Create a document to summarise all the heading styles in Arc and standardise them.

[2015-04-02 01:16] #1004 closed

[2015-04-02 01:16] #1013 closed

[2015-04-02 01:36] stacy-hunt opened #1133 "Update dropdown list in styleguide"
The list in the styleguide currently is a placeholder as there was no visual comp previously. Visual comp is now available:

![image](https://cloud.githubusercontent.com/assets/1924932/6956130/b41391f6-d945-11e4-95ff-2268635a5116.png)

[2015-04-02 01:48] stacy-hunt commented on #1119
I think that the help icons currently in the style guide look a little small. They seem to be about 16pt wide, but I'd try bumping them up to 20. Also, check the font for the error label against this comp, it seems a little small and the value of the red might not be quite right:

![image](https://cloud.githubusercontent.com/assets/1924932/6956233/4d4518c6-d947-11e4-9af0-2b5ab5ba09b3.png)

[2015-04-02 16:08] #1118 closed

[2015-04-02 16:09] #1123 closed

[2015-04-02 16:10] seanbrookes commented on #1095
UX is functional now with the following gaps:
- the interactions are still clunky when clicking between views so will be adding some light animations to smooth things out
- some header/breadcrumb display should be added to give the user better context around what they are seeing
- hover/highlight effect on waterfall detail view seems to have been lost and needs to be fixed
- implement initial visu

[2015-04-02 16:52] altsang opened #1134 "Licensing: implement changes to view license key as secondary action"
As a SL customer who is not using strong-pm, I would want a way to be able to retrieve my key from Arc and set an environment variable by cutting and pasting (OR by copying the licensing file) to my commercial modules being run in production so that I can maintain them running.

- [ ] UX and VD will be updated from here - http://bit.ly/19MjjFL
- [ ] implementation of changes #1105

/cc: stacy-hunt

[2015-04-02 16:56] altsang opened #1135 "Licensing: add UX for viewing license keys as a secondary action"
UX and VD comps to be updated - http://bit.ly/19MjjFL

[2015-04-02 17:00] altsang opened #1136 "Composite Model: timeboxed spike"
As a LB user performing integration by utilizing models to serve  multiple views, I need some way of mashing up models so that I can build composites that are tied toward specific views.

-  gateway like functionality
-  generally needed to be able to meet client needs for microservices

[2015-04-02 17:01] altsang commented on #1135
whoops - dupe of #1105 , closing this

[2015-04-02 17:03] #1135 closed

[2015-04-02 17:30] cgole commented on #1129
closing this. something I did earlier was wrong. It seems to be working now

[2015-04-02 17:46] seanbrookes opened #1137 "consider enhancing Arc branding"
Some suggestions for how we might improve Arc branding.

Currently the 'logo' is simply StrongLoop which seems kind of odd.  Plus it is a bit 'in your face' about who's product you're using.

I suggest we consider changing it to a more focused 'Arc' logo/brand to focus and help reienforce the product context.

I'm suggesting  a couple of key changes
# the Arc logo
- currently the only psuedo logo

[2015-04-02 18:13] altsang commented on #558
note: this has been brought up externally by another prospect, this affects all discovery - please see these notes: https://docs.google.com/a/strongloop.com/document/d/1-SdZPqJbh-0mDVEhJeHpki-IW9AfkIQ9HrpkP-SkSJ4/edit

note: UX issues from feedback in the doc will be handled separately

[2015-04-02 18:15] cgole opened #1138 "App controller doesnt work."
App controller start is broken because of this. https://github.com/strongloop/strong-arc/blob/master/build-deploy/common/models/deployment.js#L14

[2015-04-02 18:20] altsang opened #1139 "Watchdog: finalize UX and VD watchdog in Profiler"
As a SL devops user of Arc using profiler, I would like to be able to define and create watchdogs on PIDS to auto-profile based on threshold.

last time this feature was visited...
VD: https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GVlh2Mnd0bEdDczQ/0B1FTzkB7697GOGU4UFQxRDFWZUk

U

[2015-04-02 18:22] altsang opened #1140 "Watchdog: implement UX and VD into Profiler front end"
see #1139 for UX and VD

[2015-04-02 18:23] altsang opened #1141 "Watchdog: make sure strong-pm API has watchdog capabilities exposed"
see #1139 for front end implementation

[2015-04-02 19:01] chandadharap commented on #1095
Can we make Initial VD a separate story?

On Thursday, April 2, 2015, Sean Brookes <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://stron

[2015-04-02 19:31] seanbrookes commented on #1095
yes, that's what I was thinking as well

[2015-04-02 20:14] cgole commented on #938
metrics not loading for me at all on staging -

$ slc --version
strongloop v3.0.10 (node v0.10.38)
├── strong-arc@1.1.104 (8e3582a)
├── strong-build@1.0.7 (2e6d0b3)
├── strong-deploy@1.1.29 (771309d)
├── strong-pm@3.1.37 (e6bb4a2)
├── strong-registry@1.1.6 (6283ba9)
├── strong-start@1.0.14 (a90857d)
├─┬ strong-supervisor@1.4.53 (2c388d9)
│ └── strong-agent@1.3.19
├── generator-loopback@1.9.1 (b90e

[2015-04-02 20:14] chandadharap opened #1142 "UX: Ability to define CPU thresholds on Arc"
As a SL devops user of Arc using profiler, I would like to be able to define and create CPU thresholds on PIDS  which will automatically trigger a CPU profile.

UX: https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GVlh2Mnd0bEdDczQ/0B1FTzkB7697GTl9nVUZkYkd1anM

[2015-04-02 20:16] seanbrookes commented on #1095
the three checkboxes in the description should all be separate stories as well

[2015-04-02 20:16] chandadharap opened #1143 "VD: Ability to trigger CPU profiling based on defined threshold"
Visual Design For the following use case:
As a SL devops user of Arc using profiler, I would like to be able to define and create CPU thresholds on PIDS which will automatically trigger a CPU profile.

last time this feature was visited...
VD: https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0

[2015-04-02 20:17] seanbrookes commented on #1095
the second 2 at least
- add visual indicators to the transaction and waterfall histories to indicate relative time of exection for more relevant visual scanning
- add placeholder icons for landing page badge and inter-waterfall navigation on the waterfall detail view

[2015-04-02 20:17] chandadharap opened #1144 "Add targeted-dialog component to styleguide"
Integrate UX and finalized VD

[2015-04-02 20:18] cgole commented on #1138
changing cluster size to 1 doesnt resolve the issue. Something seems to crash pm. The app starts and then changes status back to stop.

Steps to repro -

create simple loopback app
start arc
click on app controller to start app
Expected - App should start
Actual - App tries to start and then fails.

output from console in Debug mode  - https://gist.github.com/cgole/a18848d2d3ab28ce76c7

[2015-04-02 20:23] chandadharap opened #1145 "Ability to "smart" CPU profiling based on defined threshold and cycle count"
Ability to auto-trigger Profiling based on defined CPU threshold.
- [ ] This will require integration with existing pm models api.

[2015-04-02 20:29] chandadharap opened #1146 "Doc updates for Smart Profiling"
This is watchdog (aka "Threshold based profiling", "Triggered profiing") being added to Arc.

[2015-04-02 20:29] chandadharap opened #1147 "Dev blog on Threshold based profiling"
Perhaps you can use the profiler demo app as an example.

[2015-04-02 20:40] stacy-hunt commented on #1139
I assume this will come up for discussion in today's standup meeting right? I know what the feature is, just not sure what the design requirements are at this stage.

[2015-04-02 20:47] cgole commented on #1129
This is an issue with slc on staging -

$ slc --version
strongloop v3.0.10 (node v0.10.38)
├── strong-arc@1.1.104 (8e3582a)
├── strong-build@1.0.7 (2e6d0b3)
├── strong-deploy@1.1.29 (771309d)
├── strong-pm@3.1.37 (e6bb4a2)
├── strong-registry@1.1.6 (6283ba9)
├── strong-start@1.0.14 (a90857d)
├─┬ strong-supervisor@1.4.53 (2c388d9)
│ └── strong-agent@1.3.19
├── generator-loopback@1.9.1 (b90e9cd)
├──

[2015-04-02 21:06] cgole opened #1148 "Metrics charts dont load at all"
![screen shot 2015-04-02 at 1 45 55 pm](https://cloud.githubusercontent.com/assets/991632/6973326/db9a5c48-d93e-11e4-90c0-c58abd7564a2.png)

I can  get metrics to report to statsd so license is valid and working

[2015-04-02 21:23] chandadharap commented on #1144
As a SL devops user of Arc using profiler, I would like to be able to define and create CPU thresholds on PIDS which will automatically trigger a CPU profile.

UX: https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GVlh2Mnd0bEdDczQ/0B1FTzkB7697GTl9nVUZkYkd1anM

[2015-04-02 21:36] chandadharap opened #1149 "Integrate Traces module with Entitlement workflow in Arc"
- [ ] First time Traces user might land on Traces and see no data. Does this need appropriate messaging?
- [x] Need traces license for auth.sl to be published by Raymond

[2015-04-02 21:42] chandadharap opened #1150 "Implement finalized VD into Traces"
Link to Specs needed here.

[2015-04-02 21:43] chandadharap opened #1151 "Sync Tracing V1 with live styleguide"

[2015-04-02 21:46] chandadharap opened #1152 "Create landing page icon-badge for the Traces module in Arc"

[2015-04-02 21:49] chandadharap opened #1153 "Implementation of Context based help for Traces."
https://drive.google.com/drive/folders/0B7cRRPpbtkFKflBybVZfOXEtSUpPTG44d2J1WW1MMmVDejlWSG44Rmhwc0R5REhkR25tMTA/0B7cRRPpbtkFKfmU5LXY1Q2o4NHowUUlzOTQzTTNMZnBibjVrYXpWUFlIVmxNdEUxZ21WbE0

[2015-04-02 21:58] cgole opened #1154 "entitlement bug - license publish through arc process manager not working"
Looks like arc is sending the license keys and pm is receiving it, but the environment variable STRONGLOOP_LICENSE is not getting set

console  log from arc -
 https://gist.github.com/cgole/85bdcef55c372a6b58c6

[2015-04-02 22:42] jtary commented on #1148
@cgole what is the host you're connecting to? It seems to work fine for me when I connect to my local PM.

[2015-04-02 22:58] cgole commented on #1148
@jtary app controller is broken for me because of #1138. My app is deployed to a remote pm (ec2 vm)

[2015-04-02 23:15] altsang commented on #1139
yeah we can cover in the next meeting, it's been a while since the last
time we visited this

On Thu, Apr 2, 2015 at 1:40 PM, stacy-hunt <notifications@github.com> wrote:

--
Al Tsang
Co-Founder and CTO @ StrongLoop, Inc.

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<

[2015-04-02 23:32] altsang commented on #1085
:+1: woohoo!  nice work @jtary thx

[2015-04-02 23:36] #1085 closed

[2015-04-02 23:37] chandadharap commented on #1141
tackled in another story as part of UX development.

[2015-04-02 23:37] #1141 closed

[2015-04-02 23:40] altsang commented on #1054
hey @stacy-hunt no this was my bad - I thought the tab itself was highlighted blue - only the entry is highlighted in the nav bar, closing this out, good to go

verified on master

[2015-04-02 23:40] #1054 closed

[2015-04-03 15:08] kraman commented on #1154
Took a look at the instance you were using and looks like the env is being passed down correctly.

[2015-04-03 17:00] altsang commented on #1080
@anthonyettinger - assigning back to you per our conversation with @ritch and @raymondfeng on where the array of  host.action is coming from

[2015-04-03 17:01] altsang commented on #1079
@stacy-hunt, @anthonyettinger - are we squared away here?

[2015-04-03 17:02] altsang commented on #1023
@stacy-hunt do you have the updated comp for Metrics where you move the chart controls onto the chart itself getting rid of the nav bar?

[2015-04-03 17:15] altsang commented on #1076
looks like there's a bug

steps to reproduce:
* run Arc, make sure you logout explicitly
* re-run from command line using `slc arc --licenses`
* prompted to login - but notice URL does not have `?ref=licenses`
* re-login but goes to landing page

[2015-04-03 19:09] cgole commented on #1154
@kraman, but agent still doesnt seem to pick it up.
I still see "strong-agent agent metrics license not found, local reporting disabled."

[2015-04-03 19:16] anthonyettinger commented on #1079
yeah, afaik. @stacy-hunt ?

[2015-04-03 19:47] cgole commented on #1091
Features -

New user -

   * Default subscriptions
   * Add subscriptions
   * Change subscription
   * Expired subscription
   * Cancel subscription
   * Automatic subscription update
   * Renew subscription

Existing user -

   * Default subscriptions
   * Add subscription -
   * Change subscription
   * Expired subscription
   * Cancel subscription
   * Automatic subscription update
   * Renew

[2015-04-03 19:51] cgole opened #1155 "Entitlement - delete studio from list of products"

[2015-04-03 19:56] cgole commented on #1091
@raymondfeng, @rmg, let me know if I am missing any test cases.

[2015-04-03 22:44] anthonyettinger commented on #1080
working on a fix for --licenses bug

[2015-04-03 23:53] chandadharap commented on #1095
Lets wait on creating additional tuning stories until we have a review of a landed feature on master.

[2015-04-04 02:05] stacy-hunt commented on #1023
Yep, at this link
<https://drive.google.com/open?id=0B1FTzkB7697GRFhMSkd1dGhuNm8&authuser=0>

On 4 April 2015 at 06:02, Al Tsang <notifications@github.com> wrote:

[2015-04-04 02:12] #1023 closed

[2015-04-04 02:12] #1105 closed

[2015-04-04 02:31] stacy-hunt commented on #1079
I thought I already posted this, so if you find it in another card close it. I searched but can't find it.

![image](https://cloud.githubusercontent.com/assets/1924932/6991143/affd122c-dadf-11e4-96f1-a5b20d94ecf6.png)

[2015-04-04 06:36] altsang opened #1156 "Metrics: UX tune up, remove nav bar, and move controls to chart"
As a SL Arc user using Metrics, the nav bar and the titles are now separated and not intuitive, I would like to see a better way of correlating the two.

enhanced UX and VD: https://drive.google.com/open?id=0B1FTzkB7697GRFhMSkd1dGhuNm8&authuser=0

[2015-04-04 21:12] altsang commented on #1150
VD: http://bit.ly/19SOUp7

[2015-04-04 21:16] altsang commented on #1090
based on last discussion with @kraman - storing this will purely be cached, @kraman will aggregate at 5min, 1 hr, and 1 day, we will dump the raw metric data for Level 3 if the memory consumption because too high

[2015-04-04 21:32] altsang commented on #1079
looks good @stacy-hunt - I can seem to find the card for above can you pls create another?

@anthonyettinger - see #1135 for license key viewing UX and VD per our discussion last week

[2015-04-04 23:09] chandadharap commented on #1156
This was not discussed during +1, I'll prefer to move it to next SPrint.

[2015-04-05 00:23] chandadharap commented on #1150
@altsang  Just to be clear, this is for the first release Im assuming.

[2015-04-05 01:23] altsang commented on #1150
correct - first iteration/release, VD only, no UX applied, don't need to spend cycles on this until we have a strategy for how API usage, Metrics and Tracing should be trued up

[2015-04-06 17:48] rmg commented on #1154
strong-agent's licensing code was written before we added multiple license support. To be added in strongloop/strongops#258

[2015-04-06 17:51] rmg commented on #1091
Looks reasonably complete to me.

[2015-04-06 18:00] jtary commented on #1025
@altsang this is merged into master now, can you verify the functional UX?

[2015-04-06 18:04] rmg commented on #1154
Fix has been merged. @cgole you should be able to verify from staging shortly.

[2015-04-06 18:36] altsang commented on #1025
UX functionality looks good, assigning to @cgole for testing

[2015-04-06 18:57] altsang opened #1157 "Process Manager: VD review"

[2015-04-06 18:58] altsang commented on #1157
@stacy-hunt the env get/set has been implemented, I think there's some alignment issues, but you should review

[2015-04-06 19:07] anthonyettinger opened #1158 "add key licenses popup to licenses page"
https://drive.google.com/drive/u/0/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GRE5DekszVUl6YjA/0B1FTzkB7697GVEMtUll2LTdCZ0U

[2015-04-06 19:13] anthonyettinger commented on #1079
The error icon/size will be addressed in #1119

[2015-04-06 21:52] anthonyettinger commented on #1158
dup of #1134

[2015-04-06 21:52] #1158 closed

[2015-04-06 21:53] stacy-hunt opened #1160 "Add Section to Styleguide"

[2015-04-06 22:16] altsang commented on #1157
VD: https://drive.google.com/drive/folders/0B1FTzkB7697GYm9HdVNxOFIzVzg/0B1FTzkB7697GUTBfbWpOak5HcGc/0B1FTzkB7697GOFhvSGgzb2Rickk/0B1FTzkB7697GZ3duVXdRVWFmVkE/0B1FTzkB7697GWk9pYnNpQ05kcVk/0B1FTzkB7697GQmxJZ0xoOW9qZUk/0B1FTzkB7697GRkJUVTg2UGc2WTQ slides,  21, 22

[2015-04-07 01:24] stacy-hunt commented on #1157
[x] The header and footer should not scroll, only the table should scroll
The dialog can grow larger than the screen if many variables are added. I think we should consider putting a vertical limit on its size, at which time the scroll bar should appear. Or make the dialog a fixed size.
Too much padding between the table and scrollbar (compare it to the VD)
Cancel and Save buttons should right ali

[2015-04-07 02:35] jtary commented on #1098
Preliminary investigation shows this should be possible using existing API. All the required information is available via ./strong-pm/pmctl (current used for slc ctl status).

For implementation we'll need to modify our UX slightly to accommodate the various other factors surrounding using a full-pm, and to avoid conflicts and user-confusion with the build app-runner.

I'll create new stories for

[2015-04-07 02:38] jtary opened #1161 "Arc-Start: UX changes"
Changes to the Arc UX to better accommodate using the full strong-pm process available via slc-start.

[2015-04-07 02:38] jtary opened #1162 "Arc-Start: Implementation"
Makes the required changes to integrate Arc with the strong-mesh API to pmctl, and make the required UX changes to properly expose the functions to the user.

[2015-04-07 02:40] jtary opened #1163 "UX: Number spinner"

[2015-04-07 02:41] jtary commented on #1098
#1161 - Story for UX Changes
#1162 - Story for implementation

[2015-04-07 05:50] Setogit commented on #1090
1 day aggregation is tricky because it depends on timezone.  Customers in Europe wouldn't appreciate if we aggregate their data based on US Pacific Time.  What's about daylight saving time?  Concurix implemented world-wide timezone/daylight saving time-based aggregation in their Cassandra implementation.  We need to coordinate with the APM Central project.

[2015-04-07 06:11] altsang commented on #1090
This has been cancelled.  The aggregation will happen on the server, we can discuss thx

[2015-04-07 06:11] #1090 closed

[2015-04-07 14:35] Jondeen opened #1164 "Arc (relational) models gui"
Hi!

I've started poking into a toolset for building relational models/schema with a d3-backed drag/drop. Before I put too much work into it - are there any similar tools available as of yet? I tried the Google without luck.
If not I'd be happy to share once I've put it properly together.

Thnx,
J

[2015-04-07 16:44] seanbrookes opened #1165 "reconcile host/pid selector across Arc"
tracing, metrics, manager, profiler, build and deploy all have a version of pm host/pid selector but not all are consistent.

we should reconcile them for consistency

connected to #1459

[2015-04-07 17:07] altsang opened #1166 "API Usage: UX"
As a SL developer, I need to understand the UX so that I can prototype the interaction with Arc.

[2015-04-07 17:11] altsang opened #1167 "API Usage: VD comps"
As a SL developer, I need a visual comp so that I can align the styleguide components with the implementation for look and feel.

[2015-04-07 17:13] altsang commented on #1166
requirements: https://docs.google.com/a/strongloop.com/document/d/1xTHn-GC29yTiPjtKeM2HK4IaBla8YvoImU9PwUgD5bA/edit

@stacy-hunt to refine UX

[2015-04-07 17:16] altsang commented on #1072
superseded by #1166, #1167, closing

[2015-04-07 17:16] #1072 closed

[2015-04-07 17:23] jtary commented on #1050
@cgole I merged some fixes that should fix this. Can you verify?

[2015-04-07 17:31] seanbrookes commented on #1095
PR #1168

[2015-04-07 17:48] altsang commented on #1149
@anthonyettinger make sure that tracing is part of the path

[2015-04-07 18:36] jtary commented on #1157
The padding on the right of the table is the what is required to accommodate the delete button. This is also why the buttons are not aligned with the right side of the table; they are aligned with the right side of the table, you just can't see the part of the table that has the delete buttons.

I can reduce the padding on the delete buttons cell, which will make the spacing a bit smaller -- but t

[2015-04-07 21:42] altsang commented on #1076
verified on master

[2015-04-07 21:42] #1076 closed

[2015-04-07 21:48] altsang commented on #1119
looks good to me, @stacy-hunt pls verify

[2015-04-07 22:51] stacy-hunt commented on #1157
Hey Joe, we probably need to do a call to discuss this stuff. Al's bumped
API usage to the top of my priority list so how much time do you have left
to tidy these things up before releasing? Can we defer till Mon?

On 8 April 2015 at 06:36, Joseph Tary <notifications@github.com> wrote:

[2015-04-07 23:19] stacy-hunt commented on #1119
It still looks the same to me, I think I must not have the latest though I followed instructions for updating. Troubleshooting with Anthony.

[2015-04-08 00:20] altsang commented on #1142
this is actually already been considered, closing

[2015-04-08 00:22] #1142 closed

[2015-04-08 00:23] #1143 closed

[2015-04-08 00:23] altsang commented on #1139
@stacy-hunt according to NodeOps team you would want to probably default setting watchdog globally rather than by PID unless you were reacting to something in Metrics

[2015-04-08 00:25] altsang commented on #1050
ran for 3 hours as background tab, flipping back and forth only 3 times within the three hours, no crash

[2015-04-08 00:26] #1050 closed

[2015-04-08 00:26] altsang commented on #1079
closing this otherwise, verified on master

[2015-04-08 00:26] #1079 closed

[2015-04-08 02:16] stacy-hunt commented on #1139
OK - but we still want to have the functionality to adjust settings by PID
if the user wants to as well, right?

On 8 April 2015 at 12:24, Al Tsang <notifications@github.com> wrote:

[2015-04-08 02:19] altsang commented on #1139
Yes- definitely

[2015-04-08 04:16] cgole commented on #1154
verified

[2015-04-08 19:10] sam-github commented on #1138
It's supposed to be `-1`!

https://github.com/strongloop/strong-supervisor/pull/83

[2015-04-08 20:10] seanbrookes commented on #1138
was app controller tested after this update?

it works in production and I have been using it locally without any problem up until now but I switched to master and it is not working for me now.

Sam did you look at the output Chandrika linked to to see if it makes any sense to you?
@sam-github

[2015-04-08 20:35] cgole commented on #1138
I tested it after the update.  @seanbrookes  refer to -https://github.com/strongloop/strong-arc/issues/1138#issuecomment-89032951
Like @sam-github  said, the cluster size should be -1 and so that did not fix the issue. App controller is broken.

[2015-04-08 21:35] cgole commented on #1148
cannot repro

[2015-04-08 21:35] #1148 closed

[2015-04-08 23:44] stacy-hunt opened #1171 "Add Dialog component to styleguide"
![image](https://cloud.githubusercontent.com/assets/1924932/7057790/e6e210d6-dead-11e4-88e8-fc02efac8a53.png)

[2015-04-09 01:30] stacy-hunt opened #1172 "Add Dropdown to styleguide"

[2015-04-09 01:32] stacy-hunt commented on #1133
This card has been superceded by

[2015-04-09 01:33] #1133 closed

[2015-04-09 01:34] stacy-hunt commented on #1172
Discussed this design with Anthony, should be able to reuse parts of the Products dropdown in Arc

[2015-04-09 16:06] sam-github commented on #1091
@kraman says that @cgole verified this - closing.

[2015-04-09 16:06] #1091 closed

[2015-04-09 16:06] #1154 closed

[2015-04-09 16:10] sam-github commented on #1095
@chandadharap do you want to verify? This isn't a complete feature, just a bit of the traces epic, I think it should be closed.

[2015-04-09 20:49] chandadharap commented on #1095
Went through this PR. Question: Does strongloop-internal/scrum-nodeops#351 cover everything in this PR that might be open?

In particular some issues I need info on:
1) This commit message says "nearly complete" https://github.com/strongloop/strong-arc/commit/fc890a0129b94afd4c7e2c2530435ad6a6991453
2) What is a demo for "training"? Did we release a branch for sales?  or is it referencing the host

[2015-04-09 21:10] seanbrookes commented on #1095
I just pushed what should be the last commit for this story.

The commit notes you are reading are historical and have been addressed

- https://github.com/strongloop-internal/scrum-nodeops/issues/351 pretty much sums up what's left on the front/middle
- there was another tracing epic assigned to Testsuo I think.  we talked about merging what's left of that one into this epic during scrum this mor

[2015-04-09 21:47] chandadharap commented on #1095
@sean thanks.

And yes typically how i run a feature for delivery is when you complete the feature, it goes through a QA cycle. At thatpoint in parallel I'll work with Issac for a release plan and make stories for doc and blogs, sometimes examples.

Those things are never part of the same story. But part of the Epic. (351 is an Epic in name only) the actual Epic is a Milestone and will get allotte

[2015-04-09 21:52] altsang opened #1173 "Arc: menu item fixes"
As an Arc user, when I select a drop down menu, it should consistent casing and diction so that I understand what the option means without having to look up documentation.

Arc Process Manager:
- [x] change `cluster-restart` to `restart cluster`
- [x] change `license-push` to `push license`
- [x] change `Edit Host Environment` to `edit host environment`

standardizing on verb + noun(s)

Login/Powe

[2015-04-09 22:45] chandadharap opened #1174 "Load/Performance testing of Traces - front-end, middle, agent"

[2015-04-09 22:46] chandadharap opened #1175 "Load/Performance testing of Traces in Arc - front-end, middle, agent"
Depends on completion of  #1150. And related to but not dependent on completion of Performance  tuning #1183

[2015-04-09 22:48] altsang commented on #1173
looks like we have a team decision on deprecating the direct usage of `host.action` called from the UI, we'll create a static list on the front end that does the mapping to the actions, this issue fixes the bifurcation of the front end item display

[2015-04-09 23:11] chandadharap commented on #1095
re-opening, and trying out before closing.

[2015-04-09 23:31] altsang commented on #1080
verified on master

[2015-04-09 23:32] #1080 closed

[2015-04-10 02:32] stacy-hunt commented on #1156
Design Review Feedback:

There are some alignment issues with the PID selector

[2015-04-10 04:17] chandadharap opened #1176 "Add sprint and/or range parameter to velocity tool"
I'd like to be able to check just this Sprint. or a shorter range as time goes on. May be good to start at Sprint 62 as default instead of Sprint 55. 62 was f2f. A good marker.

[2015-04-10 04:45] chandadharap commented on #1098
The two stories are a bit empty. The result of the Spike should have some details of implementation. And the UX story needs details. Maybe something like in the Description.

[2015-04-10 04:49] chandadharap commented on #1095
- Installed strongloop from staging.
- Got cloned the feature branch for pre-alpha-tracing

ran "slc arc" Could not figure  how to get to Traces. Whats the url?

[2015-04-10 15:51] ritch commented on #1138
@seanbrookes @sam-github

I've reproduced the issue. I'm pretty sure this isn't caused by the http proxy / embedded pm. I see that the browser is sending a

[code]

action after I hit play and the app starts successfully. Any idea why? I'm assigning to @seanbrookes to take a look. If this ends up to be something I can help with let me know, but I'm not sure what else to look into ATM.

[2015-04-10 16:14] sam-github commented on #1098
Also, the stories need time estimates, and if there are options, then time estimates per option.

[2015-04-10 16:25] jtary commented on #1162
- Run "slc start" when user clicks run from the app controller
 - Auto-attach the running PM to the app controller when starting Arc
 - Add limited information from "slc ctl status" to app controller info window
 - Auto-detect running PM, and auto populate into the PM list
 - Change defaults for metrics and tracing to use local PM
 - Prompt user when logining out of Arc if PM is still running the

[2015-04-10 16:29] jtary commented on #1161
See https://waffle.io/strongloop-internal/scrum-nodeops/cards/5523433b30374d1100616afc

[2015-04-10 21:04] chandadharap opened #1179 "Replace license check in strong-agent with license wrapper module"
(Need for Entitlement release) For metrics and watchdog.

[2015-04-10 23:01] seanbrookes commented on #1138
there is a start attempt limit put in to avoid run away problems with broken apps

it was only set to 5 (about 3.5 seconds) so the app didn't have time to start

I bumped it up to 50 (approx 35 seconds) which should be plenty of time - plus Sam has added  a single shot element to the pm start so things should be good here

PR: https://github.com/strongloop/strong-arc/pull/1180

[2015-04-11 03:32] rmg commented on #1179
@chandadharap shouldn't this should be on strongloop-internal/scrum-nodeoops or strongloo/strongops instead of strongloop/strong-arc?

[2015-04-11 04:12] chandadharap commented on #1179
Whoops. I'll move/redo.

On Friday, April 10, 2015, Ryan Graham <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-p

[2015-04-11 04:17] #1179 closed

[2015-04-11 05:21] altsang commented on #1134
@anthonyettinger this looks great, just one thing though - copy button is gray because it's a secondary button correct?

[2015-04-11 05:22] altsang opened #1181 "Licensing: VD review"
@stacy-hunt please review licensing key secondary action, I've already tested functionality

you must sync to master, gulp build and then run arc against myapp

[2015-04-11 05:22] #1134 closed

[2015-04-11 15:42] altsang commented on #1119
@stacy-hunt did you get this squared away?

[2015-04-12 21:36] stacy-hunt commented on #1119
Yep we got it sorted. The icing on the cake would be to have the icon centre-aligned horizontally with the label (currently it's bottom aligned). Anthony said it might not be too easy but he'll have a go. It's not critical so we can tick this card off as complete.

[2015-04-12 21:37] #1119 closed

[2015-04-13 15:52] chandadharap commented on #1176
wrong repo, closing.

[2015-04-13 15:52] #1176 closed

[2015-04-13 17:51] cgole commented on #1138
It is now failing on this error -

/usr/local/lib/node_modules/strongloop/node_modules/strong-supervisor/node_modules/strong-trace/node_modules/strong-trace-instrument/node_modules/strong-trace-scopetracer/node_modules/strong-trace-scopenodes/node_modules/esprima/esprima.js:3734
2015-04-13T17:50:29.555Z pid:80130 worker:1             throw e;
2015-04-13T17:50:29.555Z pid:80130 worker:1

[2015-04-13 17:54] cgole commented on #1025
verified

[2015-04-13 18:53] anthonyettinger commented on #1093
@kraman need those example API calls and responses.

[2015-04-14 00:10] stacy-hunt commented on #1181
DIALOG:
- The padding is too small
- The heading in the comp should not be bold; it's correct in the app, I'll amend the comp.
- The text area (that contains the key string) shouldn't have rounded corners
- The "Copy" and "OK" buttons should both be the same width
- "OK" should be all caps
- Remove the resize handle from the text area if possible. It's not needed and can get some screwed up appear

[2015-04-14 00:43] chandadharap commented on #1095
The branch works. I was missing an updated strong-mesh-client and strong-mesh-models from staging.

[2015-04-14 00:44] #1095 closed

[2015-04-14 00:48] chandadharap commented on #1162
Lets create as three stories as follows. If you can review  the break up and tell me if that makes sense or not, i can create.

Integrate with slc start:
- [ ] Run "slc start" when user clicks run from the app controller
- [ ] Auto-attach the running PM to the app controller when starting Arc
- [ ] Add limited information from "slc ctl status" to app controller info window

Populate PM
- [ ] Auto-

[2015-04-14 00:50] chandadharap commented on #1098
Commented on #1162 - Story for implementation, PTAL.

[2015-04-14 05:28] seanbrookes commented on #1138
hmm, that looks like a poblem with strong-trace, not with App Controller.  I'll test again and check with Krishna if I see the same error.

[2015-04-14 15:56] cgole commented on #1138
Steps to repro are the same as before -

create simple loopback app
start arc
click on app controller to start app
Expected - App should start
Actual - App tries to start and then fails.

output from console in Debug mode - https://github.com/strongloop/strong-arc/issues/1138#issuecomment-92444463

[2015-04-14 16:13] jtary commented on #1162
@chandadharap Looks pretty good, though the "prompt" when exiting Arc isn't metrics specific, so it should probably be part of the first story. Updating the default probably should be changed in the profiling, metrics and tracing -- though tracing would require that the slc-start PM is added to the strong-mesh host list, so that could be a bit more complicated. I'll have to ask @seanbrookes about

[2015-04-14 18:32] chandadharap opened #1183 "Performance issue with loading Heap and CPU profilers in Arc/Chrome Dev tools"
Ben looking into it: this issue is related to importing into chrome dev tools and not necessarily related to Arc render or payload.

[2015-04-14 21:17] chandadharap commented on #1075
Sumitha said its covered. Victoria created the original. closing.

[2015-04-14 21:17] #1075 closed

[2015-04-14 21:36] cgole commented on #939
This is still a problem.

[2015-04-14 21:38] cgole commented on #1043
right now, this is completely broken because of https://github.com/strongloop/strong-arc/issues/1129

[2015-04-14 23:03] cgole commented on #1042
verify this after #1129 is fixed

[2015-04-14 23:04] cgole commented on #1039
not relevant anymore

[2015-04-14 23:04] #1039 closed

[2015-04-14 23:04] cgole commented on #1041
not relevant anymore

[2015-04-14 23:04] #1041 closed

[2015-04-14 23:05] cgole commented on #1037
not relevant anymore

[2015-04-14 23:05] #1037 closed

[2015-04-14 23:05] cgole commented on #1038
not releavmt anymore

[2015-04-14 23:05] #1038 closed

[2015-04-14 23:08] seanbrookes commented on #1150
notes from UX meeting to settle UX / VD loose threads
- header needs white background
- add heap to chart
- small chart to start
- cursor on chart
- select a timeframe to view available traces (label)
- transactions become traces string change
- traces from (on trace view)
- pointer open close on toggle views
- click to drill down
- triangle to open/close on trace view
- click to drill down on tra

[2015-04-14 23:08] cgole commented on #1026
@ben is working on profiler performance issues. Will revisit this once that is fixed. https://github.com/strongloop/strong-arc/issues/1183

[2015-04-14 23:08] cgole commented on #946
not a bug anymore

[2015-04-14 23:08] #946 closed

[2015-04-14 23:12] cgole commented on #883
outdated

[2015-04-14 23:12] #883 closed

[2015-04-14 23:13] cgole commented on #882
outdated

[2015-04-14 23:13] #882 closed

[2015-04-14 23:13] cgole commented on #879
outdated

[2015-04-14 23:13] #879 closed

[2015-04-14 23:14] cgole commented on #758
irrelavent

[2015-04-14 23:14] #758 closed

[2015-04-14 23:15] #727 closed

[2015-04-14 23:16] cgole commented on #724
broken down into smaller issues

[2015-04-14 23:16] #724 closed

[2015-04-14 23:18] cgole commented on #662
This should now work with env-set/get

[2015-04-14 23:21] #555 closed

[2015-04-14 23:24] crandmck commented on #662
Updated http://docs.strongloop.com/display/NODE/Known+issues#Knownissues-Build&Deploy.

[2015-04-15 04:44] chandadharap opened #1184 "Integrate Arc with slc start"
Integrate with slc start:
- [ ] Run "slc start" when user clicks run from the app controller
- [ ] Auto-attach the running PM to the app controller when starting Arc
- [ ] Add limited information from "slc ctl status" to app controller info window
- [ ] Prompt user when logining out of Arc if PM is still running the app

[2015-04-15 04:50] chandadharap opened #1185 "Populate "slc start" pm with Arc PM list"
Populate PM
- [ ] Auto-detect running PM, and auto populate into the PM list

[2015-04-15 04:52] chandadharap opened #1186 "Update local pm on all Arc Modules"
Update metrics module:
- [ ] Change defaults for profiling, metrics and tracing to use local PM

[2015-04-15 04:54] chandadharap commented on #1098
Created #1185, #1186, #1187

[2015-04-15 04:54] #1098 closed

[2015-04-15 04:56] chandadharap commented on #1162
Captured in #1185, #1186, #1187

[2015-04-15 04:56] #1162 closed

[2015-04-15 16:03] #1106 closed

[2015-04-15 16:08] #1025 closed

[2015-04-15 22:20] cgole commented on #1138
verified

[2015-04-15 22:20] #1138 closed

[2015-04-15 23:04] stacy-hunt commented on #1093
Visual Comp:

![Uploading image.png . . .]()

[2015-04-16 17:12] chandadharap opened #1187 "Integrate final VD comps for API Analytics"

[2015-04-16 17:14] chandadharap opened #1188 "Integrate Express-Metrics with strong-mesh-models based api"

[2015-04-16 17:15] chandadharap commented on #1188
@ritch on stand-by for Krishna.

[2015-04-16 17:16] chandadharap opened #1189 "Announcement Blog/Video for API Analytics"

[2015-04-16 17:16] chandadharap opened #1190 "Dev blog on API Analytics/Metrics/Express-metrics"

[2015-04-16 20:41] chandadharap opened #1191 "Document Arc watchdog feature with caveat for Linux"

[2015-04-16 21:04] chandadharap commented on #1149
https://github.com/strongloop-internal/scrum-nodeops/issues/431

[2015-04-16 21:15] chandadharap opened #1192 "Arc Traces should have critical unit/integration tests"
- [ ] Depends on solving the polling issue (protractor)

[2015-04-16 21:18] chandadharap opened #1193 "Pre-Release plan for Traces"

[2015-04-16 22:10] chandadharap commented on #1175
dup

[2015-04-16 22:10] chandadharap commented on #1175
dup

[2015-04-16 22:10] #1175 closed

[2015-04-16 22:59] crandmck commented on #923
Since we removed the short section from LB Getting Started that used to talk about resizing clusters (via `slc run --cluster x`), I suggest we gently introduce/cross-reference some NodeOps capabilities from the LB G.S. as follows:
- In [Getting Started (part 1)](http://docs.strongloop.com/display/LB/Getting+started+with+LoopBack) add a new chapter at the end (before "Learn More") that explains how

[2015-04-16 23:12] stacy-hunt commented on #1107
Proposed design change to the delete icon:

[2015-04-16 23:50] stacy-hunt commented on #1087
How's this?

![image](https://cloud.githubusercontent.com/assets/1924932/7193652/fb951726-e4f7-11e4-9e52-c6d06beb68e9.png)

[2015-04-16 23:54] stacy-hunt commented on #1114
This is a duplicate card, it's covered by 1181.

[2015-04-16 23:54] #1114 closed

[2015-04-16 23:55] seanbrookes commented on #1087
I like

On Thu, Apr 16, 2015 at 4:50 PM, stacy-hunt <notifications@github.com>
wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/> like monitoring,
debugging and clustering**.*

[2015-04-17 06:18] chandadharap commented on #1171
@stacy-hunt  Can this be verified before Monday morning please, I'd like to close out Sprint on Monday.

[2015-04-17 06:19] chandadharap commented on #1156
@stacy-hunt  Can this be verified before Monday morning please, I'd like to close out Sprint on Monday.

[2015-04-17 06:57] chandadharap commented on #1139
Should this be assigned to Al?

[2015-04-17 20:42] stacy-hunt commented on #1171
Yep, there's been a technical issue with me getting a look at it but Joe and I are working to resolve it. I'm sure we'll get it closed by then.

[2015-04-17 20:45] stacy-hunt commented on #1139
Possibly assign it to Joe for now. We finished the design this week without Al, but he had approved of where we were going with it. Joe's building it already.

[2015-04-17 20:52] stacy-hunt commented on #1156
Yeah it's good to go.

[2015-04-17 20:52] #1156 closed

[2015-04-17 21:06] stacy-hunt commented on #1152
![image](https://cloud.githubusercontent.com/assets/1924932/7210945/2a13272a-e5aa-11e4-814e-14f671e18b43.png)

![image](https://cloud.githubusercontent.com/assets/1924932/7210948/3546b512-e5aa-11e4-822d-42a9fa5fd78a.png)

[2015-04-17 21:07] #1152 closed

[2015-04-17 21:15] stacy-hunt commented on #1167
Visual Comp:

![image](https://cloud.githubusercontent.com/assets/1924932/7211080/8117cbec-e5ab-11e4-8c2e-9037b27bed5f.png)

[2015-04-17 21:16] #1167 closed

[2015-04-17 21:16] stacy-hunt commented on #1166
I think this is covered by 1167 right?

[2015-04-17 21:16] #1166 closed

[2015-04-17 21:23] stacy-hunt opened #1194 "Explore Multi-app functionality"
High level exploration of how multi-app would affect the Arc UI

[2015-04-17 22:21] cgole commented on #1067
This happens almost everytime I try. ie in the first attempt to build it always fails

[2015-04-17 22:58] jtary commented on #1145
- [] square off the corners of the dialog components

[2015-04-17 23:00] stacy-hunt commented on #1171
Design Review:

- The corners should be square
- The primary button ("Close" in this case) should be right aligned with the content
      (looks like the difference is caused by the scrollbar)

![image](https://cloud.githubusercontent.com/assets/1924932/7212379/17741b14-e5ba-11e4-990e-181e89a8e7e7.png)

[2015-04-17 23:07] chandadharap commented on #1067
This has existed for so long that I would not hold up an interim release. But we should fix.

[2015-04-17 23:08] cgole commented on #938
As I scroll down I only see "pending data" These charts dont load at all

[2015-04-17 23:10] jtary commented on #1171
The scroll bar issue is pretty much impossible to fix, since every browser/OS has slightly different sized scrollbars, and there is no reliable way of figuring out how much extra padding to leave.  It's a pretty minor issue, and only really noticeable when you have some sort of boxing that shoes where the content edge is. Stacy and I both agreed that it was better for now to just avoid scrolling d

[2015-04-17 23:54] chandadharap commented on #1191
duplicate

[2015-04-17 23:54] #1191 closed

[2015-04-18 00:00] crandmck commented on #1153
Here are the IDs you will need: http://docs.strongloop.com/display/ARC/User+assistance+pages#Userassistancepages-Traces

[2015-04-18 05:35] chandadharap commented on #1093
status please?

[2015-04-18 06:58] altsang commented on #923
:+1: makes sense to me, anything to cross promote strong-pm would be good, go for it please

[2015-04-20 05:06] chandadharap commented on #1171
@jtarry Can we close this then?

[2015-04-20 11:27] stacy-hunt commented on #1171
As long as the corners are fixed. Which card is that issue being recorded in, Joe?

[2015-04-20 16:10] #1139 closed

[2015-04-20 16:10] #1171 closed

[2015-04-20 16:29] crandmck opened #1196 "Cannot run Express app created by Express app generator"
The [Express app generator](https://github.com/expressjs/generator) is the "basic / getting started" way we tell people to create a new Express app: http://expressjs.com/starter/generator.html.

However, you cannot run an application created with it using Arc (or `sl-run`) because the requirement is (per Sam):
[code]

See https://github.com/strongloop/strong-supervisor/blob/master/bin/sl-run.txt#L

[2015-04-20 17:08] altsang commented on #1087
this looks great, thx @stacy-hunt, do we have a story to implement?

[2015-04-20 17:10] altsang opened #1197 "app controller: implement new play button icon"
As an Arc user I would the app controller icon to be as intuitive as possible based on what it does.

- [ ] implement new icon in #1087 in styleguide
- [ ] retrofit in Arc

[2015-04-20 17:12] #1087 closed

[2015-04-20 17:17] altsang opened #1198 "Delete Icon: retrofit tables in Composer and Process Manager"
As a SL Arc user using the Process Manager, it wasn't intuitive how to delete a row when I was using the GUI for the first time.  I would want a more intuitive UX to know how to delete a row.

- [ ] implement #1107 in styleguide
- [ ] retrofit in process manager and composer

[2015-04-20 17:24] altsang commented on #1107
LGTM implementation in styleguide and retrofit in #1198

[2015-04-20 17:25] altsang commented on #1107
any other comments @anthonyettinger, @seanbrookes, @jtary? closing out to mark done in sprint

[2015-04-20 17:25] #1107 closed

[2015-04-20 21:30] chandadharap commented on #1150
This was incorrectly estimated. Took between 8 to13 points.

[2015-04-20 21:31] altsang commented on #1150
ouch, thx for heads up

[2015-04-20 23:40] chandadharap opened #1199 "Arc interim bugfix release"
- [ ] Review all issues with label "Arc bugfix release"
- [ ] Fix, QA and release

[2015-04-21 04:15] chandadharap commented on #1129
Chandrika confirms this is still a bug.

[2015-04-21 04:16] chandadharap commented on #1173
This isn't technically a bug, but a UX re-do. Removing the bug label.

[2015-04-21 15:12] seanbrookes commented on #1151
this has started and will take a couple of sprints to work out the details with Anthony and Joe.  I can happen in parallel and shouldn't be considered a show stopper

[2015-04-21 15:13] seanbrookes commented on #1129
I have seen it as well

[2015-04-21 15:14] seanbrookes commented on #1192
I can timebox this to a 3 (day and a half?) to see how viable tests are

[2015-04-21 15:15] seanbrookes commented on #1192
see #457 (https://github.com/strongloop-internal/scrum-nodeops/issues/457) as ref

[2015-04-21 16:02] cgole commented on #1067
surprisingly, I did not run into this issue yesterday

[2015-04-21 16:13] cgole commented on #924
This is an issue. When I mark as 'strict and save, the model is saved and the json contains "strict": false

[2015-04-21 16:20] sam-github commented on #1151
@chanda I pushed back into planning so we talk about it in planning. It looks like its an ongoing refactor that will happen as UI work goes on.

[2015-04-21 16:28] chandadharap commented on #1093
Spoke with Al, everyone in sync.. closing the Spike.

[2015-04-21 16:28] #1093 closed

[2015-04-21 16:31] cgole commented on #740
verified. not an issue.

[2015-04-21 16:31] #740 closed

[2015-04-21 16:31] altsang commented on #1073
updated yesterday with two distinct interactions - counts and trends
MVP is to implement counts with bars

[2015-04-21 16:31] cgole commented on #598
@chandadharap, not sure why this is in planning

[2015-04-21 16:31] chandadharap commented on #1181
@anthonyettinger to true this up

[2015-04-21 16:47] crandmck commented on #923
@DeniseLee Let's talk about this.  I think it should be relatively straightforward.

[2015-04-21 16:53] cgole commented on #851
still an issue

[2015-04-21 16:53] cgole commented on #851
still an issue

[2015-04-21 19:02] anthonyettinger commented on #1073
- See https://github.com/strongloop/strong-mesh-models/pull/39 for samples
 - histogram example: http://bl.ocks.org/mbostock/1283663
 - @anthonyettinger added a mock server with 1 days worth of data
            `node test/mock-express-usage-record.js`
 - VC mockup: https://drive.google.com/folderview?id=0B1FTzkB7697Gd09PclJkZVNueFk&usp=sharing
 - Stacy's prototype: https://drive.google.com/folderv

[2015-04-21 19:14] altsang commented on #1150
should this be assigned to @stacy-hunt to verification?

[2015-04-21 20:18] chandadharap commented on #1150
For this one I'm doing functional review because of how the pre-alpha implementation story was structured last Sprint. I'm also working with a few others for perf tuning, so yes, it  is me.

But to your point, I'll ask @seanbrookes to review with Stacy for VD during the UX meetings. I am ofcourse not reviewing Visual Design. Thanks for pointing that part out!

[2015-04-21 21:50] cgole commented on #1192
@sean, if you can get setup on your local environment, I'll set it up on CI, after I get back on monday

[2015-04-21 21:51] jtary commented on #1129
It looks like the problem is that the 'app' value returned by the API call to ManagerHosts is null, even though there is an app running

[2015-04-22 16:14] seanbrookes commented on #924
See Arc PR #1200

[2015-04-22 17:24] seanbrookes commented on #1153
initial feedback on the topic list:
- CPU and memory consumption	6718806 - this is really a 'trace timeline navigation' component that happens to show memory and cpu metrics so we might want to adjust the title/context of this topic
- Event loop summary statistics	6718810 - this should be broken into 2 distinct topics:
    - Event Loop is a specific compoent of the module
    - Trace Summary is a

[2015-04-22 17:25] seanbrookes commented on #1153
I'm thinking there should be a top-level topic describing the tracing feature and IA - is that baked in somewhere else?

[2015-04-22 18:06] crandmck commented on #1153
Not sure what IA is (information architecture?), but the docs will have a general description of tracing and the UA (help) will link to that.

[2015-04-22 18:40] seanbrookes commented on #1153
1) yes there will be 2 different icons in the UI
2) ok, I think there is still outstanding work to be done to contextualize the 'global' help link. probably should be a separate story

[2015-04-22 19:07] chandadharap commented on #1153
By contextualize if you mean: add content to Document Traces, there is a
story for documenting Traces in docs.*.
You should just create an icon for this global link and not need another
story.

On Wed, Apr 22, 2015 at 11:40 AM, Sean Brookes <notifications@github.com>
wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.

[2015-04-22 20:08] crandmck commented on #1153
Ah, I think I understand what you're talking about now.  The "global" help link for each module, e.g. for PM:  http://screencast.com/t/th5pDJkmuK
There should be one for Traces as well, of course.  I would think that would be covered by this story, but you could create a separate one if you wish.

[2015-04-23 09:55] BenjaminHorn opened #1202 "Strongloop model migration"
I'm using StrongLoop Arc 1.1.0. I made a postgre test database.  Installed loopback-connector-postgresql, and filled the credentials for the ''db" DataSource. The test connection was success.

I made a very simple model "currency" only with one property.
[code]
 In explorer I can see it.

![strongloop](https://cloud.githubusercontent.com/assets/5570232/7294337/8d2c95c0-e9ac-11e4-99d3-dbb8378e9967.

[2015-04-23 11:56] BenjaminHorn commented on #1202
If i  make a new data source for postgre it works as expected. Looks like altering the 'db' data source was not a good idea.

[2015-04-23 11:56] #1202 closed

[2015-04-23 19:04] seanbrookes commented on #1153
I don't think the 'global help' link in Arc has been mofied to provide links specific to the current module you have open.  That is work that needs to be done

[2015-04-23 19:06] seanbrookes commented on #1153
I stand corrected.  the global documentation link in Arc is wired up to the current module.  great news

[2015-04-23 20:55] chandadharap commented on #1173
assigning to @altsang

[2015-04-23 22:05] chandadharap commented on #1150
I had several difficulties with the  interaction with the UI and also understanding your list.
Probably need a hangout and a screenshare so I can understand what these refer to:

What does selecting a timeframe refer to?

Below means what exactly?

If  this is what I thin it is, its extremely buggy

I don't see any triangle

Don't see a hover behavior either

Moving back to make sure we circle bac

[2015-04-23 23:12] altsang opened #1203 "Watchdog: detect when new profile data is available, and notify the user"
As a devops user using Arc or slc to profile an active PID, we would like to set default limits for profiling in either regular or "smart" (watchdog) mode so that we don't exhaust system resources.

please see - https://docs.google.com/a/strongloop.com/document/d/1igoR3uav1xxrhhaoGGumsLnMPKscBzzAzy0KOpBx18o/edit#heading=h.acevxexo7vt7 for proposed first iteration

- [x] on the front end, we should

[2015-04-23 23:35] seanbrookes commented on #1150
we should review this together so I can explain but here is an attempt:
[code]
it is some label text to help the user know to click on the chart (as per Issac)

[code]
this is just a string change to move from 'transactions' to 'trace' terminology in the ui

[code]
this was the summary text when you start to drill down but has been replaced with the breadcrumb component to save vertical space on t

[2015-04-23 23:36] altsang commented on #1173
OSSM!  verified on master

[2015-04-23 23:36] #1173 closed

[2015-04-24 15:00] chandadharap commented on #1150
okay, got it. ill move to to close. but will make sure I review the sticky-ness of  the cursor with you later today.

[2015-04-24 15:00] #1150 closed

[2015-04-24 15:06] seanbrookes commented on #1150
I'll give you a tour

[2015-04-24 19:02] jtary commented on #1129
Put a work around into arc and mesh-client so that the status shows correctly again. A more proper fix is need in the PM, which will go in as part of https://github.com/strongloop-internal/scrum-nodeops/issues/497

[2015-04-24 19:59] crandmck commented on #1146
When ready to document, add to http://docs.strongloop.com/display/SLC/Triggered+CPU+profiling+with+Arc (hidden draft).

[2015-04-27 16:08] #1153 closed

[2015-04-27 19:36] cgole commented on #1129
verified

[2015-04-27 19:36] #1129 closed

[2015-04-27 20:19] cgole commented on #924
verified

[2015-04-27 20:19] #924 closed

[2015-04-27 20:24] cgole commented on #1043
dont see this anymore

[2015-04-27 20:24] #1043 closed

[2015-04-27 22:01] cgole opened #1207 "autocomplete for hostname covers "local application""
see screenshot

[2015-04-27 22:02] cgole commented on #1207
![screen shot 2015-04-27 at 3 00 20 pm](https://cloud.githubusercontent.com/assets/991632/7358935/53a4406a-ecee-11e4-924a-70fc0ab381fe.png)

[2015-04-27 23:45] ritch commented on #1203
So the conclusion from the offline discussion was essentially:

 - we'll poll from the browser for `Profile` state updates
 - `pm` should keep the `Profile` up to date including `currentlyRunning` and `completed` (or similar)

[2015-04-27 23:48] altsang commented on #1203
cool - and that there will be multiple smart profiling PIDs at the same time, therefore for each PID that exceeds the cycle count number - we want to collect the profiles as they are ready

[2015-04-28 17:27] nwwells commented on #1110
+1

[2015-04-28 17:28] nwwells commented on #1110
$ slc --version
strongloop v3.0.6 (node v0.12.0)
├── strong-arc@1.1.0
├── strong-build@1.0.3 (5a43a57)
├── strong-deploy@1.2.0 (1c78f8d)
├── strong-pm@3.1.9 (9579431)
├── strong-registry@1.1.4 (aab3dbb)
├── strong-start@1.0.3 (b23e63f)
├─┬ strong-supervisor@1.5.1 (d9364bd)
│ └── strong-agent@1.4.0
├── generator-loopback@1.9.0 (b90e9cd)
├── node-inspector@0.7.4
└── nodefly-register@0.3.3

[2015-04-28 22:17] altsang opened #1209 "Arc: add new component for pop-up dialogue to styleguide"
As a SL developer, I need to be able to bring up a more information and options to a user while not leaving the full context of the screen so I would like an component to be able to optionally bring up a set of options on demand.

@stacy-hunt to append specs to be reviewed by team and implemented in styleguide

[2015-04-29 22:08] stacy-hunt commented on #1145
Visual Comp
- The popup dialog shown will be added to the styleguide in card 1209
![image](https://cloud.githubusercontent.com/assets/1924932/7402509/b4bdac72-ef20-11e4-9cd8-5adfbe1abc63.png)

![image](https://cloud.githubusercontent.com/assets/1924932/7402515/c93e6826-ef20-11e4-91d5-80ff895e38ff.png)

[2015-04-29 22:11] altsang commented on #1145
thx @stacy-hunt!

@jtary we will want the "pop-up" box as a augmentation of the existing component for drop down box dialoges or something new for the styleguide per our discussion

[2015-04-29 22:18] altsang commented on #1145
@stacy-hunt we'll want to be consistent on the labels and messaing:

`Smart` and `Full`

can you please change the choice slider to `Full`? and the border less button that says `Limited Profile 1000ms` to `Smart Profile 1000ms`
thx!

[2015-04-30 04:08] stacy-hunt opened #1210 "Add System Notification Message to Styleguide"
Part of the messaging framework, this message is for important system-wide events that require the user to acknowledge they have seen it, but shouldn't stop them from carrying on with their work.

![image](https://cloud.githubusercontent.com/assets/1924932/7624797/1a0fc42a-f9a3-11e4-94d8-1b5cf6a4bb55.png)

Link to Bell.svg in Google Drive: https://drive.google.com/open?id=0B1FTzkB7697GOThtNFZ0VDBp

[2015-04-30 04:26] stacy-hunt opened #1211 "Add System Information Message to Styleguide"
Part of the messaging framework, this message alerts the user when there is something generally useful to know that doesn't require them to take any action or acknowledge that they've seen it. It slides in from the top right corner of the screen, pauses for 5 seconds, then slides back out again.

![image](https://cloud.githubusercontent.com/assets/1924932/7624823/7d0047ee-f9a3-11e4-938c-7c8646724d

[2015-04-30 09:19] stacy-hunt opened #1212 "Add System Defcon Message to Styleguide"
This message appears when there is critical information about the app that requires the user to acknowledge they know about it before proceeding. It is a modal dialog which greys out the background.

![image](https://cloud.githubusercontent.com/assets/1924932/7624873/8c2c6bca-f9a4-11e4-9054-d1a5683f77f4.png)

[2015-04-30 10:24] stacy-hunt opened #1213 "Add Context Information Message to Styleguide"
This message shows useful but not crucial information when hovering over an interactive element. Sometimes it can be triggered by clicking the element.

![image](https://cloud.githubusercontent.com/assets/1924932/7624763/ce979748-f9a2-11e4-9867-f19190bd818f.png)

[2015-04-30 10:26] stacy-hunt opened #1214 "Add Context Notification Message to Styleguide"
This message shows important information about an interactive element whenever it is in focus.

![image](https://cloud.githubusercontent.com/assets/1924932/7411003/04da3722-ef88-11e4-9d5b-1a45415c335b.png)

[2015-04-30 10:28] stacy-hunt opened #1215 "Add Context Defcon Message to Styleguide"
This message shows critical information about an interactive element that the user must address before they can continue to use it.

![image](https://cloud.githubusercontent.com/assets/1924932/7411027/491a8e50-ef88-11e4-8e1b-0f4033c53802.png)

[2015-04-30 15:25] altsang opened #1216 "need to display licensing messages in Metrics module"
As a SL developer using the styleguide, I need to have a consistent way of messaging the user at the global level so that I can notify them without raising exceptions, only information.

- [ ] implement notification message to be defined in styleguide in #1210

[2015-04-30 15:26] altsang commented on #1210
/cc: @chandadharap

assigning to @anthonyettinger per instructions

[2015-04-30 15:31] altsang commented on #1216
/cc: @chandadharap

assigning to @anthonyettinger per instruction

[2015-04-30 15:33] altsang commented on #1210
LGTM, @seanbrookes, @jtary - please provide comments ASAP, thx

[2015-04-30 15:43] seanbrookes commented on #1210
- The dimensions need to be relative, not finite as different screen sizes and resolutions with throw fixed size demensions off.
- should the button reflect primary action (color)?

[2015-04-30 15:46] seanbrookes commented on #1215
it would be good to see this in the context of a larger view.  i.e what happens if the exception happens in a datagrid row or a more complex form layout?  Where does the top message show up?

[2015-04-30 15:48] seanbrookes commented on #1213
font sizes should be in relative sizes (rem's or %'s)

[2015-04-30 15:49] seanbrookes commented on #1212
I know I sound like a broken record here but the dimensions should be relative to account for different resolutions and screen sizes

[2015-04-30 15:51] seanbrookes commented on #1212
Also, can we either define what defcon means or come up with a different way of communicating what context the message applies to?

[2015-04-30 15:52] seanbrookes commented on #1211
relative dimensions please

[2015-04-30 15:56] altsang commented on #1211
Good catch, yes pls

[2015-04-30 15:57] altsang commented on #1213
@stacy-hunt please see above

[2015-04-30 15:57] altsang commented on #1210
@stacy-hunt pls see above

[2015-04-30 16:21] #1188 closed

[2015-04-30 17:21] chandadharap commented on #1073
Note: Graphs and final designs came in Thursday. There are changes. Some scope increase.

[2015-04-30 18:34] cgole commented on #938
verified. Looks much better now!!!

[2015-04-30 18:35] #938 closed

[2015-04-30 19:15] stacy-hunt commented on #1145
I'm going to be making a card for that new dialog today - but Al, just to
confirm, when you say "drop down" you mean "pop-up" right?

On 30 April 2015 at 10:11, Al Tsang <notifications@github.com> wrote:

[2015-04-30 19:21] stacy-hunt commented on #1145
Yeah good catch thanks Al. I should have noticed that myself... I've
updated the comps.

On 30 April 2015 at 10:18, Al Tsang <notifications@github.com> wrote:

[2015-04-30 19:34] stacy-hunt commented on #1210
The software I use to design doesn't have rems as a measurement option. I'm not sure how I could give the values in rems without actually building the component; I can talk to Anthony about how we might do this, but I thought that it would be possible for the developer to do the conversion from pts to rems.

[2015-04-30 19:38] stacy-hunt commented on #1212
The description says "This message appears when there is critical information about the app that requires the user to acknowledge they know about it before proceeding." I'm not sure how I can define it any better than that... suggestions?

[2015-04-30 19:42] stacy-hunt commented on #1215
Sure, can we make a concise list of cases that need illustrating and I'll mock them up. So far we have:
- Exception in a table row

Anything else?

[2015-04-30 19:44] stacy-hunt commented on #1213
I've replied to this on 1210. Needs some discussion.

On 1 May 2015 at 05:37, Al Tsang <notifications@github.com> wrote:

[2015-04-30 19:49] seanbrookes commented on #1212
is there a key or legend that defines the different versions of defcon?  i.e how many levels of defcon are there?  what criteria must be met to be a 'defcon' ? etc.

[2015-04-30 19:53] stacy-hunt commented on #1212
Let's discuss this in the next UX meeting.

On 1 May 2015 at 07:49, Sean Brookes <notifications@github.com> wrote:

[2015-04-30 19:54] seanbrookes commented on #1212
what does the word 'defcon' even mean?  is it a ux\ui term?

[2015-04-30 19:58] stacy-hunt opened #1217 "Polish row - cell highlighting in tables"
The appearance of the table rows and cells when mousing over or selecting them is in an unpolished state. There are some technical issues with matching the design, but this card is a reminder that these look clunky and still need to be addressed.

[2015-04-30 20:03] stacy-hunt commented on #1212
![image](https://cloud.githubusercontent.com/assets/1924932/7421450/94c05e84-efd8-11e4-9612-c7388ed6ee75.png)

[2015-04-30 20:05] seanbrookes commented on #1212
ok thanks.  It will be important to codify these terms and definitions in the styleguide with these components

[2015-04-30 20:19] seanbrookes commented on #1210
- this gets to heart of the paradigm shift we need to make wrt our design approach so we should definitly discuss in our meeting.
- In this particular case the width and spacing dimensions could be shown in ratio to 100% width.
- combined with a working code prototype to demonstrate desired design/behaviour across different resolutions

[2015-04-30 21:00] altsang commented on #1145
sorry - bad bad terminology - yes "pop-up", thx

[2015-04-30 21:24] crandmck commented on #1146
NOTE: I already renamed the existing feature (as used with `slc`) in the docs.

[2015-05-01 16:05] jtary commented on #1185
Extra investigation:
  - [ ] Display local PM status on controller
  - [ ] Trigger SLC start on app-controller start

[2015-05-01 16:20] altsang opened #1221 "Licensing: update Arc licensing functions to use strongloop-license"
As a SL developer,it would be ideal to have one module that would perform the evaluation of licensing for product and features, so that it is easier to maintain, provides consistent behavior for option upon evaluation and unified messaging.

[2015-05-01 17:24] altsang opened #1222 "Epic: Requirements; Entitlement Phase 2: separate out product from feature on auth service"
As a SL sales manager, I would want to provide the explicit ability to specify license keys for individual products and individual features so that we can have better resolution on measuring usage and intent.

- [ ] auth service changes
- [ ] Arc logic changes for renewal
- [ ] Arc licensing page UX for requesting features and products
- [x] licensing wrapper API interface to check not just produc

[2015-05-01 17:39] altsang commented on #1216
invalid license message for Metrics to be displayed in notification banner:

@anthonyettinger - see below...

"StrongLoop Arc Metrics licensing missing or invalid. Please verify your licenses in the <link Licenses page>  If you have questions about your license or StrongLoop licensing please contact sales@strongloop.com."

[2015-05-01 19:42] anthonyettinger commented on #1216
ui component is in master now, example in styleguide. passing over to sean to implement license validity check on metrics

[2015-05-01 20:45] sam-github commented on #1196
Duplicate of https://github.com/strongloop-internal/scrum-nodeops/issues/400, I suggest closing this, and trying to get some attention paid to the other. Especially as this bug is against strong-arc.

[2015-05-01 22:50] chandadharap commented on #1149
@altsang strong-trace already uses license module, a sprint or more ago. And it works as expected. Sean created this story for front-end messaging. Hope thetre isnt any confusion.

[2015-05-02 20:20] ijroth commented on #1222
Just pointing out that at this time we don't have the need for feature-level licensing.

It would be nice to know who is using the connectors and tie that to our intelligence on Arc.

[2015-05-03 03:25] seanbrookes commented on #1216
Metrics implementation is on master now

[2015-05-04 03:39] altsang commented on #1216
hmmm do you have a test environment?  I tried testing on my own instance, but I can't see the notification message...

[2015-05-04 03:42] seanbrookes commented on #1216
I was using Anthony's account as he has access to the auth service and can manually disable individual module license references.
It is difficult to generate a 'bad' license for the metrics module as it auto renews very easily

[2015-05-04 03:44] seanbrookes commented on #1149
I used the same component / service as the metrics notification and things seem to work ok but I commented out the validation check as I don't know how to generate a valid license

[2015-05-04 04:21] altsang commented on #1216
discussed with @seanbrookes for clarification

@chandadharap, @anthonyettinger, @jtary, @cgole, @sumitha, @crandmck

super important info:
licensing checks that @seanbrookes has implemented are only consistent and reliable for embedded strong-pm, this is because the validation logic is checked against Arc's licenses and we know that the embedded PM is going to automatically inherit the licenses wh

[2015-05-04 04:23] altsang commented on #1149
@chandadharap, @jtary , @sam-github , @anthonyettinger @sumitha, @crandmck

same caveats for Tracing

please see - https://github.com/strongloop/strong-arc/issues/1216#issuecomment-98582359

[2015-05-04 04:35] chandadharap commented on #1216
@altsang We cannot document "embedded" strong-pm, the external user has no idea about "embedded strong-pm". We can say Metrics is enabled for viewing in the local application when Arc starts up.. or something appropriate. leaving it to @crandmck

Also can we please create a separate issue for your ask of @sam-github to implement  license reporting?

I'd like to keep this issue focused on iimplemen

[2015-05-04 04:51] altsang commented on #1216
Not suggesting we document embedded strong-pm, I'm clarifying for you guys what is going on.  Documentation we should just say trial works within Arc via app controller

[2015-05-04 04:54] chandadharap commented on #1216
thanks.

On Sun, May 3, 2015 at 9:51 PM, Al Tsang <notifications@github.com> wrote:

--
Chanda Dharap
Director, Engineering
@StrongLoop Inc
(510) 304-3924
chanda@strongloop.com

*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/str

[2015-05-04 05:02] altsang commented on #1216
@sam-github strongloop-internal/scrum-nodeops#547

[2015-05-04 16:19] crandmck commented on #1196
@chandadharap Your call.

[2015-05-04 20:40] anthonyettinger commented on #1028
I don't think we can browse these links as they aren't local. Can someone confirm?

[2015-05-04 20:41] anthonyettinger commented on #1028
@altsang ^

[2015-05-04 21:03] altsang commented on #1028
I've been meaning to log this bug for the longest time.  Correct - cannot be loaded locally unless you happen to have source and would have to match up in the right location.  Worse case can we disable the links via CSS?

[2015-05-05 04:00] chandadharap commented on #1073
Please update and re-estimate

[2015-05-05 04:00] chandadharap commented on #1187
Is this an 8 point story?

[2015-05-05 05:39] seanbrookes commented on #1192
I'm bumping the size of this b/c there are too many issues that need to be resolved in order to get any meaningfull tests set up for tracing.
We might start with building some coverage tests for strong-pm to make sure we can connect to the local default one and get pids back (maybe test license enablement).  Things we need to either setup an environment or need to mock:
- tracing licenensing
- pm

[2015-05-05 14:32] DeniseLee commented on #923
@crandmck, these are ready for your review. You might have to modify, but tried to take you as far as I could.  Two pages:
 http://docs.strongloop.com/display/LB/Deploying+your+application  and http://docs.strongloop.com/display/LB/Run+in+a+cluster

[2015-05-05 16:48] seanbrookes commented on #1149
seems this story still has some legs.
- we still need some messaging to the user for the case where they have a valid license key but still don't see traces data
- could be exception
- traces turned off
- app is not sending data
- very first time the user hits the module

[2015-05-05 16:48] altsang commented on #1222
@ijroth - this is for entitlement phase 2 - do not want to do this for phase 2?
if we don't, then a feature will expire, we will ask for renewal - at the product level -it might be possible to pass along what  actually expired and pass that info to segment.io but that's work as well

example)

product - connectors
feature - mssql connector, 3/4/2014, 5/4/2014 - expires

renewal logic in Arc will a

[2015-05-05 16:50] altsang commented on #1149
yep, @seanbrookes - https://github.com/strongloop-internal/scrum-nodeops/issues/547 FYI

[2015-05-05 16:50] chandadharap commented on #1149
@seanbrookes The above list you pointed out is basic Failure handling in teh app. Lets make a new story.

[2015-05-05 16:55] chandadharap commented on #1149
I created a new story for basic failure handling  that is not related to licensing,

[2015-05-05 18:11] chandadharap commented on #1151
@altsang is this priority for a release?

[2015-05-05 18:16] chandadharap commented on #1192
Break out a story for "(tracing focused) strong-pm ui tests" for this Sprint. Keep the rest as an Epic in backlog.  @cgole , @mg please help with set up.

[2015-05-05 18:20] altsang commented on #1151
not for release - but we need to true these up

[2015-05-05 20:18] anthonyettinger commented on #1073
Things to do

 - breadcrumb nav
- stacked bar chart

[2015-05-05 20:20] anthonyettinger commented on #1028
probably not with css, but I may be able to find where its creating the link and make it a span instead.

[2015-05-05 20:45] chandadharap commented on #1155
Not visible to Arc users , can we close?

[2015-05-05 20:55] chandadharap commented on #1187
Depending  on final VD comp,

[2015-05-05 23:28] crandmck commented on #923
@deniselee: I made a few edits to the articles.  I'm going to assign to Al for final review, then we can publish the articles.  Here are answers to your questions.

Yes, there's one already: https://github.com/strongloop/loopback-getting-started-intermediate/releases/tag/step7

This is probably because you were using FireFox.

[2015-05-05 23:29] crandmck commented on #923
@altsang: PTAL

New article in LoopBack Getting Started: http://docs.strongloop.com/display/LB/Run+in+a+cluster

New article in LBGS II:
http://docs.strongloop.com/display/LB/Deploying+your+application

[2015-05-05 23:31] #1155 closed

[2015-05-06 21:32] ijroth commented on #1222
My misunderstanding, I didn't realize what features meant. Al explained it to me.

[2015-05-07 00:24] altsang commented on #923
added two comments, thx @crandmck assigning back to you

[2015-05-07 00:26] altsang commented on #1028
nice - that sounds good to me!

[2015-05-07 05:31] chandadharap commented on #1199
done!! live.

[2015-05-07 05:31] #1199 closed

[2015-05-07 05:35] chandadharap commented on #1216
done.

[2015-05-07 05:35] #1216 closed

[2015-05-07 21:12] crandmck commented on #923
Incorporated your comments and published the articles.

[2015-05-07 21:12] #923 closed

[2015-05-11 04:05] chandadharap commented on #1073
As of Friday, i believe this was functionally done? And the VD integration in Progress?
If so, we should move to Done, because we'll use the integration story to QA/Verify.

[2015-05-11 04:07] chandadharap commented on #1193
Review and demo on Wed.

[2015-05-11 15:37] anthonyettinger commented on #1187
- See https://github.com/strongloop/strong-mesh-models/pull/39 for samples
 - histogram example: http://bl.ocks.org/mbostock/1283663
 - @anthonyettinger added a mock server with 1 days worth of data
            `node test/mock-express-usage-record.js`
 - VC mockup: https://drive.google.com/folderview?id=0B1FTzkB7697Gd09PclJkZVNueFk&usp=sharing
 - Stacy's prototype: https://drive.google.com/folderv

[2015-05-11 23:23] stacy-hunt opened #1232 "Add Breadcrumbs component to Stylegude"
![image](https://cloud.githubusercontent.com/assets/1924932/7577167/199283c0-f7fa-11e4-8d2f-c40797c3cbb6.png)

Link to SVG for separator: https://drive.google.com/open?id=0B1FTzkB7697Gblp3VXJuNllGdWc&authuser=0

[2015-05-12 12:16] bnoordhuis commented on #1183
I did some digging and I think part of the problem is very deep graphs in the heap dump.  (Short primer: a .heapsnapshot is basically a serialized cyclic graph of heap objects.)

I've noticed that snapshots generated by a node process (and unlike the average web page) frequently have paths that are many thousands of nodes deep and often with a great many cycles.

I speculate that DevTools is ill-e

[2015-05-12 15:49] #1073 closed

[2015-05-12 17:51] chandadharap commented on #1149
Done.

[2015-05-12 17:51] #1149 closed

[2015-05-12 23:17] altsang opened #1234 "power button: has become too overloaded, licenses page needs a new control"
As an Arc user I would want a more intuitive icon to go to so that I can find login/logout functions separately from where to find licensing.

- [ ] explore where to put licenses page and other Arc "settings"

[2015-05-12 23:28] ijroth commented on #1234
+1

[2015-05-12 23:31] altsang opened #1235 "API Analytics: need a new landing page icon"
As an Arc user, I would expect to be able to navigate to viewing API analytics from within the landing page so that I can access it easily

[2015-05-13 07:24] cebor commented on #1108
same issue here.

[2015-05-13 18:53] rmg commented on #1234
Could we at least replace the "power button" with something closer to the conventional [menu hamburger](https://www.iconfinder.com/icons/134216/hamburger_lines_menu_icon) so that there's some hint that it is a menu and not an exit/shutdown (not logout) button?

[2015-05-13 20:27] chandadharap commented on #1193
Created, tracking and updating in #576

[2015-05-13 20:28] #1193 closed

[2015-05-13 20:28] altsang commented on #1234
@rmg yes that was an option that we were going to bring up if it were to remain on the same menu versus introducing another icon

[2015-05-13 20:43] chandadharap opened #1238 "Announcement blog for Traces"
Due to Jimmy 16th June

[2015-05-13 20:47] chandadharap opened #1239 "Dev blog on "How to use Traces in Arc""

[2015-05-13 20:48] #1239 closed

[2015-05-13 21:48] stacy-hunt commented on #1234
The power button orginally only had one function, but it seems likely that
there will be other functions we need to add in the future, so I'd be in
favour of moving to a menu rather than cluttering up the UI with more
buttons. It does mean 2 clicks to log out, but lots of apps do that and
people are used to it. I don't really like the hamburger button
aesthetically, but it is well recognised so I

[2015-05-13 22:00] altsang commented on #1234
sounds good @stacy-hunt , yeah I don't like the hamburger button either, but from what little I can tell - seems to be getting traction for web and not only mobile

[2015-05-13 22:04] seanbrookes commented on #1234
+1 on the emergent hamburger icon convention

On Wed, May 13, 2015 at 3:00 PM, Al Tsang <notifications@github.com> wrote:

--
*StrongLoop <http://strongloop.com/>** makes it easy to **develop APIs
<http://strongloop.com/mobile-application-development/loopback/>** in Node,
plus get DevOps capabilities
<http://strongloop.com/node-js-performance/strongops/> like monitoring,
debugging and clustering**